<div class="panel panel-info">
    {%- block form_header -%}{%- endblock -%}
	<div class="panel-heading">
        {%- block form_start -%}
            {{- form_start(form, app.environment == 'dev' ? {'attr': {'novalidate': 'novalidate'}} : {}) -}}
            {{- form_errors(form) -}}
        {%- endblock form_start -%}
        {%- block form_content -%}
            <div class="custom-checkbox">
            {%- block form_a -%}{{- form_a|default('') -}}{%- endblock -%}
            {%- block form_b -%}{{- form_b|default('') -}}{%- endblock -%}
            {%- block form_c -%}{{- form_c|default('') -}}{%- endblock -%}
            {%- block form_d -%}{{- form_d|default('') -}}{%- endblock -%}
            {%- block form_e -%}{{- form_e|default('') -}}{%- endblock -%}
            {%- block form_f -%}{{- form_f|default('') -}}{%- endblock -%}
            {%- block form_g -%}{{- form_g|default('') -}}{%- endblock -%}
            {%- block form_access -%}{%- endblock -%}
            </div>
            {%- block form_cancel_btn -%}{{- form_cancel_btn|default('') -}}{%- endblock -%}
            {%- block form_submit_btn -%}
                {%- if form_submit_btn is defined -%}
                    {{- form_submit_btn -}}
                {%- else -%}
                    {%- include 'form/submit_edit_btn.html.twig' -%}
                {%- endif -%}
            {%- endblock form_submit_btn -%}
        {%- endblock form_content -%}
        {%- block form_end -%}
            {{- form_end(form) -}}
        {%- endblock form_end -%}
    </div>
    {%- block form_footer -%}{%- endblock -%}
</div>
