<div class="card fcard fcard-info">
	<div class="card-body">
		{{- form_start(form, {'attr': {'novalidate': 'novalidate'}}) -}}
		{{- form_errors(form) -}}
        {%- block form_content -%}
            {%- block form_a -%}{{- form_a|default('') -}}{%- endblock -%}
            {%- block form_b -%}{{- form_b|default('') -}}{%- endblock -%}
            {%- block form_c -%}{{- form_c|default('') -}}{%- endblock -%}
            {%- block form_d -%}{{- form_d|default('') -}}{%- endblock -%}
            {%- block form_e -%}{{- form_e|default('') -}}{%- endblock -%}
            {%- block form_f -%}{{- form_f|default('') -}}{%- endblock -%}
            {%- block form_g -%}{{- form_g|default('') -}}{%- endblock -%}
            {%- block form_access -%}{%- endblock -%}
            {%- block form_cancel_btn -%}{{- form_cancel_btn|default('') -}}{%- endblock -%}
            {%- block form_submit_btn -%}{{- form_submit_btn -}}{%- endblock -%}
        {%- endblock form_content -%}
        {{- form_end(form) -}}
    </div>
</div>
