{% extends 'mail/transaction/to_intersystem_mail_type.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'transaction_to_intersystem_mail_type_admin.subject'|trans({
        '%system_name%': config_str('system.name', schema),
        '%remote_system_name%': user_fullname(to_user_id, schema)
    })|raw -}}
{%- endblock subject_line -%}

{%- block html_pretext -%}
    {%- include 'mail/include/no_reply_auto.html.twig' -%}
{%- endblock html_pretext -%}

{%- block html_content_explain -%}
    {%- include 'mail/include/info_bgcolor_panel.html.twig' with {
        'info': 'transaction_to_intersystem_mail_type_admin.explain'|trans({
                '%remote_system_name%': user_fullname(to_user_id, schema)
            }),
        'bgcolor': 'fff8cf'
    } -%}
{%- endblock -%}

{%- block html_amount_time_explain -%}
    <tr>
        <td>
            {{- 'transaction_to_intersystem_mail_type_admin.amount_time_explain'|trans({
                '%amount%': transaction.amount,
                '%currency%': config_str('transactions.currency.name', schema),
                '%dec_hours%': amount_time.dec_hours
            }) -}}
        </td>
    </tr>
    {%- include 'mail/include/row_spacer20.html.twig' -%}
{%- endblock html_amount_time_explain -%}

{%- block html_transaction_link -%}
    <tr>
        <td>
            {{- context_url_open('transactions_show', mpp_admin_ary(schema),
                {'id': transaction.id})|raw -}}
            {{- 'label.link'|trans -}}
            </a>
        </td>
    </tr>
    {%- include 'mail/include/row_spacer20.html.twig' -%}
{%- endblock html_transaction_link -%}

{%- block html_support -%}{%- endblock -%}

{% block html_unsubscribe -%}
    {%- include 'mail/unsubscribe/admin.html.twig' -%}
{%- endblock html_unsubscribe %}

{% block text_pretext %}
{% include 'mail/include/no_reply_auto.text.twig' %}

{{ 'transaction_to_intersystem_mail_type_admin.explain'|trans({
    '%remote_system_name%': user_fullname(to_user_id, schema)
})|raw }}

{% endblock text_pretext %}

{% block text_content_explain %}{% endblock %}

{% block text_amount_time_explain %}

{{ 'transaction_to_intersystem_mail_type_admin.amount_time_explain'|trans({
    '%amount%': transaction.amount,
    '%currency%': config_str('transactions.currency.name', schema),
    '%dec_hours%': amount_time.dec_hours
})|raw }}

{% endblock text_amount_time_explain %}

{% block text_transaction_link %}
{{ 'label.link'|trans }}: {{ context_url('transactions_show',
    mpp_admin_ary(schema), {'id': transaction.id}) }}
{% endblock text_transaction_link %}

{% block text_support %}{% endblock %}

{% block text_unsubscribe %}
{% include 'mail/unsubscribe/admin.text.twig' %}
{% endblock text_unsubscribe %}
