<h4>
    {{- 'label.your_account'|trans -}}
</h4>

<ul>
<li>
    <a href="{{ login_url }}">
        {{- 'label.login'|trans -}}
    </a>
</li>
<li>
    {{- 'label.account_code'|trans -}}:&nbsp;
    <strong>
        {{- user.letscode -}}
    </strong>
</li>
<li>{{- 'label.username'|trans -}}:&nbsp;
    <strong>
        {{- user.name -}}
    </strong>
</li>
<li>{{- 'label.balance'|trans -}}:&nbsp;
    <strong>
        {{- user.saldo -}}
    </strong>&nbsp;
    {{- config('currency', schema) -}}
</li>
</ul>