{% extends 'mail/base/news_admin.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'news_review_admin.subject'|trans({
        '%name%': news.subject
    })|raw -}}
{%- endblock subject_line %}

{% block html_content %}

<h3>
    {{- 'news_review_admin.title'|trans -}}
</h3>

<p>
    {{- 'news_review_admin.message'|trans({
        '%name%': news.subject
    }) -}}
</p>

<p>
    <a href="{{- context_url('news_show', mpp_ary(user_id, schema), {'id': news.id}) -}}">
        {{- 'news_review_admin.action'|trans -}}
    </a>
</p>

{% endblock html_content %}

{% block text_content %}
{% autoescape false %}

{{ 'news_review_admin.title'|trans|underline }}

{{ 'news_review_admin.message'|trans({
    '%name%': news.subject
}) }}

{{ 'news_review_admin.action'|trans }}

{{ context_url('news_show', mpp_ary(user_id, schema), {'id': news.id}) }}

{% endautoescape %}
{% endblock text_content %}
