{%- extends 'tags/base/tags_base.html.twig' -%}

{%- block heading_fa -%}
    tags
{%- endblock -%}

{%- block heading_title -%}
    {{- 'tags.list.title'|trans({
        'tag_type': tag_type
    }) -}}
{%- endblock heading_title -%}

{%- block btn_top_add -%}
    {%- include 'include/btn_top/add.html.twig' with {
        'btn_route': 'tags_' ~ tag_type ~ '_add',
        'btn_title': 'tags.add.title',
        'btn_title_trans_params': {
            'tag_type': tag_type
        }
    } -%}
{%- endblock btn_top_add -%}

{%- set cancel_route = module|var_route -%}

{%- block assets_add -%}
    {{- parent() -}}
    {{- assets_add(['sortable', 'tags_list.js']) -}}
    {{- assets_add_var_css('tags_css.' ~ tag_type, schema) -}}
{%- endblock assets_add -%}

{%- block pre_form -%}
    <p>
        <ul>
            <li>
                {{- 'tags.list.explain'|trans({
                    'tag_type': tag_type })
                -}}
            </li>
             {%- if tag_type == 'users' -%}
                <li>
                    {{- 'tags_users.help.only_for_admins'|trans -}}
                </li>
             {%- endif -%}
        </ul>
    </p>
    <div class="list-group list-group-striped list-group-hover{% if tags|length > 1 %} grab{%- endif -%}" data-sortable data-sort-base>
    {%- for tag in tags -%}
        <div class="list-group-item" data-id="{{- tag.id -}}">
            {%- include 'include/tag.html.twig' with {
                'tag': tag
            } -%}

            {%- if module == 'users' -%}
                {%- if tag.count > 0 %} (
                    <a href="{{- path(module|var_route, pp_ary()|merge({'status': 'all', 'f': {'q': tag.txt}})) -}}">
                        {{- tag.count -}}
                    </a> )
                {%- endif -%}
            {%- else -%}
                {%- if tag.count > 0 %} (
                    <a href="{{- path(module|var_route, pp_ary()|merge({'f': {'tag[]': tag.id}})) -}}">
                        {{- tag.count -}}
                    </a> )
                {%- endif -%}
            {%- endif -%}
        <div class="pull-right">
            {%- include 'include/btn/edit.html.twig' with {
                'btn_route': 'tags_' ~ tag_type ~ '_edit',
                'id': tag.id,
                'btn_title': 'tags.edit.title',
                'btn_title_trans_params': {
                    'txt': tag.txt,
                    'tag_type': tag_type
                }
            } -%}

            {%- if tag.count == 0 -%}
                {%- include 'include/btn/del.html.twig' with {
                    'btn_route': 'tags_' ~ tag_type ~ '_del',
                    'id': tag.id,
                    'btn_title': 'tags.del.title',
                    'btn_title_trans_params': {
                        'txt': tag.txt,
                        'tag_type': tag_type
                    }
                } -%}
            {%- endif -%}
        </div>
        </div>
        {%- endfor -%}
    </div>
    <div class="mb-5p"></div>
{%- endblock pre_form -%}

{%- block form_a -%}
    {{- form_row(form.tags,{
        'attr': {'data-tags-input': ''}
    }) -}}
{%- endblock form_a -%}
