{%- set p_params = query_params.p ?? [] -%}
{%- set start = p_params.start ?? '0' -%}
{%- set limit = p_params.limit ?? '25' -%}
{%- set limit_options = {'10':'10', '25':'25', '50':'50', '100':'100', '250':'250', '500':'500', '1000':'1000'} -%}
{%- if limit_options[limit] is not defined -%}
	{%- set limit_options = limit_options|merge({limit: limit})|sort -%}
{%- endif -%}
{%- set page_num = (row_count / limit)|round(0, 'ceil') -%}
{%- set page = start // limit -%}

{%- set min_adj = page - 2 -%}
{%- set min_adj = min_adj < 0 ? 0 : min_adj -%}
{%- set max_adj = page + 2 -%}
{%- set max_adj = max_adj > (page_num - 1) ? page_num - 1 : max_adj -%}

<div class="row print-hide">
	<div class="col-md-12">
		{%- if row_count -%}
			<ul class="pagination">
				{%- if min_adj -%}
					{%- include 'include/pagination/pagination_link.html.twig' with {'p': 0} -%}
				{%- endif -%}
				{%- for p in min_adj..max_adj -%}
					{%- include 'include/pagination/pagination_link.html.twig' with {'p': p} -%}
				{%- endfor -%}
				{%- if max_adj != (page_num - 1) -%}
					{%- include 'include/pagination/pagination_link.html.twig' with {'p': page_num - 1} -%}
				{%- endif -%}
			</ul>
		{%- endif -%}
		<div class="pull-right hidden-xs">
			<div>
				{{- 'pagination.row_count_and_page_pos'|trans({
					'row_count': row_count,
					'page': page + 1,
					'page_num': page_num
				}) -}}
			</div>
			<div>
				<form action="{{- path(route, pp_ary()) -}}">
					{{- 'pagination.per_page'|trans -}}:
					<select name="p[limit]" onchange="this.form.submit();">
						{%- for l in limit_options -%}
							<option{%- if limit == l %} selected{%- endif -%}>
								{{- l -}}
							</option>
						{%- endfor -%}
					</select>

					{%- set hidden_ary = query_params|merge({'p': {'start': '0'}})|flatten -%}

					{%- for n, v in hidden_ary -%}
						<input name="{{- n -}}" value="{{- v -}}" type="hidden">
					{%- endfor -%}
				</form>
			</div>
		</div>
	</div>
</div>
