{%- extends 'tags/base/tags_base.html.twig' -%}

{%- set cancel_route = 'tags_' ~ tag_type -%}

{%- block heading_fa -%}
    tag
{%- endblock -%}

{%- block assets_add -%}
    {{- parent() -}}
	{{- assets_add([
		'tags_def.js'
	]) -}}
{%- endblock assets_add -%}

{%- block pre_form -%}
    {%- if tag_type == 'users' -%}
        <p>
            <ul>
                <li>
                    {{- 'tags_users.help.only_for_admins'|trans -}}
                </li>
            </ul>
        </p>
    {%- endif -%}
{%- endblock pre_form -%}

{%- block form_a -%}
    <div class="row">
        <div class="col-sm-6">
            {{- form_row(form.txt, {
                'label': 'label.text',
                'pre_addon': {
                    'fa': 'pencil'
                },
                'attr': {
                    'data-tag-txt': ''
                }
            }) -}}
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="tag-i">
                    {{- 'label.example'|trans -}}
                </label>
                <div class="input-group">
                    <span class="tag-eland label" data-tag-exp title="{{- form.children.description.vars.value -}}">
                        {{- form.children.txt.vars.value -}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{- form_row(form.bg_color, {
                'label': 'label.bg_color',
                'pre_addon': {
                    'fa': 'hashtag'
                },
                'attr': {
                    'data-tag-bg-color': ''
                }
            }) -}}
        </div>
        <div class="col-sm-6">
            {{- form_row(form.txt_color, {
                'label': 'label.txt_color',
                'pre_addon': {
                    'fa': 'hashtag'
                },
                'attr': {
                    'data-tag-txt-color': ''
                }
            }) -}}
        </div>
    </div>
    {{- form_row(form.description, {
        'label': 'label.description',
        'pre_addon': {
            'fa': 'pencil'
        },
        'attr': {
            'data-tag-description': ''
        },
        'help': 'tags.description.help'
    }) -}}
{%- endblock form_a -%}
