{%- block assets_add -%}
	{{- assets_add([
		'jquery', 'bootstrap', 'fontawesome',
		'footable', 'base.css', 'base.js',
		'access_input_cache.js',
		'typeahead', 'typeahead.js'
	]) -}}

	{{- assets_add_print_css(['print.css']) -}}
	{%- if csv_en is defined -%}
		{{- assets_add(['csv.js']) -}}
	{%- endif -%}
	{%- if pp_ary().edit.en is defined and s_role('admin') and is_s_system_self() -%}
		{{- assets_add([
			'codemirror',
			'summernote',
			'summernote_cms_edit.js'
		]) -}}
	{%- endif -%}
{%- endblock assets_add -%}

<!DOCTYPE html>
<html lang="nl">
<head>
	<title>{%- block title -%}{%- endblock -%}</title>

	{%- for c in assets_ary('css') -%}
		<link type="text/css" rel="stylesheet" href="{{- c -}}" media="screen">
	{%- endfor -%}

	{%- for c in assets_ary('css_print') -%}
		<link type="text/css" rel="stylesheet" href="{{- c -}}" media="print">
	{%- endfor -%}

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d55b5b">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

</head>
<body{%- block body_attr -%}{%- endblock -%}>

{%- block navbar -%}
	<div class="navbar navbar-default navbar-fixed-top{%- if pp_role('admin') %} bg-info{%- elseif pp_role('guest') %} bg-warning{%- endif -%}">
		<div class="container-fluid">
			<div class="navbar-header">

			{%- block navbar_toggle_button -%}{%- endblock -%}

			{%- block logo -%}{%- endblock -%}

			<a href="{%- block system_link -%}#{%- endblock -%}" class="navbar-brand">
			{{- block('title') -}}
			</a>
			</div>

		{%- block navbar_collapse -%}{%- endblock -%}

		</div>
	</div>
{%- endblock navbar -%}

{%- block page_container -%}{%- endblock -%}

{%- block footer_system -%}{%- endblock -%}

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
		<a href="https://eland.letsa.net">
			eLAND
		</a> web app voor gemeenschapsmunten
		{%- if env_git_rev_short -%}
			&nbsp;
			Rev.
			<a href="https://github.com/eeemarv/eland/tree/{{- env_git_rev_short -}}" title="De actuele code van eLAND">
				{{- env_git_rev_short -}}
			</a>
		{%- endif -%}
		<br>
		<strong>Privacy</strong>: deze site gebruikt enkel essentiële sessie cookies voor de eigen werking en geen cookies van externe partijen.

	{%- block index_link -%}
		<p><a href="{{- path('index') -}}">Index</a></p>
	{%- endblock index_link -%}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</footer>


{%- for j in assets_ary('js') -%}
	<script src="{{- j -}}"></script>
{%- endfor -%}

</body>
</html>
