<!DOCTYPE html>
<html lang="nl">
<head>

	<title>{%- block title -%}{%- endblock -%}</title>

	{%- block css -%}
		{{- encore_entry_link_tags('app') -}}
	{%- endblock css -%}

{#
	{%- for c in assets_ary('css') -%}
		<link type="text/css" rel="stylesheet" href="{{- c -}}" media="screen">
	{%- endfor -%}
#}
{#
	{%- for c in assets_ary('css_print') -%}
		<link type="text/css" rel="stylesheet" href="{{- c -}}" media="print">
	{%- endfor -%}
#}

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d55b5b">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

</head>
<body{%- block body_attr -%}{%- endblock -%}>

    {%- block body_prepend -%}{%- endblock -%}

{%- block navbar -%}
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-{%- if pp_role('admin') -%}info-li{%- elseif pp_role('guest') %}warning-li{%- else -%}light{%- endif -%}">

		<button type="button" class="btn btn-secondary d-md-none" data-toggle="offcanvas" title="Menu">
			<i class="fa fa-chevron-left"></i>
		</button>

		<a href="{%- block system_link -%}#{%- endblock -%}" class="navbar-brand pull-left">
			{%- block logo -%}{%- endblock -%}

			{{- block('title') -}}
		</a>

		{%- block navbar_collapse -%}
		{%- endblock -%}
	</nav>
{%- endblock navbar -%}

{%- block jumbotron -%}{%- endblock -%}

{%- set main_menu_def = {
	'messages': {'fa': 'newspaper-o', 'access': 'guest'},
	'users': {'fa': 'users', 'access': 'users'},
	'accounts': {'fa': 'coffee'},
	'transactions': {'fa': 'exchange', 'access': 'guest'},
	'news': {'fa': 'calendar-o', 'access': 'guest'},
	'calendar': {'fa': 'calendar'},
	'docs': {'fa': 'files-o', 'access': 'docs'},
	'forum': {'fa': 'comments-o', 'config': 'forum_en', 'access': 'guest'},
	'support': {'fa': 'ambulance', 'access': 'user'},
	'home': {'fa': 'home'},
	'login': {'fa': 'sign-in', 'access': 'anonymous'},
	'contact_form': {'fa': 'comment-o', 'config': 'contact_form_en', 'access': 'anonymous'},
	'register': {'fa': 'check-square-o', 'config': 'registration_en', 'access': 'anonymous'}
} -%}

{%- set admin_menu_def = {
	'config': {'fa': 'cogs'},
	'export': {'fa': 'download'},
	'logs': {'fa': 'history'}
} -%}

<div class="container-fluid">
	{%- block page_container -%}
		<div class="row row-offcanvas">
			<div class="menu-offcanvas pt-2">
				<div class="nav nav-pills flex-column" aria-orientation="vertical">
					{%- for r, m in main_menu_def -%}
						{%- if m.access is defined and item_visible(m.access)
							and (m.config is not defined or config(m.config, schema)) -%}
								<a href="{{- path(r|var_route, pp_ary()) -}}" class="nav-link{% if r == active_menu %} active{% endif %}{% if m.nav_config_only is defined and m.nav_config_only %} nav-config-only{% endif %}">
									<i class="fa fa-{{- m.fa -}}"></i>&nbsp;
									{{- (r ~ '.title')|trans -}}
								</a>
						{%- endif -%}
					{%- endfor -%}
				</div>
				{%- block text_left -%}{% endblock -%}
			</div>
			<div class="sidebar-offcanvas"></div>
			<div class="col">
				<div class="content-container-overlay"></div>
				{%- block content_container -%}
				{%- endblock -%}
			</div>
		</div>

	{%- endblock page_container -%}

</div>

{%- block extra_footer -%}{%- endblock -%}

<footer class="footer">
	<p>
		{{- 'index.eland_link'|trans({
			'%eland_link%': '<a href="https://eland.letsa.net">eLAND</a>'
		})|raw -}}
	</p>
	{%- block index_link -%}
		<p><a href="{{- path('index') -}}">{{- 'index.title'|trans -}}</a></p>
	{%- endblock index_link -%}
</footer>

{%- block js -%}
	{{- encore_entry_script_tags('app') -}}
{%- endblock js -%}

{#
{%- for j in assets_ary('js') -%}
	<script src="{{- j -}}"></script>
{%- endfor -%}
#}

</body>
</html>
