{%- extends 'base/sidebar.html.twig' -%}
{%- import 'macro/menu.html.twig' as m -%}

{%- set user_menu =  {
	'users_show_self': {'fa': 'user'},
	'messages_self': {'fa': 'newspaper-o', 'config_en': 'messages.enabled'},
	'transactions_self': {'fa': 'exchange', 'config_en': 'transactions.enabled'},
} -%}

{%- block navbar_toggle_button -%}
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
{%- endblock navbar_toggle_button -%}

{%- block navbar_collapse -%}
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">

	{%- block navbar_menu -%}
		{%- if has_menu_nav_system() -%}
			{{- m.navbar_menu_dropdown_button('Systeem', 'share-alt', menu_nav_system(), false, {}) -}}
		{%- endif -%}

		{%- if su_is_master() -%}
			{%- set account_name = 'Master' -%}
		{%- else -%}
			{%- set account_name = account(su_id(), su_schema()) -%}
		{%- endif -%}

		{%- if not su_is_system_self() -%}
			{%- set account_name = account_name ~ ' [' ~ config_str('system.name', su_schema()) ~ ']' -%}
		{%- endif -%}

		{%- if not pp_role('anonymous') -%}
			{%- embed 'embed/menu_dropdown.html.twig' -%}
				{%- block fa -%}user{%- endblock fa -%}
				{%- block label -%}{{- account_name -}}{%- endblock label -%}
				{%- block menu_items -%}
					{%- if pp_role('user') or pp_role('admin') -%}
						{%- for rt, dt in user_menu -%}
							{%- include 'include/menu_item.html.twig' -%}
						{%- endfor -%}
						<li class="divider"></li>
					{%- endif -%}
					{%- include 'include/menu_item.html.twig' with {
						'rt': 'logout',
						'dt': {'fa': 'sign-out'}
					} -%}
				{%- endblock menu_items -%}
			{%- endembed -%}
		{%- endif -%}

		{%- if su_role('admin') and su_is_system_self() -%}
			{%- embed 'embed/menu_dropdown.html.twig' -%}
				{%- block menu_class %} bg-info{%- endblock menu_class -%}
				{%- block fa -%}cog{%- endblock fa -%}
				{%- block label -%}{{- 'label.admin'|trans -}}{%- endblock label -%}
				{%- block menu_items -%}
					{%- include 'include/menu_item_role_modus.html.twig' with {
						'rt': route,
						'rl_shrt': 'a',
						'fa': 'cog',
						'lbl': 'modus.admin'
					} -%}
					{%- include 'include/menu_item_role_modus.html.twig' with {
						'rt': route|fallback_route(schema),
						'rl_shrt': 'u',
						'fa': 'user',
						'lbl': 'modus.user'
					} -%}
					{%- if config_bool('intersystem.enabled', schema) -%}
						{%- include 'include/menu_item_role_modus.html.twig' with {
							'rt': route|fallback_route(schema),
							'rl_shrt': 'g',
							'fa': 'share-alt',
							'lbl': 'modus.guest'
						} -%}
					{%- endif -%}
					<li class="divider"></li>
					{%- if pp_ary().edit.en is defined -%}
						<li class="active-group">
							<a href="{{- path(route, pp_ary()|merge(query_params)|merge({'edit': {'en': '0'}})) -}}">
					{%- else -%}
						<li>
							<a href="{{- path(route, pp_ary()|merge(query_params)|merge({'edit': {'en': '1', 'route': '1', 'inline': '1'}})) -}}">
					{%- endif -%}
								<i class="fa fa-pencil"></i>
								&nbsp;
								{{- 'cms_edit_modus.title'|trans -}}
							</a>
						</li>
					<li class="divider"></li>
					{%- include 'include/menu_item_admin.html.twig' with {
						'menu': 'config',
						'rt': 'config_name',
						'fa': 'cogs'
					} -%}
					{%- include 'include/menu_item_admin.html.twig' with {
						'rt': 'export',
						'fa': 'download'
					} -%}
					{%- include 'include/menu_item_admin.html.twig' with {
						'rt': 'logs',
						'fa': 'history'
					} -%}
				{%- endblock menu_items -%}
			{%- endembed -%}
		{%- endif -%}
	{%- endblock navbar_menu -%}

	</ul>
	</div>
{%- endblock navbar_collapse -%}
