{%- extends 'base/sidebar.html.twig' -%}
{%- import 'macro/menu.html.twig' as m -%}

{%- block navbar_toggle_button -%}
	{{- m.navbar_toggle_button() -}}
{%- endblock navbar_toggle_button -%}

{%- block navbar_collapse -%}
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">

	{%- block navbar_menu -%}
		{%- if not pp_role('anonymous') and has_menu_nav_system() -%}
			{{- m.navbar_menu_dropdown_button('Systeem', 'share-alt', menu_nav_system()) -}}
		{%- endif -%}

		{%- if is_s_master() -%}
			{%- set account_name = 'Master' -%}
		{%- else -%}
			{%- set account_name =  account(get_s_id(), get_s_schema()) -%}
		{%- endif -%}

		{%- if pp_role('guest') or is_s_master() -%}
			{%- if not is_s_system_self() -%}
				{%- set account_name = account_name ~ ' [' ~ config('systemname', get_s_schema()) ~ ']' -%}
			{%- endif -%}

			{{- m.navbar_menu_dropdown_button(account_name, 'user', menu_nav_logout()) -}}

		{%- elseif pp_role('user') or pp_role('admin') -%}
			{{- m.navbar_menu_dropdown_button(account_name, 'user', menu_nav_user()) -}}
		{%- endif -%}

		{%- if pp_role('admin') -%}
			{{- m.navbar_menu_dropdown_button('Admin modus', 'cog', menu_nav_admin()) -}}
		{%- elseif s_role('admin') and is_s_system_self() -%}
			<li>
				<a href="{{- path(app.request.attributes.get('_route'), app.request.attributes.all|merge(app.request.query.all)|merge({'role_short': 'a'})) -}}" title="Admin modus inschakelen">
					<i class="fa fa-times text-danger"></i>&nbsp;
					Admin modus
				</a>
			</li>
		{%- endif -%}
	{%- endblock navbar_menu -%}

	</ul>
	</div>
{%- endblock navbar_collapse -%}

{%- block sidebar_menu_append -%}
{#
	{%- if pp_role('admin') -%}
		{{- m.menu_admin_anon(menu_admin_anon('admin_anon')) -}}
	{%- endif -%}
#}
{%- endblock sidebar_menu_append -%}
