{%- extends 'base/sidebar.html.twig' -%}

{%- set user_menu_self =  {
	'users_show_self': {
		'fa': 'user',
		'title': 'users_show.title',
		'title_trans_params': {'self': 'self', 'user': ''}
	},
	'messages_self': {
		'fa': 'newspaper-o',
		'title': 'messages.title',
		'title_trans_params': {'self': 'self', 'with_without_category': 'all'},
		'config_en': 'messages.enabled'
	},
	'transactions_self': {
		'fa': 'exchange',
		'title': 'transactions.title',
		'title_trans_params': {'self': 'self'},
		'config_en': 'transactions.enabled'
	},
} -%}

{%- block navbar_toggle_button -%}
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
{%- endblock navbar_toggle_button -%}

{%- block navbar_collapse -%}
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">

	{%- block navbar_menu -%}
		{%- set su_logins_role_short = su_logins_role_short() -%}
		{%- set intersystem_schemas = config_bool('intersystem.enabled', schema) ? intersystem_schemas(su_schema()) : [] -%}

		{%- if su_logins_role_short|length > 1 or (intersystem_schemas|length and su_logins_role_short|length) -%}
			{%- embed 'embed/menu_dropdown.html.twig' -%}
				{%- block fa -%}share-alt{%- endblock fa -%}
				{%- block label -%}{{- 'system_menu.system'|trans -}}{%- endblock label -%}
				{%- block menu_items -%}
					<li class="dropdown-header">
						{%- if su_logins_role_short|length == 1 -%}
							{{- 'system_menu.own_system'|trans -}}
						{%- else -%}
							{{- 'system_menu.own_systems'|trans -}}
						{%- endif -%}
					</li>
					{%- for sch, rlshrt in su_logins_role_short -%}
						<li{%- if sch == su_schema() %} class="active{%- if sch != schema -%}-group{%- endif -%}"{%- endif -%}>
							<a href="{{- path(route|fallback_route(sch), {'system': system(sch), 'role_short': rlshrt}) -}}">
								{{- config_str('system.name', sch) -}}
							</a>
						</li>
					{%- endfor -%}
					{%- if intersystem_schemas|length -%}
						<li class="dropdown-header">
							{%- if intersystem_schemas|length == 1 -%}
								{{- 'system_menu.linked_intersystem'|trans -}}
							{%- else -%}
								{{- 'system_menu.linked_intersystems'|trans -}}
							{%- endif -%}
						</li>
					{%- endif -%}
					{%- for sch in intersystem_schemas -%}
						<li{%- if sch == schema %} class="active"{%- endif -%}>
							<a href="{{- path(route|fallback_route(sch), {'system': system(sch), 'os': system(su_schema()), 'role_short': 'g', 'welcome': '1'}) -}}">
								{{- config_str('system.name', sch) -}}
							</a>
						</li>
					{%- endfor -%}
				{%- endblock menu_items -%}
			{%- endembed -%}
		{%- endif -%}

		{%- if su_role('user') or su_role('admin') -%}
			{%- if su_is_master() -%}
				{%- set account_name = 'Master' -%}
			{%- else -%}
				{%- set account_name = account(su_id(), su_schema()) -%}
			{%- endif -%}

			{%- if not su_is_system_self() -%}
				{%- set account_name = account_name ~ ' [' ~ config_str('system.name', su_schema()) ~ ']' -%}
			{%- endif -%}

			{%- set su_role_short = su_role('admin') ? 'a' : 'u' -%}

			{%- embed 'embed/menu_dropdown.html.twig' -%}
				{%- block fa -%}user{%- endblock fa -%}
				{%- block label -%}{{- account_name -}}{%- endblock label -%}
				{%- block menu_items -%}
					{%- set pp_su_role_short = pp_ary().role_short is defined and pp_ary().role_short != 'g' ? pp_ary().role_short : su_role_short -%}
					{%- if su_is_system_self() and not su_is_master() -%}
						{%- for rt, dt in user_menu_self -%}
							{%- include 'include/menu_item_self.html.twig' -%}
						{%- endfor -%}
						<li class="divider"></li>
					{%- endif -%}
					{%- include 'include/menu_item_self.html.twig' with {
						'rt': 'logout',
						'dt': {'fa': 'sign-out', 'title': 'logout.title'}
					} -%}
				{%- endblock menu_items -%}
			{%- endembed -%}
		{%- endif -%}

		{%- if su_role('admin') and su_is_system_self() -%}
			{%- embed 'embed/menu_dropdown.html.twig' -%}
				{%- block menu_class %} bg-info{%- endblock menu_class -%}
				{%- block fa -%}cog{%- endblock fa -%}
				{%- block label -%}{{- 'label.admin'|trans -}}{%- endblock label -%}
				{%- block menu_items -%}
					{%- include 'include/menu_item_role_modus.html.twig' with {
						'rt': route,
						'rl_shrt': 'a',
						'fa': 'cog',
						'lbl': 'modus.admin'
					} -%}
					{%- include 'include/menu_item_role_modus.html.twig' with {
						'rt': route|fallback_route(schema),
						'rl_shrt': 'u',
						'fa': 'user',
						'lbl': 'modus.user'
					} -%}
					{%- if config_bool('intersystem.enabled', schema) -%}
						{%- include 'include/menu_item_role_modus.html.twig' with {
							'rt': route|fallback_route(schema),
							'rl_shrt': 'g',
							'fa': 'share-alt',
							'lbl': 'modus.guest'
						} -%}
					{%- endif -%}
					<li class="divider"></li>
					{%- if pp_ary().edit.en is defined -%}
						<li class="active-group">
							<a href="{{- path(route, all_params|merge({'edit': {'en': '0'}})) -}}">
					{%- else -%}
						<li>
							<a href="{{- path(route, all_params|merge({'edit': {'en': '1', 'route': '1', 'inline': '1'}})) -}}">
					{%- endif -%}
								<i class="fa fa-pencil"></i>
								&nbsp;
								{{- 'cms_edit.title'|trans -}}
							</a>
						</li>
					<li class="divider"></li>
					{%- include 'include/menu_item_admin.html.twig' with {
						'menu': 'config',
						'rt': 'config_name',
						'fa': 'cogs'
					} -%}
					{%- include 'include/menu_item_admin.html.twig' with {
						'rt': 'export',
						'fa': 'download'
					} -%}
					{%- include 'include/menu_item_admin.html.twig' with {
						'rt': 'logs',
						'fa': 'history'
					} -%}
				{%- endblock menu_items -%}
			{%- endembed -%}
		{%- endif -%}
	{%- endblock navbar_menu -%}

	</ul>
	</div>
{%- endblock navbar_collapse -%}
