{%- extends 'base/sidebar.html.twig' -%}
{%- import 'macro/menu.html.twig' as m -%}

{%- block navbar_collapse -%}
	<button class="navbar-toggler bg-light border border-secondary-li" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav ml-auto">

	{%- block navbar_menu -%}
		{%- if has_menu_nav_system() -%}
			{{- m.navbar_menu_dropdown_button('Systeem', 'share-alt', menu_nav_system(), false, {}) -}}
		{%- endif -%}

		{%- if is_s_master() -%}
			{%- set account_name = 'Master' -%}
		{%- else -%}
			{%- set account_name =  account(get_s_id(), get_s_schema()) -%}
		{%- endif -%}

		{%- if not is_s_system_self() -%}
			{%- set account_name = account_name ~ ' [' ~ config_str('system.name', get_s_schema()) ~ ']' -%}
		{%- endif -%}

		{%- if pp_role('guest') or is_s_master() -%}

			{{- m.navbar_menu_dropdown_button(account_name, 'user', menu_nav_logout(), false, {}) -}}

		{%- elseif pp_role('user') or pp_role('admin') -%}
			{{- m.navbar_menu_dropdown_button(account_name, 'user', menu_nav_user(), false, {}) -}}
		{%- elseif s_role('user') or s_role('admin') -%}
			{%- set s_role_short = s_role('user') ? 'u' : 'a' -%}
			{{- m.navbar_menu_dropdown_button(account_name, 'user', menu_nav_user(), false, {'role_short': s_role_short}) -}}
		{%- endif -%}

		{%- if s_role('admin') and is_s_system_self() -%}
			{%- set admin_menu = {
				'config': {'route': 'config_name', 'fa': 'cogs'},
				'export': {'route': 'export', 'fa': 'download'},
				'logs': {'route': 'logs', 'fa': 'history'}
			}-%}
			{%- embed 'embed/navbar_menu_dropdown.html.twig' -%}
				{%- import 'macro/navbar_dropdown.html.twig' as nd -%}
				{%- block class %} bg-info-li{%- endblock -%}
				{%- block fa -%}cog{%- endblock -%}
				{%- block label -%}{{- 'label.admin'|trans -}}{%- endblock -%}
				{%- block items -%}
					{{- nd.item_modus(path(app.request.attributes.get('_route'), app.request.attributes|merge(app.request.query|merge({'role_short': 'a'}))), pp_role('admin'), 'label.admin_modus', 'cog') -}}
					{{- nd.item_modus(path('default'|var_route, {'role_short': 'u', 'system': app.request.attributes.get('system')}), pp_role('user'), 'label.user_modus', 'user') -}}
					{{- nd.item_modus(path('default'|var_route, {'role_short': 'g', 'system': app.request.attributes.get('system')}), pp_role('guest'), 'label.guest_modus', 'share-alt') -}}
					{{- nd.divider() -}}
					{%- set pp_admin_ary = {'role_short': 'a', 'system': app.request.attributes.get('system')} -%}
					{% for key, am in admin_menu -%}
						{{- nd.item(path(am.route, pp_admin_ary), active_admin_menu is defined and active_admin_menu == key, key ~ '.title', am.fa) -}}
					{%- endfor -%}
				{%- endblock items -%}
			{%- endembed -%}
		{%- endif -%}

	{%- endblock navbar_menu -%}

	</ul>
	</div>
{%- endblock navbar_collapse -%}
