{%- extends 'base/sidebar.html.twig' -%}
{%- import 'macro/menu.html.twig' as m -%}

{%- block navbar_collapse -%}
	<button class="navbar-toggler bg-light border border-secondary-li" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav ml-auto">

	{%- block navbar_menu -%}
		{%- if not pp_role('anonymous') and has_menu_nav_system() -%}
			{{- m.navbar_menu_dropdown_button('Systeem', 'share-alt', menu_nav_system()) -}}
		{%- endif -%}

		{%- if is_s_master() -%}
			{%- set account_name = 'Master' -%}
		{%- else -%}
			{%- set account_name =  account(get_s_id(), get_s_schema()) -%}
		{%- endif -%}

		{%- if pp_role('guest') or is_s_master() -%}
			{%- if not is_s_system_self() -%}
				{%- set account_name = account_name ~ ' [' ~ config('systemname', get_s_schema()) ~ ']' -%}
			{%- endif -%}

			{{- m.navbar_menu_dropdown_button(account_name, 'user', menu_nav_logout()) -}}

		{%- elseif pp_role('user') or pp_role('admin') -%}
			{{- m.navbar_menu_dropdown_button(account_name, 'user', menu_nav_user()) -}}
		{%- endif -%}

		{%- if s_role('admin') and is_s_system_self() -%}
			{{- m.navbar_menu_dropdown_button('Admin', 'cog', menu_nav_admin(), true) -}}
		{%- endif -%}

	{%- endblock navbar_menu -%}

	</ul>
	</div>
{%- endblock navbar_collapse -%}

{%- block sidebar_menu_append -%}
{#
	{%- if pp_role('admin') -%}
		{{- m.menu_admin_anon(menu_admin_anon('admin_anon')) -}}
	{%- endif -%}
#}
{%- endblock sidebar_menu_append -%}
