{%- extends 'base/sidebar.html.twig' -%}
{%- import 'macro/menu.html.twig' as m -%}

{%- block navbar_toggle_button -%}
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
{%- endblock navbar_toggle_button -%}

{%- block navbar_collapse -%}
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">

	{%- block navbar_menu -%}
		{%- if has_menu_nav_system() -%}
			{{- m.navbar_menu_dropdown_button('Systeem', 'share-alt', menu_nav_system(), false, {}) -}}
		{%- endif -%}

		{%- if is_s_master() -%}
			{%- set account_name = 'Master' -%}
		{%- else -%}
			{%- set account_name =  account(get_s_id(), get_s_schema()) -%}
		{%- endif -%}

		{%- if not is_s_system_self() -%}
			{%- set account_name = account_name ~ ' [' ~ config_str('system.name', get_s_schema()) ~ ']' -%}
		{%- endif -%}

		{%- if pp_role('guest') or is_s_master() -%}

			{{- m.navbar_menu_dropdown_button(account_name, 'user', menu_nav_logout(), false, {}) -}}

		{%- elseif pp_role('user') or pp_role('admin') -%}
			{{- m.navbar_menu_dropdown_button(account_name, 'user', menu_nav_user(), false, {}) -}}
		{%- elseif s_role('user') or s_role('admin') -%}
			{%- set s_role_short = s_role('user') ? 'u' : 'a' -%}
			{{- m.navbar_menu_dropdown_button(account_name, 'user', menu_nav_user(), false, {'role_short': s_role_short}) -}}
		{%- endif -%}

		{%- if s_role('admin') and is_s_system_self() -%}
			{{- m.navbar_menu_dropdown_button('Admin', 'cog', menu_nav_admin(), true, {}) -}}
		{%- endif -%}

	{%- endblock navbar_menu -%}

	</ul>
	</div>
{%- endblock navbar_collapse -%}
