{%- extends 'base/base.html.twig' -%}
{%- import 'macro/alert.html.twig' as a -%}

{%- block title -%}{{- config('systemname', schema) -}}{%- endblock -%}

{%- block body_attr %} class="body-navbar{%- if pp_role('admin') %} admin{%- elseif pp_role('guest') %} guest{%- endif -%}"{%- endblock body_attr -%}

{%- block logo -%}
	{%- if config('logo', schema) -%}
			<img src="{{- s3_url(config('logo', schema)) -}}" class="logo d-none d-md-inline-block">
	{%- endif -%}
{%- endblock logo -%}

{%- block system_link -%}
	{%- if config('homepage_url', schema) -%}
		{{- config('homepage_url', schema) -}}
	{%- elseif pp_role('anonymous') -%}
		{{- path('login', pp_ary()) -}}
	{%- else -%}
		{{- path(r_default(), pp_ary()) -}}
	{%- endif -%}
{%- endblock -%}

{%- block content_container -%}

{#
	<div class="swiper-container">
	<div class="row-offcanvas row-offcanvas-left">
	<div id="sidebar" class="sidebar-offcanvas">

	<br>
	<div class="nav nav-pills flex-column" aria-orientation="vertical">

	{%- block menu_sidebar -%}
		{%- for menu_item in menu_sidebar() -%}
			<a href="{{- path(menu_item.route, pp_ary()) -}}" class="nav-link{% if menu_item.active %} active{% endif %}{% if menu_item.config_only %} nav-config-only{% endif %}">
				<i class="fa fa-{{- menu_item.fa -}}"></i>&nbsp;
				{{- menu_item.label -}}
			</a>
		{%- endfor -%}
	{%- endblock menu_sidebar -%}

	</div>

	</div>

	<div id="wrap">
	<div id="main" class="container-fluid clear-top{%- if pp_role('admin') %} admin{%- endif -%}">
#}

	{{- a.alert() -}}

	<div class="row">
		<div class="col-md-12 top-buttons">

{#
			<div class="visible-xs pull-left button-offcanvas menu-button">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="offcanvas" title="Menu">
					<i class="fa fa-chevron-left"></i>
				</button>
			</div>
#}

		{{- btn_top() -}}
		{{- btn_nav() -}}

		</div>
	</div>

	{{- heading() -}}
	{{- heading_sub() -}}

	{%- block content -%}{{- content|raw -}}{%- endblock -%}

{#
	</div>
	</div>
	</div>
#}
{%- endblock content_container -%}
