{%- extends 'base/base.html.twig' -%}
{%- import 'macro/alert.html.twig' as a -%}
{%- import 'macro/menu.html.twig' as m -%}

{%- block title -%}{{- config_str('system.name', schema) -}}{%- endblock -%}

{%- block body_attr %} class="body-navbar{%- if pp_role('admin') %} admin{%- elseif pp_role('guest') %} guest{%- endif -%}"{%- endblock body_attr -%}

{%- block logo -%}
	{%- if config_str('system.logo', schema) -%}
		<a href="{{- block('system_link') -}}" class="navbar-left hidden-xs logo">
			<img src="{{- s3_url(config_str('system.logo', schema)) -}}" height="50">
		</a>
	{%- endif -%}
{%- endblock logo -%}

{%- block system_link -%}
	{%- if config_str('system.website_url', schema) -%}
		{{- config_str('system.website_url', schema) -}}
	{%- else -%}
		{{- path('home', pp_ary()) -}}
	{%- endif -%}
{%- endblock -%}

{%- block page_container -%}

	<div class="swiper-container">
	<div class="row-offcanvas row-offcanvas-left">
	<div id="sidebar" class="sidebar-offcanvas">

	<br>
	<ul class="nav nav-pills nav-stacked">

	{%- block menu_sidebar -%}
		{{- m.menu_sidebar() -}}
	{%- endblock menu_sidebar -%}

	</ul>

	</div>

	<div id="wrap">
	<div id="main" class="container-fluid clear-top{%- if pp_role('admin') %} admin{%- endif -%}">

	{{- a.alert() -}}

	{%- if pp_ary().edit is defined and s_role('admin') and is_s_system_self() -%}

	<div class="row mt-5p">
		<div class="col-md-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4><i class="fa fa-pencil"></i> CMS Edit modus</h4>
					<p>Inline editing van content blokken.</p>
					<p class="text-danger" hidden>Er zijn geen content blokken op deze pagina.</p>
					<form method="post" action="{{- path('cms_edit', {'role_short': 'a', 'system': pp_ary().system, 'id': app.request.attributes.get('_route')}) -}}">
						<input type="hidden" name="content" valeu="{}">
						<input type="hidden" name="route" value="{{- app.request.attributes.get('_route') -}}">
						<input type="hidden" name="route_params" value="{{- app.request.attributes.get('_route_params')|json_encode -}}">
						<input type="hidden" name="query" value="{{- app.request.query.all()|json_encode -}}">
						<input type="hidden" name="cms_edit_form_token" value="{{- cms_edit_form_token() -}}">
						<a href="{{- path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all())|filter((v, k) => k != 'edit')) -}}" class="btn btn-default btn-lg">
							Annuleren
						</a>
						&nbsp;
						<input type="submit" name="zend" value="Opslaan" class="btn btn-primary btn-lg" data-submit-btn>
					</form>
				</div>
			</div>
		</div>
	</div>

	{%- endif -%}

	<div class="row">
	<div class="col-md-12 top-buttons mt-5p">

	<div class="visible-xs pull-left button-offcanvas menu-button">
		<button type="button" class="btn btn-primary btn-lg" data-toggle="offcanvas" title="Menu">
			<i class="fa fa-chevron-left"></i>
		</button>
	</div>

	{%- block btn_top -%}
		{{- btn_top() -}}
	{%- endblock btn_top -%}

	{%- block btn_nav -%}
		{{- btn_nav() -}}
	{%- endblock btn_nav -%}

	</div>
	</div>

	{%- block heading -%}
		{{- heading() -}}
		{{- heading_sub() -}}
	{%- endblock heading -%}

	{%- block content -%}
		{{- content|raw -}}
	{%- endblock content -%}

	</div>
	</div>
	</div>
{%- endblock page_container -%}
