{%- extends 'base/base.html.twig' -%}
{%- import 'macro/alert.html.twig' as a -%}

{%- block title -%}{{- config('systemname', schema) -}}{%- endblock -%}

{%- block body_attr %} class="body-navbar{%- if pp_role('admin') %} admin{%- elseif pp_role('guest') %} guest{%- endif -%}"{%- endblock body_attr -%}

{%- block logo -%}
	{%- if config('logo', schema) -%}
			<img src="{{- s3_url(config('logo', schema)) -}}" class="logo d-none d-md-inline-block">
	{%- endif -%}
{%- endblock logo -%}

{%- block system_link -%}
	{%- if config('homepage_url', schema) -%}
		{{- config('homepage_url', schema) -}}
	{%- elseif pp_role('anonymous') -%}
		{{- path('login', pp_ary()) -}}
	{%- else -%}
		{{- path(r_default(), pp_ary()) -}}
	{%- endif -%}
{%- endblock -%}

{%- block content_container -%}

	<div class="mb-2"></div>

	{{- a.alert() -}}

	<div class="row">
		<div class="col top-buttons mb-3">

	{%- block btn_top -%}
		{{- btn_top() -}}
	{%- endblock btn_top -%}

	{%- block btn_nav -%}
		{{- btn_nav() -}}
	{%- endblock btn_nav -%}

		</div>
	</div>

	{%- block heading -%}
		{{- heading() -}}
		{{- heading_sub() -}}
	{%- endblock heading -%}

	<div class="mb-3"></div>

	{%- block content -%}
		{{- content|raw -}}
	{%- endblock -%}

{%- endblock content_container -%}
