{%- extends 'base/base.html.twig' -%}
{%- import 'macro/alert.html.twig' as a -%}

{%- block title -%}{{- config('systemname', schema) -}}{%- endblock -%}

{%- block body_attr %} class="body-navbar{%- if pp_role('admin') %} admin{%- elseif pp_role('guest') %} guest{%- endif -%}"{%- endblock body_attr -%}

{%- block logo -%}
	{%- if config('logo', schema) -%}
		{%- embed 'embed/logo.html.twig' -%}
		{%- endembed -%}
	{%- endif -%}
{%- endblock logo -%}

{%- block system_link -%}
	{%- if config('homepage_url', schema) -%}
		{{- config('homepage_url', schema) -}}
	{%- elseif pp_role('anonymous') -%}
		{{- path('login', pp_ary()) -}}
	{%- else -%}
		{{- path(r_default(), pp_ary()) -}}
	{%- endif -%}
{%- endblock -%}

{%- block content_container -%}

	<div class="mb-2"></div>

	{{- a.alert() -}}

{#
	{%- block top_buttons -%}
	<div class="row">
		<div class="col mb-2">

		{%- block btn_top -%}
			{%- block btn_top_add -%}
			{%- endblock btn_top_add -%}
			{%- block btn_top_edit -%}
			{%- endblock btn_top_edit -%}
			{%- block btn_top_del -%}
			{%- endblock btn_top_del -%}
		{%- endblock btn_top -%}

		{%- block btn_nav -%}
		<div class="pull-right">
			{%- block btn_nav_admin -%}
			{%- endblock btn_nav_admin -%}
			{%- block btn_nav_columns_show -%}
			{%- endblock btn_nav_columns_show -%}
			{%- block btn_nav_view -%}
			{%- endblock btn_nav_view -%}
			{%- block btn_nav_nav -%}
			{%- endblock btn_nav_nav -%}
		</div>
		{%- endblock btn_nav -%}
		</div>
	</div>
	{%- endblock top_buttons -%}
#}

	<div class="row">
		<div class="col mb-2">
		{{- btn_top() -}}
		{{- btn_nav() -}}
		</div>
	</div>

	{%- block heading -%}
		<h1 class="mb-3">
			{%- block heading_fa_container -%}
				<i class="fa fa-{%- block heading_fa -%}{{- main_menu_def[active_menu].fa -}}{%- endblock heading_fa -%}"></i>&nbsp;
			{%- endblock heading_fa_container -%}
			{%- block heading_title -%}
				{{- (active_menu ~ '.title')|trans -}}
			{%- endblock heading_title -%}
			{%- block heading_append -%}{%- endblock heading_append -%}
		</h1>
	{%- endblock heading -%}

	{%- block heading_sub -%}{%- endblock -%}

	{#
		{{- heading() -}}
		{{- heading_sub() -}}
	#}
	{#
	<div class="mb-3"></div>
	#}

	{%- block content -%}
		{{- content|raw -}}
	{%- endblock -%}

{%- endblock content_container -%}
