{%- extends 'base/base.html.twig' -%}

{%- set schema = pp_schema() -%}

{%- block assets_add -%}
	{{- parent() -}}

	{{- assets_add([
		'typeahead', 'typeahead.js'
	]) -}}

	{%- if csv_en is defined -%}
		{{- assets_add(['csv.js']) -}}
	{%- endif -%}

	{%- if pp_ary().edit.en is defined and s_role('admin') and is_s_system_self() -%}
		{{- assets_add([
			'codemirror',
			'summernote',
			'summernote_cms_edit.js'
		]) -}}
	{%- endif -%}
{%- endblock assets_add -%}

{%- block title -%}
	{{- config_str('system.name', schema) -}}
{%- endblock -%}

{%- block body_attr %} class="body-navbar
	{%- if pp_role('admin') %} admin
	{%- elseif pp_role('guest') %} guest
	{%- endif -%}"
{%- endblock body_attr -%}

{%- block logo -%}
	{%- if config_str('system.logo', schema) -%}
		<a href="{{- block('system_link') -}}" class="navbar-left hidden-xs logo">
			<img src="{{- s3(config_str('system.logo', schema)) -}}" height="50">
		</a>
	{%- endif -%}
{%- endblock logo -%}

{%- block system_link -%}
	{%- if config_str('system.website_url', schema) -%}
		{{- config_str('system.website_url', schema) -}}
	{%- else -%}
		{{- path('home', pp_ary()) -}}
	{%- endif -%}
{%- endblock -%}

{%- set menu_sidebar_def = {
	'messages': {'fa': 'newspaper-o', 'access': 'guest'},
	'users': {'fa': 'users', 'access': 'guest', 'always_enabled': true},
	'accounts': {'fa': 'coffee'},
	'transactions': {'fa': 'exchange', 'access': 'guest'},
	'news': {'fa': 'calendar-o', 'access': 'guest'},
	'calendar': {'fa': 'calendar'},
	'docs': {'fa': 'files-o', 'access': 'guest'},
	'forum': {'fa': 'comments-o', 'access': 'guest'},
	'support_form': {'fa': 'ambulance', 'access': 'user'},
	'home': {'fa': 'home', 'access': 'anonymous', 'menu_config': true},
	'login': {'fa': 'sign-in', 'access': 'anonymous', 'always_enabled': true},
	'contact_form': {'fa': 'comment-o', 'access': 'anonymous'},
	'register_form': {'fa': 'check-square-o', 'access': 'anonymous'}
} -%}

{#}
{%- set admin_menu_def = {
	'config_name': {'fa': 'cogs'},
	'export': {'fa': 'download'},
	'logs': {'fa': 'history'}
} -%}
#}

{%- block page_container -%}
	<div class="swiper-container">
	<div class="row-offcanvas row-offcanvas-left">
	<div id="sidebar" class="sidebar-offcanvas">

	<br>
	<ul class="nav nav-pills nav-stacked">

	{%- block menu_sidebar -%}
		{%- for r, m in menu_sidebar_def -%}
			{%- if m.access is defined and item_visible(m.access)
				and (m.always_enabled is defined
				or (m.menu_config is not defined and config_bool(r ~ '.enabled', schema))
				or (m.menu_config is defined and config_bool(r ~'.menu.enabled', schema)))
			-%}
				<li{%- if r == active_menu %} class="active"{%- endif -%}>
					<a href="{{- path(r|var_route, pp_ary()) -}}">
					<i class="fa fa-{{- m.fa -}}"></i>&nbsp;
						{{- (r ~ '.title')|trans -}}
					</a>
				</li>
			{%- endif -%}
		{%- endfor -%}
	{%- endblock menu_sidebar -%}

	</ul>

	</div>

	<div id="wrap">
	<div id="main" class="container-fluid clear-top{%- if pp_role('admin') %} admin{%- endif -%}">

	{%- block alert -%}
		{%- include 'include/alert.html.twig' -%}
	{%- endblock alert -%}

	{%- block cms_edit_form -%}
		{%- include 'include/cms_edit_form.html.twig' -%}
	{%- endblock cms_edit_form -%}

	{%- block cms_edit_extra -%}{%- endblock -%}

	{%- block btn_row -%}
	<div class="row">
		<div class="col-md-12 top-buttons mt-5p">
			<div class="visible-xs pull-left button-offcanvas menu-button">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="offcanvas" title="Menu">
					<i class="fa fa-chevron-left"></i>
				</button>
			</div>

			{%- block btn_top -%}
				{{- btn_top() -}}
			{%- endblock btn_top -%}

			{%- if block('btn_nav_top_right') -%}
				<div class="pull-right">
					{%- block btn_nav_top_right -%}
						{%- if pp_role('admin') and block('local_admin_menu') -%}
							<div class="btn-group" role="group">
								{%- block local_admin_menu -%}
									{%- include 'include/local_admin_menu.html.twig' -%}
								{%- endblock local_admin_menu -%}
							</div>
						{%- endif -%}
						{%- block btn_show_columns -%}{%- endblock -%}
						{%- block btn_view -%}{%- endblock -%}
						{%- block btn_item_nav -%}{%- endblock -%}
					{%- endblock btn_nav_top_right -%}
				</div>
			{%- endif -%}
		</div>
	</div>
	{%- endblock btn_row -%}

	{%- block heading -%}
		<h1>
			{%- block heading_fa_container -%}
				<i class="fa fa-{%- block heading_fa -%}{{- menu_sidebar_def[active_menu].fa -}}{%- endblock heading_fa -%}"></i>&nbsp;
			{%- endblock heading_fa_container -%}
			{%- block heading_title -%}
				{{- (active_menu ~ '.title')|trans -}}
			{%- endblock heading_title -%}
			{%- block heading_append -%}{%- endblock heading_append -%}
		</h1>
	{%- endblock heading -%}

	{%- block heading_sub -%}{%- endblock -%}

	{%- block content_top -%}
		{%- embed 'embed/static_content.html.twig' with {
			'with_role': false,
			'with_route': true
		} -%}
			{%- block block_name -%}top{%- endblock -%}
		{%- endembed -%}
	{%- endblock content_top -%}

	{%- block content -%}
		{{- content|raw -}}
	{%- endblock content -%}

	{%- block content_bottom -%}
		{%- embed 'embed/static_content.html.twig' with {
			'with_role': false,
			'with_route': true
		} -%}
			{%- block block_name -%}bottom{%- endblock -%}
		{%- endembed -%}
	{%- endblock content_bottom -%}

	</div>
	</div>
	</div>
{%- endblock page_container -%}

{%- block footer_system -%}
	{%- if static_content_has(false, false, 'footer') -%}
	<footer class="alert-info">
		<br>
		<div class="container">
			{%- embed 'embed/static_content.html.twig' with {
				'with_role': false,
				'with_route': false
			} -%}
				{%- block block_name -%}footer{%- endblock -%}
			{%- endembed -%}
		</div>
		<br>
	</footer>
	{%- endif -%}
{%- endblock footer_system -%}
