{% extends 'mail/base/admin.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'register_admin.subject'|trans({
        '%full_name%': user.fullname
    }) -}}
{% endblock subject_line %}

{% block html_content %}
<h3>
    {{- 'register_admin.title'|trans -}}
</h3>
<p>
    {{- 'register_admin.msg'|trans -}}:
<br />
<br />
    {{- 'label.full_name'|trans -}}: {{ user.fullname -}}
<br />
    {{- 'label.postcode'|trans -}}: {{ user.postcode -}}
<br />
    {{- 'label.email'|trans -}}: {{ email -}}
<br />
<a href="{{ mail_url('users', {'id': user.id}, schema, email_token}) -}}">
    {{- 'label.link'|trans -}}
</a>
</p>
{% endblock html_content %}

{% block text_content %}

{{ 'register_admin.title'|trans|underline|raw }}

{{ 'register_admin.msg'|trans|raw }}:

{{ 'label.full_name'|trans|raw }}: {{ user.fullname|raw }}
{{ 'label.postcode'|trans|raw }}: {{ user.postcode|raw }}
{{ 'label.email'|trans|raw }}: {{ email|raw }}
{{ 'label.link'|trans|raw }}: {{ mail_url('users', {'id': user.id}, schema, email_token)|raw }}

{% endblock text_content %}
