{% block subject %}
Bericht van {{ group.name }}
{% endblock subject %}

{% block html %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#FEFEFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
{% block html_pretext %}
<p><i>Dit is een automatische mail. Niet beantwoorden a.u.b.</i></p>
{% endblock html_pretext %}

{% block html_body %}
{% endblock html_body %}

{% block html_accountinfo %}
<hr>

<h4>Je account</h4>

<ul>
<li>Je letscode: {{ user.letscode }}</li>
<li>Je gebruikersnaam: {{ user.name }}</li>
<li>Je saldo bedraagt momenteel {{ user.balance }} {{ group.currency }}</li>
<li>Minimum limiet: {{ user.minlimit }} {{ group.currency }}, Maximum limiet: {{ user.maxlimit }} {{ group.currency }}</li>
<li>Status: {{ user.status_text }}</li>
<li>Login: {{ user.login_url }}</li>

</ul>
{% endblock html_accountinfo %}
{% block html_support %}
<hr>

<p>Als je vragen of problemen hebt, kan je mailen naar {{ group.support }}</p>
{% endblock html_support %}
{% block html_footer %}
{% endblock html_footer %}

{% endblock html %}

{% block text %}

{% block text_pretext %}
** Dit is een automatische mail. Niet beantwoorden a.u.b. **
{% endblock text_pretext %}

{% block text_body %}
{% endblock text_body %}

{% block text_accountinfo %}

Je account
----------

Je letscode: {{ user.letscode }}
Je gebruikersnaam: {{ user.name }}
Je saldo bedraagt momenteel {{ user.balance }} {{ group.currency }}
Minimum limiet: {{ user.minlimit }} {{ group.currency }}, Maximum limiet: {{ user.maxlimit }} {{ group.currency }}
Status: {{ user.status_text }}
Login: {{ user.login_url }}

{% endblock text_accountinfo %}
{% block text_support %}

Als je vragen of problemen hebt, kan je mailen naar {{ group.support }}
{% endblock text_support %}
{% block text_footer %}
{% endblock text_footer %}

{% endblock text %}
