{% extends 'mail/base.html.twig' %}

{% block pretext %}{% endblock pretext %}

{% block body %}

<p>Gebruiker <a href="{{ user.url }}">{{ user.text }}</a> deed melding via het supportformulier op de website.</p>

<hr>

{{ msg_html|raw }}

<hr>

<p>
{% if user.mail %}
Om te antwoorden kan je gewoon reply kiezen of de contactgegevens hieronder gebruiken.
{% else %}
Er is geen mailadres gekend van <a href="{{ user.url }}">{{ user.text }}</a>. Contacteer de gebruiker op andere wijze.
{% endif %}
</p>

<h4>Contactgegevens van {{ user.text }}</h4>

{% if contacts %}
<ul>
{% for contact in contacts %}
<li>{{ contact.abbrev }} {{ contact.value }}</li>
{% endfor %}
</ul>
{% else %}
<p>Er zijn geen contactgegevens bekend van <a href="{{ user.url }}>{{ user.text }}</a></p>.
{% endif %}
		
{% endblock body %}

{% block accountinfo %}{% endblock accountinfo %}
{% block support %}{% endblock support %}
{% block unsubscribe %}
<p>Je ontvangt dit bericht omdat je mailadres vermeld staat als support-mailadres in de <a href="{{ config_url }}">instellingen</a>.</p>
{% endblock unsubscribe %}
