{% extends 'mail/base.html.twig' %}

{% block body %}
<p>Beste {{ user.name }},</p>

<p>Je {% if msg.type == 'offer' %}aanbod{% else %}vraag{% endif %}  "<a href="{{ url_msg }}">{{ msg.content }}</a>"
is vervallen en zal over {{ group.msgexpcleanupdays }} dagen verwijderd worden.
Om dit te voorkomen kan je verlengen met behulp van één van de onderstaande links. Als 
je niet ingelogd bent, zal je eerst gevraagd worden in te loggen.</p>

<p>Verlengen met</p>

<ul>
<li><a href="{{ url_extend.7 }}">Een week</a></li>
<li><a href="{{ url_extend.30 }}">Een maand</a></li>
<li><a href="{{ url_extend.180 }}">Zes maanden</a></li>
<li><a href="{{ url_extend.365 }}">Een jaar</a></li>
<li><a href="{{ url_extend.1825 }}">Vijf jaar</a></li>
</ul>

<p><a href="{{ url_msg_add }}">Nieuw vraag of aanbod ingeven</a></p>

{% endblock body %}
