{%- trans_default_domain 'mail' -%}

{%- macro html(c) -%}
{%- set et = c.et -%}
	{%- embed 'mail/embed/table600.html.twig' -%}
	{%- trans_default_domain 'mail' -%}
	{%- block td_top -%}20px{%- endblock -%}
	{%- block td_bottom -%}20px{%- endblock -%}
	{%- block bgcolor -%}660066{%- endblock -%}
	{%- block td_align -%}center{%- endblock -%}
	{%- block td_style %}font-size: 16px;color: #ffffff;{%- endblock -%}
	{%- block td_content -%}
		{{- 'periodic_overview.docs.title'|trans -}}
	{%- endblock td_content -%}
	{%- endembed -%}

{%- if c.docs -%}

	{%- for d in c.docs -%}
		{%- embed 'mail/embed/table600.html.twig' -%}
		{%- trans_default_domain 'mail' -%}
		{%- block bgcolor -%}
			{%- if loop.index is even -%}
				ffeeff
			{%- else -%}
				eeddee
			{%- endif -%}
		{%- endblock -%}
		{%- block td_top -%}10px{%- endblock -%}
		{%- block td_bottom -%}10px{%- endblock -%}
		{%- block td_style -%}font-size: 14px;{%- endblock -%}
		{%- block td_content -%}
			{{- s3_link_open(d.filename)|raw -}}
				{{- d.name -}}
			</a>
		{%- endblock td_content -%}
		{%- endembed -%}
	{%- endfor -%}

{%- else -%}
	{%- embed 'mail/embed/table600.html.twig' -%}
	{%- trans_default_domain 'mail' -%}
	{%- block td_top -%}20px{%- endblock -%}
	{%- block td_bottom -%}20px{%- endblock -%}
	{%- block bgcolor -%}
		eeddee
	{%- endblock -%}
	{%- block td_align -%}center{%- endblock -%}
	{%- block td_style %}font-size: 14px;{%- endblock -%}
	{%- block td_content -%}
		{{- 'periodic_overview.docs.none'|trans -}}
	{%- endblock td_content -%}
	{%- endembed -%}

{%- endif -%}

{%- endmacro html -%}

{% macro text(c) %}
{%- set et = c.et -%}
{% autoescape false %}

{{ 'periodic_overview.docs.title'|trans|underline }}

{% for d in c.docs %}
* {{ d.name }} {{ s3_url(d.filename) }}
{% else %}
{{ 'periodic_overview.docs.none'|trans }}
{% endfor %}
{% endautoescape %}
{% endmacro text %}
