{%- trans_default_domain 'mail' -%}

{%- macro html(c) -%}
{%- set et = c.et -%}
<h3>
	{{- 'periodic_overview.docs.title'|trans -}}
</h3>

{%- if c.docs -%}
<ul>
	{%- for d in c.docs -%}
		<li>
			{{- s3_link_open(d.filename)|raw -}}
				{{- d.name -}}
			</a>
		</li>
	{%- endfor -%}
</ul>
{%- else -%}
<p>
	{{- 'periodic_overview.docs.none'|trans -}}
</p>
{%- endif -%}

{%- endmacro html -%}

{% macro text(c) %}
{%- set et = c.et -%}
{% autoescape false %}

{{ 'periodic_overview.docs.title'|trans|underline }}

{% for d in c.docs %}
* {{ d.name }} {{ s3_url(d.filename) }}
{% else %}
{{ 'periodic_overview.docs.none'|trans }}
{% endfor %}
{% endautoescape %}
{% endmacro text %}
