{%- trans_default_domain 'mail' -%}

{%- macro html(forum, user_id, schema) -%}

	<h3>
		{{- 'periodic_overview.forum.title'|trans -}}
	</h3>

	{%- if forum -%}
	<ul>
	{%- for f in forum -%}
	<li>
	{{- context_url_open('forum_topic', mpp_ary(user_id, schema), {'topic_id': f.id})|raw -}}
	{{- f.subject -}}
	</a>
	{#	&nbsp;[{{ msg.new_reply_count }}]  #}
	</li>
	{%- endfor -%}
	</ul>
	{%- else -%}
	<p>
	{{- 'periodic_overview.forum.none'|trans({
		'%link_open%': context_url_open('forum', mpp_ary(user_id, schema), {}),
		'%link_close%': '</a>'
	})|raw -}}
	</p>
	{%- endif -%}

{%- endmacro html -%}

{% macro text(forum, user_id, schema) %}
{% autoescape false %}

{{ 'periodic_overview.forum.title'|trans|underline }}

{% for f in forum %}
* {{ f.subject }} {{ context_url('forum_topic', mpp_ary(user_id, schema), {'topic_id': f.id}) }}
{% else %}
{{ 'periodic_overview.forum.none'|trans({
	'%link_open%' : '',
	'%link_close%' : ''
}) }}
{% endfor %}
{% endautoescape %}
{% endmacro text %}
