{%- trans_default_domain 'mail' -%}

{%- macro html(c) -%}
	{%- set et = c.et -%}
	{%- set org_system = mpp_guest_ary(c.schema).system -%}

	{%- include 'mail/include/p_header.html.twig' with {
		'p_header': 'periodic_overview.intersystem.title',
		'p_bgcolor': 'aa3300'
	} -%}

	{%- include 'mail/include/info_bgcolor_panel.html.twig' with {
		'info': 'periodic_overview.intersystem.explain'|trans,
		'bgcolor': 'fff3a2'
	} -%}

{%- for i in c.intersystem -%}
	{%- embed 'mail/embed/table600.html.twig' -%}
		{%- trans_default_domain 'mail' -%}
		{%- block bgcolor -%}dd6633{%- endblock -%}
		{%- block td_top -%}10px{%- endblock -%}
		{%- block td_bottom -%}10px{%- endblock -%}
		{%- block td_style -%}font-size: 16px;color: #ffffff;{%- endblock -%}
		{%- block td_content -%}
			{{- config_str('system.name', i.schema) -}}&nbsp;({{- i.messages|length -}})
		{%- endblock td_content -%}
	{%- endembed -%}

	{%- if i.messages -%}
		{%- include 'mail/include/info_bgcolor_panel.html.twig' with {
			'info': 'periodic_overview.intersystem.system_messages_explain'|trans({
				'%system_name%': config_str('system.name', i.schema),
				'%link_open%': context_url_open('messages_extended', mpp_guest_ary(i.schema), {'os': org_system}),
				'%link_close%': '</a>'
			})|raw,
			'bgcolor': 'fee898'
		} -%}
	{%- else -%}
		{%- include 'mail/include/info_bgcolor_panel.html.twig' with {
			'info': 'periodic_overview.intersystem.system_messages_none_explain'|trans({
				'%system_name%': config_str('system.name', i.schema),
				'%link_open%': context_url_open('messages_extended', mpp_guest_ary(i.schema), {'os': org_system}),
				'%link_close%': '</a>'
			})|raw,
			'bgcolor': 'fee898'
		} -%}
	{%- endif -%}

	{%- for msg in i.messages -%}
	{%- embed 'mail/embed/table600.html.twig' -%}
		{%- trans_default_domain 'mail' -%}
		{%- block bgcolor -%}
			{%- if loop.index is even -%}
				fff3a2
			{%- else -%}
				fff8cf
			{%- endif -%}
		{%- endblock -%}
		{%- block td_top -%}20px{%- endblock -%}
		{%- block td_bottom -%}20px{%- endblock -%}
		{%- block td_style -%}font-size: 16px;{%- endblock -%}
		{%- block td_content -%}
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="150" align="left" valign="top">
					{%- include 'mail/include/btn_' ~ msg.offer_want ~ '.html.twig' with {
						'href': context_url('messages_show', mpp_guest_ary(i.schema), {'id': msg.id, 'os': org_system})
					} -%}
				</td>
				<td width="30">
				</td>
				<td align="left" valign="top">
					{{- context_url_open('messages_show', mpp_guest_ary(i.schema), {'id': msg.id, 'os': org_system})|raw -}}
					{{ msg.subject -}}
					</a>
				</td>
			</tr>
			<tr>
				<td style="line-height: 0; padding-top: 5px; padding-bottom: 5px;">
					&nbsp;
				</td>
			</tr>
		</table>
		{%- if msg.postcode -%}
		<table bgcolor="#dddddd" border="0" style="font-size: 16px;padding-top:5px;padding-bottom:5px;padding-left:5px;" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td title="{{- 'label.postcode'|trans -}}">
					{{- 'label.postcode'|trans -}}:&nbsp;
					{{- msg.postcode -}}
				</td>
			</tr>
		</table>
		{%- endif -%}
		<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:16px;padding-top:5px;padding-bottom:5px;">
			<tr>
				<td>
					{{- 'periodic_overview.intersystem.account'|trans({
						'%account%': account(msg.user_id, i.schema),
						'%account_link_open%': context_url_open('users_show', mpp_guest_ary(i.schema),
								{'id': msg.user_id, 'os': org_system}),
						'%account_link_close%': '</a>',
						'%system_name%': config_str('system.name', i.schema),
						'%system_link_open%': context_url_open('messages_extended', mpp_guest_ary(i.schema),
							{'os': org_system}),
						'%system_link_close%': '</a>'
					})|raw -}}
				</td>
			</tr>
		</table>
		{%- endblock td_content -%}
	{%- endembed -%}
	{%- endfor -%}
{%- endfor -%}
{%- endmacro html -%}

{% macro text(c) %}
{%- set et = c.et -%}
{%- set org_system = mpp_guest_ary(c.schema).system -%}
{% autoescape false %}

{% if c.intersystem %}

{{ 'periodic_overview.intersystem.title'|trans|underline }}

{% for i in c.intersystem %}

** {{ 'periodic_overview.intersystem.system_name'|trans({
		'%name%': i.system_name ?? config_str('system.name', i.schema),
}) }}

{%  if not i.messages %}
{{ 'periodic_overview.intersystem.system_messages_none_explain_text'|trans({
	'%system_name%': config_str('system.name', i.schema)
}) }}
{% endif %}
{% for msg in i.messages %}

{{ ('periodic_overview.intersystem.' ~ msg.offer_want)|trans({
	'%msg%': msg.subject
}) }}
{{ context_url('messages_show', mpp_guest_ary(i.schema), {'id': msg.id, 'os': org_system}) }}
{{ 'periodic_overview.intersystem.account'|trans({
	'%account%': account(msg.user_id, i.schema),
	'%account_link_open%' : '',
	'%account_link_close%' : '',
	'%system_name%': config_str('system.name', i.schema),
	'%system_link_open%': '',
	'%system_link_close%': '',
}) }}

{% endfor %}

{% endfor %}
{% endif %}
{% endautoescape %}
{% endmacro text %}
