{%- trans_default_domain 'mail' -%}

{%- macro html(c) -%}
{%- set et = c.et -%}
{%- if c.intersystem -%}
<h3>
{{- 'periodic_overview.intersystem.title'|trans -}}
</h3>

<p>
	{{- 'periodic_overview.intersystem.explain'|trans({
		'%link_open%': context_url_open('login', mpp_anon_ary(c.schema), {}),
		'%link_close%': '</a>'
	})|raw -}}
</p>

{%- for i in c.intersystem -%}
	<h4>
		{{- 'periodic_overview.intersystem.system_name'|trans({
			'%name%': i.system_name ?? config_str('system.name', i.schema),
		}) -}}
	</h4>
	<ul>
	{%- for msg in i.messages -%}
		<li>
		{{- ('periodic_overview.intersystem.' ~ msg.offer_want)|trans({
			'%msg%': msg.subject
		}) -}}
		{%- if msg.postcode -%}
			<br />
			{{- 'label.postcode'|trans -}}:&nbsp;
			<strong>
				<span bgcolor="acacac" title="{{- 'label.postcode'|trans -}}">
				{{- msg.postcode -}}
				</span>
			</strong>
		{%- endif -%}
		<br />
		{%- if i.eland_server -%}
		{{- 'periodic_overview.intersystem.account'|trans({
			'%account%': account(msg.user_id, i.schema),
			'%system_name%': config_str('system.name', i.schema)
		}) -}}
		{%- else -%}
		{{- 'periodic_overview.intersystem.account'|trans({
			'%account%': msg.account,
			'%system_name%': i.system_name
		}) -}}
		{%- endif -%}
		</li>
		<br />
	{%- endfor -%}
	</ul>
{%- endfor -%}
{%- endif -%}

{%- endmacro html -%}

{% macro text(c) %}
{%- set et = c.et -%}
{% autoescape false %}

{% if c.intersystem %}

{{ 'periodic_overview.intersystem.title'|trans|underline }}

{% for i in c.intersystem %}

** {{ 'periodic_overview.intersystem.system_name'|trans({
			'%name%': i.system_name ?? config_str('system.name', i.schema),
}) }}

{% for msg in i.messages %}

{{ ('periodic_overview.intersystem.' ~ msg.offer_want)|trans({
	'%msg%': msg.subject
}) }}

{% if i.eland_server %}
	{{ 'periodic_overview.intersystem.account'|trans({
	'%account%': account(msg.user_id, i.schema),
	'%system_name%': config_str('system.name', i.schema)
}) }}
{% else %}
	{{ 'periodic_overview.intersystem.account'|trans({
	'%account%': msg.account,
	'%system_name%': i.system_name
}) }}
{% endif %}

{% endfor %}

{% endfor %}
{% endif %}
{% endautoescape %}
{% endmacro text %}
