{%- trans_default_domain 'mail' -%}

{% macro html(c) -%}
{%- set et = c.et -%}
	{%- embed 'mail/embed/table600.html.twig' -%}
		{%- trans_default_domain 'mail' -%}
		{%- block td_top -%}20px{%- endblock -%}
		{%- block td_bottom -%}20px{%- endblock -%}
		{%- block bgcolor -%}888888{%- endblock -%}
		{%- block td_align -%}center{%- endblock -%}
		{%- block td_style %}font-size: 16px;color: #ffffff;{%- endblock -%}
		{%- block td_content -%}
		{{- 'periodic_overview.messages.title'|trans -}}
		{%- endblock td_content -%}
	{%- endembed -%}

	{%- embed 'mail/embed/table600.html.twig' -%}
		{%- trans_default_domain 'mail' -%}
		{%- block bgcolor -%}eeeeee{%- endblock -%}
		{%- block td_bottom -%}20px{%- endblock -%}
		{%- block td_style -%}font-size: 14px;{%- endblock -%}
		{%- block td_content -%}
		{%- if c.messages -%}
			{{- 'periodic_overview.messages.explain'|trans({
				'%link_open%': context_url_open('messages_extended', mpp_ary(c.user_id, c.schema), {}),
				'%link_close%': '</a>',
				'%days%': config_int('periodic_mail.days', c.schema)
			})|raw -}}
		{%- else -%}
			{{- 'periodic_overview.messages.none'|trans({
				'%link_open%': context_url_open('messages_extended',
					mpp_ary(c.user_id, c.schema), {}),
				'%link_close%': '</a>'
			})|raw -}}
		{%- endif -%}
		{%- endblock td_content -%}
	{%- endembed -%}

{% for msg in c.messages %}
	{%- embed 'mail/embed/table600.html.twig' -%}
		{%- trans_default_domain 'mail' -%}
		{%- block bgcolor -%}
			{%- if loop.index is even -%}
				eeeeee
			{%- else -%}
				ffffff
			{%- endif -%}
		{%- endblock -%}
		{%- block td_top -%}20px{%- endblock -%}
		{%- block td_bottom -%}20px{%- endblock -%}
		{%- block td_style -%}font-size: 14px;{%- endblock -%}
		{%- block td_content -%}
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				{%- if msg.image_file -%}
					<td width="250" align="left" valign="top">
						{{- context_url_open('messages_show', mpp_ary(c.user_id, c.schema), {'id': msg.id})|raw -}}
						<img src="{{- s3_url(msg.image_file) -}}" height="200" alt="[ {{ 'label.image'|trans }} ]" />
						</a>
					</td>
					<td width="30">
						&nbsp;
					</td>
					<td width="310" align="left" valign="top">
				{%- else -%}
					<td width="100" align="left" valign="top">
				{%- endif -%}
					{%- if msg.is_offer -%}
						{%- embed 'mail/embed/btn.html.twig' -%}
							{%- trans_default_domain 'mail' -%}
							{%- block bgcolor -%}ffffff{%- endblock -%}
							{%- block border_color -%}222222{%- endblock -%}
							{%- block color -%}222222{%- endblock -%}
							{%- block label -%}
								{{- 'label.offer'|trans -}}
							{%- endblock label -%}
							{%- block href -%}
								{{- context_url('messages_show', mpp_ary(c.user_id, c.schema), {'id': msg.id}) -}}
							{%- endblock href -%}
						{%- endembed -%}
					{%- else -%}
						{%- embed 'mail/embed/btn.html.twig' -%}
							{%- trans_default_domain 'mail' -%}
							{%- block bgcolor -%}777777{%- endblock -%}
							{%- block border_color -%}ffffff{%- endblock -%}
							{%- block color -%}ffffff{%- endblock -%}
							{%- block label -%}
								{{- 'label.want'|trans -}}
							{%- endblock label -%}
							{%- block href -%}
								{{- context_url('messages_show', mpp_ary(c.user_id, c.schema), {'id': msg.id}) -}}
							{%- endblock href -%}
						{%- endembed -%}
					{%- endif -%}
				{%- if msg.image_file -%}
					<table style="padding-top: 5px;" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td>
				{%- else -%}
					</td><td width="30"></td><td align="left" valign="top">
				{%- endif -%}
					{{- context_url_open('messages_show', mpp_ary(c.user_id, c.schema), {'id': msg.id})|raw -}}
					{{ msg.subject -}}
					</a>
				{%- if msg.image_file -%}
							</td>
						</tr>
					</table>
				{%- endif -%}
				</td>
			</tr>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" width="100%"  style="padding-top:15px;padding-bottom:15px;">
			<tr>
				<td>
					{{- msg.content|raw -}}
				</td>
			</tr>
		</table>
		{%- if msg.postcode -%}
		<table bgcolor="#dddddd" border="0" style="font-size: 14px;padding-top:5px;padding-bottom:5px;padding-left:5px;" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td title="{{- 'label.postcode'|trans -}}">
					{{- 'label.postcode'|trans -}}:&nbsp;
					{{- msg.postcode -}}
				</td>
			</tr>
		</table>
		{%- endif -%}
		<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:14px;padding-top:5px;padding-bottom:5px;">
			<tr>
				<td>
					{{- context_url_open('users_show', mpp_ary(c.user_id, c.schema),
						{'id': msg.user_id})|raw -}}
					{{- account(msg.user_id, c.schema) -}}
					</a>
				</td>
			</tr>
		</table>
		{%- if msg.mail -%}
		<table border="0" cellpadding="0" cellspacing="0" style="font-size:14px;padding-top:5px;padding-bottom:5px;">
			<tr>
				{%- for mail in msg.mail -%}
					<td>
						<a href="mailto:{{- mail -}}?subject={{- msg.subject|url_encode -}}">
						{{- 'label.email'|trans -}}
						</a>
					</td>
				{%- endfor -%}
			</tr>
		</table>
		{%- endif -%}
		{%- endblock td_content -%}
	{%- endembed -%}
{%- endfor -%}

	{%- embed 'mail/embed/table600.html.twig' -%}
		{%- trans_default_domain 'mail' -%}
		{%- block td_top -%}20px{%- endblock -%}
		{%- block td_bottom -%}20px{%- endblock -%}
		{%- block bgcolor -%}
			{%- if c.messages|length is even -%}
				ffffff
			{%- else -%}
				eeeeee
			{%- endif -%}
		{%- endblock -%}
		{%- block td_align -%}center{%- endblock -%}
		{%- block td_style %}font-size: 14px;{%- endblock -%}
		{%- block td_content -%}
		{{- 'periodic_overview.messages.add'|trans({
			'%link_open%': context_url_open('messages_add', mpp_ary(c.user_id, c.schema), {}),
			'%link_close%': '</a>'
		})|raw -}}
		{%- endblock td_content -%}
	{%- endembed -%}

	{%- include 'mail/include/spacer20.html.twig' -%}
{%- endmacro html -%}

{% macro text(c) %}
{%- set et = c.et -%}
{% autoescape false %}

{{ 'periodic_overview.messages.title'|trans|underline }}

{% if c.messages %}
{{ 'periodic_overview.messages.explain'|trans({
	'%link_open%': '',
	'%link_close%': '',
	'%days%': config_int('periodic_mail.days', c.schema)
}) }}
{% for msg in c.messages %}

{% if msg.is_offer -%}
	{{- 'label.offer'|trans -}}
{%- else -%}
	{{- 'label.want'|trans -}}
{%- endif -%}: {{ msg.subject }}
{{ context_url('messages_show', mpp_ary(c.user_id, c.schema), {'id': msg.id}) }}
{{ account(msg.user_id, c.schema) }}

{% endfor %}
{% else %}
{{ 'periodic_overview.messages.none'|trans({
	'%link_open%': '',
	'%link_close%': '',
	'%days%': config_int('periodic_mail.days', c.schema)
}) }}
{% endif %}

{{- 'periodic_overview.messages.add'|trans({
	'%link_open%': '',
	'%link_close%': ''
}) }}
{{ context_url('messages_add', mpp_ary(c.user_id, c.schema), {}) }}
{% endautoescape %}
{% endmacro text %}
