{%- trans_default_domain 'mail' -%}

{%- macro html(news, option, user_id, schema) -%}

<h3>
{{- 'periodic_overview.news.title'|trans({
	'%link_open%': context_url_open('news_extended', mpp_ary(user_id, schema), {}),
	'%link_close%': '</a>'
})|raw -}}
</h3>

{%- if news -%}
<ul>
{%- for n in news -%}
<li>
<h4>
{{- context_url_open('news_show', mpp_ary(user_id, schema), {'id': n.id})|raw -}}
{{- n.headline -}}
</a>
</h4>
{{- n.newsitem|raw -}}<br />
{%- if n.location -%}
	{{- 'label.location'|trans -}}:
	&nbsp;<strong>
	{{- n.location -}}
	</strong>
	<br />
{%- endif -%}
{%- if n.itemdate -%}
	{{- 'label.date'|trans -}}:
	&nbsp;<strong>
	{{ n.itemdate|date_format('day', schema) }}
	</strong>
	<br />
{%- endif -%}
{{- 'periodic_overview.news.creator'|trans({
	'%link_open%': context_url_open('users_show', mpp_ary(user_id, schema), {'id': n.user_id}),
	'%link_close%': '</a>',
	'%account%': account(n.user_id, schema)
})|raw -}}
</li>

{%- endfor -%}
</ul>
{%- else -%}
	<p>
	{%- if option == 'recent' -%}
		{{- 'periodic_overview.news.no_recent'|trans -}}
	{%- else -%}
		{{- 'periodic_overview.news.none'|trans -}}
	{%- endif -%}
	</p>
{%- endif -%}

{%- endmacro html -%}

{% macro text(news, option, user_id, schema) %}
{% autoescape false %}

{{- 'periodic_overview.news.title'|trans({
	'%link_open%': '',
	'%link_close%': ''
})|underline }}
{% if news %}
{% for n in news %}

{{ n.headline|underline('.') }}

{{ n.newsitem_plain_text }}

{% if n.location %}
{{ 'label.location'|trans }}: {{ n.location }}
{% endif %}
{% if n.itemdate %}
{{ 'label.date'|trans }}: {{ n.itemdate|date_format('day', schema) }}
{% endif %}
{{ 'periodic_overview.news.creator'|trans({
	'%link_open%': '',
	'%link_close%': '',
	'%account%': account(n.user_id, schema)
}) }}
{% endfor %}
{% else %}

{% if option == 'recent' %}
{{ 'periodic_overview.news.no_recent'|trans }}
{% else %}
{{ 'periodic_overview.news.none'|trans }}
{% endif %}
{% endif %}
{% endautoescape %}
{% endmacro text %}