{%- trans_default_domain 'mail' -%}

{%- macro html(c) -%}
{%- set et = c.et -%}
	<h3>
		{{- context_url_open('transactions', mpp_ary(c.user_id, c.schema), {})|raw -}}
		{{- 'periodic_overview.transactions.title'|trans -}}
		</a>
	</h3>

	{%- if c.transactions -%}
	<ul>
	{%- for tr in c.transactions -%}
		<li>
		{{- 'periodic_overview.transactions.amount_from_to'|trans({
			'%amount%': tr.amount,
			'%currency%': config_str('transactions.currency.name', c.schema),
			'%from%': tr.real_from ? 'periodic_overview.transactions.intersystem_account'|trans({
				'%account%': tr.real_from,
				'%system_name%': account(tr.id_from, c.schema)
			}) : context_url_open('users_show', mpp_ary(c.user_id, c.schema), {'id': tr.id_from})
				~ account(tr.id_from, c.schema)
				~ '</a>',
			'%to%': tr.real_to ? 'periodic_overview.transactions.intersystem_account'|trans({
				'%account%': tr.real_to,
				'%system_name%': account(tr.id_to, c.schema)
			}) : context_url_open('users_show', mpp_ary(c.user_id, c.schema), {'id': tr.id_to})
				~ account(tr.id_to, c.schema)
				~ '</a>',
		})|raw -}}
		<br>
		{{- tr.description -}}
		</li>
	{%- endfor -%}
	</ul>
	{%- else -%}
	<p>
	{{- 'periodic_overview.transactions.none'|trans -}}
	</p>
	{%- endif -%}

{%- endmacro html -%}

{% macro text(c) %}
{%- set et = c.et -%}
{% autoescape false %}

{{ 'periodic_overview.transactions.title'|trans|underline }}

{% if c.transactions %}
{% for tr in c.transactions %}

* {{ 'periodic_overview.transactions.amount_from_to'|trans({
	'%amount%': tr.amount,
	'%currency%': config_str('transactions.currency.name', c.schema),
	'%from%': tr.real_from ? 'periodic_overview.transactions.intersystem_account'|trans({
		'%account%': tr.real_from,
		'%system_name%': account(tr.id_from, c.schema)
	}) : account(tr.id_from, c.schema),
	'%to%': tr.real_to ? 'periodic_overview.transactions.intersystem_account'|trans({
		'%account%': tr.real_to,
		'%system_name%': account(tr.id_to, c.schema)
	}) : account(tr.id_to, c.schema),
}) }}
	{{ tr.description }}
{% endfor %}
{% else %}
{{ 'periodic_overview.transactions.none'|trans }}
{% endif %}
{% endautoescape %}
{% endmacro text %}
