{%- trans_default_domain 'mail' -%}

{%- macro html_list(c, utype) -%}
{%- set et = c.et -%}
{%- set users = utype == 'new' ? c.new_users : c.leaving_users -%}
<ul>
	{%- for uid in users -%}
		<li>
		{{- context_url_open('users_show', mpp_ary(c.user_id, c.schema), {'id': uid})|raw -}}
			{{- account(uid, c.schema) -}}
		</a>
		</li>
	{%- endfor -%}
</ul>
{%- endmacro html_list -%}

{% macro text_list(c, utype) %}
{%- set et = c.et -%}
{%- set users = utype == 'new' ? c.new_users : c.leaving_users -%}
{% autoescape false %}
{% for uid in users %}
* {{ account(uid, c.schema) }} {{ context_url('users_show', mpp_ary(c.user_id, c.schema), {'id': uid}) }}
{% endfor %}
{% endautoescape %}
{% endmacro text_list %}

{%- macro html(c, utype) -%}
{%- set et = c.et -%}
{%- set users = utype == 'new' ? c.new_users : c.leaving_users -%}
{%- set option = utype == 'new' ? c.block_options.new_users : c.block_options.leaving_users -%}
{%- import _self as u -%}
<h3>
	{{- ('periodic_overview.'~utype~'_users.title')|trans -}}
</h3>
{%- if users -%}
	{{- u.html_list(c, utype) -}}
{%- else -%}
	{%- if option == 'recent' -%}
		<p>
			{{- ('periodic_overview.'~utype~'_users.no_recent')|trans -}}
		</p>
	{%- else -%}
		<p>
			{{- ('periodic_overview.'~utype~'_users.none')|trans -}}
		</p>
	{%- endif -%}
{%- endif -%}
{%- endmacro html -%}

{% macro text(c, utype) %}
{%- set et = c.et -%}
{%- set users = utype == 'new' ? c.new_users : c.leaving_users -%}
{%- set option = utype == 'new' ? c.block_options.new_users : c.block_options.leaving_users -%}
{% import _self as u %}
{% autoescape false %}

{{ ('periodic_overview.'~utype~'_users.title')|trans|underline }}

{% if users %}
{{ u.text_list(c, utype) }}
{% else %}
{% if option == 'recent' %}
{{ ('periodic_overview.'~utype~'_users.no_recent')|trans }}
{% else %}
{{ ('periodic_overview.'~utype~'_users.none')|trans }}
{% endif %}
{% endif %}
{% endautoescape %}
{% endmacro text %}
