<div class="card fcard fcard-info">
<div class="card-body">
<form method="post">

{%- if pp_role('admin') -%}
    <div class="form-group">
        <label for="account_code" class="control-label">
            <span class="lbl lbl-info lbl-sm">Admin</span>
            Gebruiker
        </label>
        <div class="input-group">
            <span class="input-group-prepend">
                <span class="input-group-text form-control">
                    <i class="fa fa-user"></i>
                </span>
            </span>
            <input type="text" class="form-control"
                id="account_code" name="account_code"
                data-typeahead="{{- typeahead_accounts -}}"
                value="{{- account_code -}}" required>
        </div>
    </div>
{%- endif -%}

<div class="form-group">

        $out .= self::get_radio([
            'offer'     => 'Aanbod',
            'want'      => 'Vraag',
        ], 'offer_want', $offer_want, true);

</div>

<div class="form-group">
    <label for="subject" class="control-label">
        Titel
    </label>
    <input type="text" class="form-control"
        id="subject" name="subject"
        value="{{- subject -}}" maxlength="200" required>
</div>

<div class="form-group">
    <label for="content" class="control-label">
        Omschrijving
    </label>
    <textarea name="content"
        class="form-control" id="content"
        data-summernote rows="4" maxlength="2000">
        {{- content -}}
        $out .= self::format($content);
    </textarea>
</div>

<div class="form-group">
    <label for="category_id" class="control-label">
        Categorie
    </label>
    <div class="input-group">
        <span class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-clone"></i>
            </span>
        </span>
        <select name="category_id" id="category_id" class="form-control" required>
        $out .= $select_render->get_options($cat_list, (string) $category_id);
        </select>
    </div>
</div>

<div class="form-group">
    <label for="validity_days" class="control-label">
        Geldigheid
    </label>
    <div class="input-group">
        <span class="input-group-prepend">
            <span class="input-group-text">
                dagen
            </span>
        </span>
        <input type="number" class="form-control"
            id="validity_days" name="validity_days" min="1"
            value="{{- validity_day -}}" required>
    </div>
</div>

<div class="form-group">
    <label for="amount" class="control-label">
        Aantal
    </label>
    <div class="input-group">
        <span class="input-group-prepend">
            <span class="input-group-text">
                {{- config('currency', pp_schema()) -}}
            </span>
        </span>
        <input type="number" class="form-control"
            id="amount" name="amount" min="0"
            value="{{- amount -}}">
    </div>
</div>

<div class="form-group">
    <label for="units" class="control-label">
        Per (uur, stuk, ...)
    </label>
    <div class="input-group">
        <span class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-hourglass-half"></i>
            </span>
        </span>
        <input type="text" class="form-control"
            id="units" name="units"
            value="{{- units -}}">
    </div>
</div>

<div class="form-group"
    data-base-url="{{- env_s3_url -}}"
    data-fileupload-container>
    <label for="fileupload" class="control-label">
        Afbeeldingen
    </label>
    <div class="row" data-sortable data-fileupload-sortable>
        <div class="col-sm-3 col-md-2 mb-2"
            data-fileupload-model hidden>
            <div class="card">
                <img class="card-img-top" src="" alt="afbeelding">
                <div class="card-body">
                    <p><span class="btn btn-danger"
                        title="Verwijderen"
                        role="button"
                        data-fileupload-btn-delete>
                            <i class="fa fa-times"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        {%- for img in images -%}


            <div class="col-sm-3 col-md-2 mb-2"
            data-fileupload-file="' . $img . '">
            <div class="card">

            <img class="card-img-top" src="
            $out .= $env_s3_url . $img;
            " alt="afbeelding">

            <div class="card-body">
            <p><span class="btn btn-danger"
            title="Verwijderen" role="button" data-fileupload-btn-delete>
            <i class="fa fa-times"></i></span></p>
            </div>

            </div>
            </div>
        {%- endfor -%}

    </div>

        $upload_img_param = [
            'form_token' 	=> $form_token_service->get(),
        ];

        if ($edit_mode)
        {
            $upload_img_param['id'] = $id;
            $upload_img_route = 'messages_edit_images_upload
        }
        else
        {
            $upload_img_route = 'messages_add_images_upload
        }

    <label class="btn btn-default border border-secondary-li"
        data-fileupload-btn>
        <i class="fa fa-plus" data-fileupload-btn-icon></i> Opladen
        <input type="file" name="images[]"
        data-fileupload-url="

        $out .= $link_render->context_path($upload_img_route, $pp->ary(),
            $upload_img_param);

        "
        data-data-type="json"
        data-auto-upload="true"
        data-accept-file-types="/(\.|\/)(jpe?g|png|gif)$/i"
        data-max-file-size="999000"
        multiple
        data-fileupload-btn-input hidden>
    </label>&nbsp;

    <p>Toegestane formaten: jpg/jpeg, png, gif.
        Je kan ook afbeeldingen hierheen
        verslepen.
        De volgorde kan veranderd worden door te verslepen.</p>

    <input type="hidden" name="image_files" value="
        $out .= htmlspecialchars($image_files ?? '[]');
        " data-fileupload-files-input>

</div>

        if ($intersystems_service->get_count($pp->schema()))
        {
            $out .= $item_access_service->get_radio_buttons('access', $access, 'messages', true);
        }
        else if ($edit_mode)
        {
            <input type="hidden" name="access" value="' . $access . '">
        }

        if ($add_mode)
        {
            $out .= $link_render->btn_cancel($vr->get('messages'), $pp->ary(), []);
        }
        else
        {
            $out .= $link_render->btn_cancel('messages_show', $pp->ary(), ['id' => $id]);
        }

        $btn_class = $edit_mode ? 'primary' : 'success

        &nbsp;
<input type="submit" value="Opslaan" name="zend" class="btn btn-' . $btn_class . ' btn-lg">

$form_token_service->get_hidden_input();

</form>
</div>
</div>
