{%- extends 'mail/base/user_no_reply_auto.twig' -%}
{%- trans_default_domain 'mail' -%}
{%- import 'mail/message_extend/macro.twig' as m -%}

{% block html_content -%}

<p>
    {%- block html_explain -%}{%- endblock -%}
</p>

<ul>
{{- m.html_extend_link(7, '1_week', message, schema) -}}
{{- m.html_extend_link(14, '2_weeks', message, schema) -}}
{{- m.html_extend_link(28, '4_weeks', message, schema) -}}
{{- m.html_extend_link(60, '2_months', message, schema) -}}
{{- m.html_extend_link(180, '6_months', message, schema) -}}
{{- m.html_extend_link(365, '1_year', message, schema) -}}
{{- m.html_extend_link(1825, '5_years', message, schema) -}}
</ul>

{%- endblock html_content %}

{% block text_content %}

{% block text_explain %}{% endblock %}

{{ m.text_extend_link(7, '1_week', message, schema) }}
{{ m.text_extend_link(14, '2_weeks', message, schema) }}
{{ m.text_extend_link(28, '4_weeks', message, schema) }}
{{ m.text_extend_link(60, '2_months', message, schema) }}
{{ m.text_extend_link(180, '6_months', message, schema) }}
{{ m.text_extend_link(365, '1_year', message, schema) }}
{{ m.text_extend_link(1825, '5_years', message, schema) }}

{% endblock text_content %}
