{% extends 'mail/base.html.twig' %}

{% block pretext %}{% endblock pretext %}

{% block body %}

{{ message }}

<hr><p>Dit bericht werd ingegeven in het contactformulier van {{ group.name }}. Het E-mail adres werd gevalideerd.
Je kan reply kiezen om te reageren.</p>
<ul>
<li>E-mail adres: {{ email }}
<li>ip: {{ ip }}
<li>browser: {{ browser}}</li>
</ul>

{% endblock body %}

{% block accountinfo %}{% endblock accountinfo %}
{% block support %}{% endblock support %}
{% block unsubscribe %}
<p>Je ontvangt dit bericht omdat je E-mail adres vermeld staat als Support E-mail adres in de <a href="{{ config_url }}">instellingen</a>.</p>
{% endblock unsubscribe %}
