{%- extends 'mail/base/base.twig' -%}
{%- trans_default_domain 'mail' -%}

{%- block subject_line -%}
    {{- 'contact_confirm.subject'|trans({
        '%system_name%': config_str('system.name', schema)}) -}}
{%- endblock subject_line %}

{%- block html_content -%}

<p>
    {{- 'contact_confirm.html_msg'|trans({
        '%link_open%': context_url_open(
            'contact_token', mpp_anon_ary(schema), {'token': token}),
        '%link_close%': '</a>'
    })|raw -}}
</p>

<p>
    {{- 'expiration.1_day'|trans -}}
</p>

<p>
    {{- 'contact_confirm.explain'|trans({
        '%system_name%': config_str('system.name', schema),
        '%link_open%': context_url_open(
            'contact', mpp_anon_ary(schema), {}),
        '%link_close%': '</a>'
    })|raw -}}
</p>
{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}

{{ 'contact_confirm.text_msg'|trans }}

{{ context_url('contact_token', mpp_anon_ary(schema), {'token': token}) }}

{{ 'expiration.1_day'|trans }}

{{ 'contact_confirm.explain'|trans({
    '%system_name%': config_str('system.name', schema),
    '%link_open%': '',
    '%link_close%': ''
}) }}

{{ context_url('contact', mpp_anon_ary(schema), {}) }}

{% endautoescape %}
{% endblock text_content %}
