{%- extends 'mail/base/admin.twig' -%}
{%- trans_default_domain 'mail' -%}

{%- block subject_line -%}
{{- 'auto_deactivate_admin.subject'|trans({
    'account': account(user_id, schema)
}) -}}
{%- endblock subject_line %}

{%- block bgcolor_system_name -%}000000{%- endblock -%}
{%- block bgcolor -%}e8eeff{%- endblock -%}
{%- block bgcolor_sub_header -%}99ff99{%- endblock -%}
{%- block sub_header -%}auto_deactivate_admin.sub_header{%- endblock -%}

{%- block html_content -%}

    {%- include 'mail/include/spacer20.html.twig' -%}

    {%- include 'mail/include/info_panel.html.twig' with {
            'info': 'auto_deactivate_admin.message'|trans({
            'ao': context_url_open('users_show', mpp_admin_ary(schema), {'id': user_id}),
            'ac': '</a>',
            'account': account(user_id, schema),
        })|raw}
    -%}

    {%- include 'mail/include/spacer20.html.twig' -%}

    {%- if user_has_email -%}
        {%- include 'mail/include/info_panel.html.twig' with {
            'info': 'auto_deactivate_admin.email_sent'|trans
        } -%}
    {%- else -%}
        {%- include 'mail/include/info_panel.html.twig' with {
            'info': 'auto_deactivate_admin.no_email_sent'|trans
        } -%}
    {%- endif -%}

    {%- include 'mail/include/spacer20.html.twig' -%}
    {%- include 'mail/include/bgspacer40.html.twig' -%}
{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}
{{ 'auto_deactivate_admin.message'|trans({
    'ao': '',
    'ac': '',
    'account': account(user_id, schema),
}) }}

{{ context_url('users_show', mpp_admin_ary(schema), {'id': user_id}) }}

{% if user_has_email %}
{{ 'auto_deactivate_admin.email_sent'|trans }}
{% else %}
{{ 'auto_deactivate_admin.no_email_sent'|trans }}
{% endif %}
{% endautoescape %}
{% endblock text_content %}
