{{- form_start(form) -}}
{{- form_errors(form) -}}
{%- include 'mollie/include/mollie_checkout_info.html.twig' -%}
{{- form_widget(form.submit,{
  'label': label|default('mollie_checkout.btn'),
  'attr': {'class': 'btn btn-primary btn-lg'}
}) -}}
{{- form_end(form) -}}
<p>{{- 'mollie_checkout.explain'|trans -}}</p>