{%- extends 'config/base/config_form.html.twig' -%}
{%- form_theme form 'form_3.html.twig' -%}

{%- block config_heading -%}
    {{- parent() -}}
    <p>
        {{- 'config_landing_page.help'|trans -}}
    </p>
{%- endblock config_heading -%}

{%- block config_form_content -%}
    {{- form_row(form.landing_page, {
        'label': 'config_landing_page.landing_page.label',
        'pre_addon': {
            'fa': 'calendar',
        }
    }) -}}
{%- endblock config_form_content -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}