{%- extends 'config/base/config_form.html.twig' -%}

{%- block form_a -%}
    {{- form_row(form.messages_enabled, {
        'label': 'config_modules.messages_enabled.label',
        'required': false
    }) -}}

    {{- form_row(form.transactions_enabled, {
        'label': 'config_modules.transactions_enabled.label',
        'required': false
    }) -}}

    {{- form_row(form.news_enabled, {
        'label': 'config_modules.news_enabled.label',
        'required': false
    }) -}}

    {{- form_row(form.docs_enabled, {
        'label': 'config_modules.docs_enabled.label',
        'required': false
    }) -}}

    {{- form_row(form.forum_enabled, {
        'label': 'config_modules.forum_enabled.label',
        'required': false
    }) -}}

    {{- form_row(form.support_form_enabled, {
        'label': 'config_modules.support_form_enabled.label',
        'required': false
    }) -}}

    <h5>{{- 'config_modules.public_modules'|trans -}}</h5>

    {{- form_row(form.home_menu_enabled, {
        'label': 'config_modules.home_menu_enabled.label',
        'required': false
    }) -}}

    {{- form_row(form.contact_form_enabled, {
        'label': 'config_modules.contact_form_enabled.label',
        'required': false
    }) -}}

    {{- form_row(form.register_form_enabled, {
        'label': 'config_modules.register_form_enabled.label',
        'required': false
    }) -}}
{%- endblock form_a -%}
