{%- extends 'config/base/config_form.html.twig' -%}

{%- block form_a -%}
    {{- form_row(form.messages_enabled, {
        'label': 'Vraag en aanbod',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.transactions_enabled, {
        'label': 'Transacties',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.news_enabled, {
        'label': 'Nieuws',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.docs_enabled, {
        'label': 'Documenten',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.forum_enabled, {
        'label': 'Forum',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.support_form_enabled, {
        'label': 'Support forumulier',
        'translation_domain': false,
        'required': false
    }) -}}

    <h5>Publieke modules</h5>

    {{- form_row(form.home_menu_enabled, {
        'label': 'Home pagina (Blijft altijd bereikbaar. Hiermee schakel je enkel het menu item in of uit.)',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.contact_form_enabled, {
        'label': 'Contact formulier',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.register_form_enabled, {
        'label': 'Registratie forumulier',
        'translation_domain': false,
        'required': false
    }) -}}
{%- endblock form_a -%}
