{% extends 'mail/base/support.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'support.subject'|trans -}}
{%- endblock -%}

{% block html_content -%}
<p>
    {{- 'support.explain'|trans({
        '%link_open%': base_link_open(schema),
        '%link_close%': '</a>',
        '%system_name%': config('systemname', schema),
        '%account%': account(user.id, schema)
    })|raw -}}
</p>
<p>
{%- if can_reply -%}
    {{- 'support.explain_reply'|trans -}}
{%- else -%}
    {{- 'support.explain_no_replay'|trans({
        '%link_open%': mail_link_open('users', {'id': user.id}, schema),
        '%link_close%': '</a>'
    })|raw -}}
{%- endif -%}
</p>
<hr />
<p>
    {{- message -}}
</p>
<hr />
{%- endblock html_content -%}

{% block text_content %}

{{ 'support.explain'|trans({
    '%link_open%': '',
    '%link_close%': '',
    '%system_name%': config('systemname', schema),
    '%account%': account(user.id, schema)
}) }}
{% if can_reply %}
{{ 'support.explain_reply'|trans }}
{% else %}
{{ 'support.explain_no_replay'|trans({
    '%link_open%': '',
    '%link_close%': ''
}) }}
{{ mail_url('users', {'id': user.id}, schema) }}
{%- endif -%}

- - - - - -

{{ message }}

- - - - - -
{% endblock text_content %}
