{%- if cms_edit_form is defined -%}
	{%- set cms_token = constant('App\\Cnst\\PagesCnst::CMS_TOKEN') -%}

	{%- set cms_linked = {
		'password_reset': {
			'password_reset_confirm': {
				'lbl': 'password_reset_confirm.title',
				'params': {'token': cms_token},
			}
		},
		'register_form': {
			'register_form_confirm': {
				'lbl': 'register_form_confirm_success.title',
				'params': {'token': cms_token}
			}
		}
	} -%}

	{%- set cms_edit_block_type_menu = {
		'local_role': {
			'params': {'edit': pp_ary().edit|merge({'route': '1', 'role': '1'})},
			'lbl': 'cms_edit.block_type.local_role.label',
			'title': 'cms_edit.block_type.local_role.title'
		},
		'local': {
			'params': {'edit': pp_ary().edit|merge({'route': '1', 'role': '0'})},
			'lbl': 'cms_edit.block_type.local.label',
			'title': 'cms_edit.block_type.local.title'
		},
		'global_role': {
			'params': {'edit': pp_ary().edit|merge({'route': '0', 'role': '1'})},
			'lbl': 'cms_edit.block_type.global_role.label',
			'title': 'cms_edit.block_type.global_role.title'
		},
		'global': {
			'params': {'edit': pp_ary().edit|merge({'route': '0', 'role': '0'})},
			'lbl': 'cms_edit.block_type.global.label',
			'title': 'cms_edit.block_type.global.title'
		}
	} -%}

	{%- if pp_ary().edit.route is defined and pp_ary().edit.route == '1' -%}
		{%- if pp_ary().edit.role is defined and pp_ary().edit.role == '1' -%}
			{%- set cms_edit_block_type_active = 'local_role' -%}
		{%- else -%}
			{%- set cms_edit_block_type_active = 'local' -%}
		{%- endif -%}
	{%- else -%}
		{%- if pp_ary().edit.role is defined and pp_ary().edit.role == '1' -%}
			{%- set cms_edit_block_type_active = 'global_role' -%}
		{%- else -%}
			{%- set cms_edit_block_type_active = 'global' -%}
		{%- endif -%}
	{%- endif -%}

	{%- set cms_edit_style_menu = {
		'inline': {
			'params': {'edit': pp_ary().edit|merge({'inline': '1'})},
			'lbl': 'cms_edit.editor_style.inline'
		},
		'full': {
			'params': {'edit': pp_ary().edit|merge({'inline': '0'})},
			'lbl': 'cms_edit.editor_style.full'
		}
	} -%}

	{%- set cms_edit_style_active = pp_ary().edit.inline is defined and pp_ary().edit.inline == '1' ? 'inline' : 'full' -%}

	<div class="row mt-5p">
		<div class="col-md-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div>
					<div class="pull-left">
						<h4>
							<i class="fa fa-pencil"></i>
							&nbsp;
							{{- 'cms_edit.title'|trans -}}
						</h4>
					</div>
					<div class="pull-right">

					<span class="dropdown">
						<button class="btn btn-default btn-lg dropdown-toggle" type="button" id="cms_edit_style" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Editor stijl">
							{{- (cms_edit_style_menu[cms_edit_style_active].lbl)|trans -}}
							&nbsp;<span class="caret"></span>
						</button>

						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="cms_edit_style">
							<li class="dropdown-header">
								{{- 'cms_edit.editor_style.title'|trans -}}
							</li>
							{%- for kesm, esm in cms_edit_style_menu -%}
								<li{%- if kesm == cms_edit_style_active %} class="active"{%- endif -%}>
									<a href="{{- path(route, all_params|merge(esm.params)) -}}">
										{{- (esm.lbl)|trans -}}
									</a>
								</li>
							{%- endfor -%}
						</ul>
					</span>
					<span class="dropdown">
						<button class="btn btn-default btn-lg dropdown-toggle" type="button" id="cms_edit_block_type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="{{- cms_edit_block_type_menu[cms_edit_block_type_active].title -}}">
						  {{- (cms_edit_block_type_menu[cms_edit_block_type_active].lbl)|trans -}}
						  &nbsp;
						  <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="cms_edit_block_type">
							<li class="dropdown-header">
								{{- 'cms_edit.block_type.title'|trans -}}
							</li>
							{%- for kebtm, ebtm in cms_edit_block_type_menu -%}
								<li{%- if kebtm == cms_edit_block_type_active %} class="active"{%- endif -%}>
									<a href="{{- path(route, all_params|merge(ebtm.params)) -}}" title="{{- (ebtm.title)|trans -}}">
										{{- (ebtm.lbl)|trans -}}
									</a>
								</li>
							{%- endfor -%}
						</ul>
					</span>

					</div>
					<div class="clearfix"></div>
					</div>
					<p>
						{{- 'cms_edit.explain'|trans -}}
					</p>
					<p class="text-danger" hidden data-cms-edit-no-blocks-notice>Er zijn geen content blokken van het gekozen type op deze pagina.</p>

					{{- form_start(cms_edit_form, {
						'attr': {
							'novalidate': 'novalidate',
							'data-cms-edit-form': '',
							'data-cms-edit-style': cms_edit_style_active,
							'data-s3-url': s3(),
							'data-images-upload-url': path('images_upload', {
								'role_short': 'a',
								'system': pp_ary().system,
								'form_token': cms_edit_form.children.form_token.vars.value
							})
						},
						'action': path('cms_edit', {'role_short': 'a', 'system': pp_ary().system})
					}) -}}
					{{- form_errors(cms_edit_form) -}}
					{{- form_row(cms_edit_form.route, {
						'value': route
					}) -}}
					{{- form_row(cms_edit_form.route_en, {
						'value': pp_ary().edit.route is defined and pp_ary().edit.route == '1' ? '1' : '0'
					}) -}}
					{{- form_row(cms_edit_form.role, {
						'value': pp_role()
					}) -}}
					{{- form_row(cms_edit_form.role_en, {
						'value': pp_ary().edit.role is defined and pp_ary().edit.role == '1' ? '1' : '0'
					}) -}}
					{{- form_row(cms_edit_form.all_params, {
						'value': all_params|json_encode
					}) -}}
					{{- form_row(cms_edit_form.content, {
						'value': '{}',
						'attr': {
							'data-cms-edit-content': ''
						}
					}) -}}
					{%- include 'form/cancel_btn.html.twig' with {
						'cancel_route': route,
						'cancel_route_params': {'edit': {'en': '0'}}
					} -%}
					{%- include 'form/submit_edit_btn.html.twig' with {
						'form': cms_edit_form,
						'label': 'btn.store'
					} -%}
					{{- form_end(cms_edit_form) -}}
				</div>
				{%- if cms_linked[route] is defined -%}
				<div class="panel-heading">
				<h3>{{- 'cms_edit.related_pages'|trans -}}</h3>
				</div>
				<ul class="list-group">
					{%- for rout, rary in cms_linked[route] -%}
						<li class="list-group-item bg-info">
							<a href="{{- path(rout, pp_ary()|merge(rary.params)) -}}">
								{{- rary.lbl|trans -}}
							</a>
						</li>
					{%- endfor -%}
				</ul>
				{%- endif -%}
			</div>
		</div>
	</div>
{%- endif -%}
