{%- extends 'index/base/index_base.html.twig' -%}

{%- block title -%}eLAND Contact{%- endblock -%}

{%- block jumbotron -%}
	<div class="jumbotron">
		<div class="container eland-jumbo">

		<h1>eLAND Contact</h1>
		<p>Server gemeenschapsmunten.</p>
		</div>

		<div class="container eland-jumbo-image">
			<div class="eland-contact"></div>
		</div>
	</div>
{%- endblock jumbotron -%}

{%- set email_help -%}
	<ul>
		<li>{{- 'help.email_validation_link'|trans -}}</li>
		<li>{{- 'help.email_privacy'|trans -}}</li>
	</ul>
{%- endset -%}

{%- block container -%}

	<div class="panel panel-info">
		<div class="panel-heading">
			{{- form_start(form, {'attr': {'novalidate': 'novalidate'}}) -}}
			{{- form_errors(form) -}}

			{{- form_row(form.email, {
				'label': 'label.your_email',
				'help_html': true,
				'help': email_help,
				'pre_addon': {
					'fa': 'envelope-o'
				}
			}) -}}

			{{- form_row(form.message, {
				'label': 'label.your_message',
				'attr': {
					'rows': 5
				}
			}) -}}

			{%- include 'form/captcha.html.twig' -%}

			{%- include 'form/submit_send_btn.html.twig' -%}
			{{- form_end(form) -}}
		</div>
	</div>

	{%- embed 'include/hosting.html.twig' -%}
		{%- block contact_form_link -%}
			dit contactformulier
		{%- endblock -%}
	{%- endembed -%}
{%- endblock container -%}
