{%- extends 'base/base.html.twig' -%}
{%- import 'macro/alert.html.twig' as a -%}

{%- block title -%}eLAND Contact{%- endblock -%}
{%- block navbar -%}{%- endblock -%}

{%- block jumbotron -%}
	<div class="jumbotron">
		<div class="container eland-jumbo">

		<h1>eLAND Contact</h1>
		<p>Server gemeenschapsmunten.</p>
		</div>

		<div class="container eland-jumbo-image">
			<div class="eland-contact"></div>
		</div>
	</div>

{%- endblock jumbotron -%}

{%- block page_container -%}

	<div class="container">

		{{- a.alert() -}}

		{%- if form_ok -%}

			<div class="card bg-success">
			<div class="card-body">
			<h2>Uw bericht is verstuurd.</h2>
			<p>Er wordt spoedig contact met u opgenomen.</p>
			<a href="{{- path('index') -}}"  class="btn btn-default btn-lg">
				eLAND Index
			</a>
			</div>
			</div>
			<br><br><br>
		{%- else -%}

			<div class="card bg-info">
			<div class="card-body">

			<form method="post">

				<div class="form-group">
					<label for="mail" class="control-label">Je E-mail adres</label>
					<div class="input-group">
						<span class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-envelope-o"></i>
							</span>
						</span>
						<input type="email" class="form-control" id="mail" name="mail" value="{{- mail -}}" required>
					</div>
					<p>Privacy: uw E-mail adres wordt voor
					geen ander doel gebruikt dan u terug te kunnen
					contacteren.</p>
				</div>

				<div class="form-group">
					<label for="message" class="control-label">
						Je bericht
					</label>
					<textarea name="message" class="form-control" id="message" rows="6" required>
					{{- message -}}
					</textarea>
				</div>

				{{- captcha|raw -}}

				<a href="{{- path('index') -}}" class="btn btn-default btn-lg">
					Annuleren
				</a>&nbsp;
				<input type="submit" name="zend" value="Verzenden" class="btn btn-info btn-lg">
				<input type="hidden" name="form_token" value="{{- form_token -}}">

			</form>

			</div>
			</div>

		{%- endif -%}

		{%- embed 'include/hosting.html.twig' -%}
			{%- block contact_form_link -%}
				dit contactformulier
			{%- endblock -%}
		{%- endembed -%}

	</div>

	<br><br>
{%- endblock page_container -%}
