{%- extends 'base/base.html.twig' -%}

{%- block title -%}
	{{- 'index.title'|trans -}}
{%- endblock -%}

{%- block navbar -%}{%- endblock -%}

{%- block jumbotron -%}

	<div class="jumbotron eland-index">
		<div class="container">
			<h1>
				{{- block('title') -}}
			</h1>
			<p>
				{{- 'index.sub_title'|trans -}}
			</p>
		</div>
	</div>

{%- endblock jumbotron -%}

{%- block page_container -%}

	<div class="container mb-5">
		<div class="row mb-3">

		{%- if schemas -%}
			{%- set systems_per_col = (schemas|length / 3)|round(0, 'ceil') -%}

			{%- for system, schema in schemas -%}
				{%- if not (loop.index0 % systems_per_col) -%}
				<div class="col-md-4 mb-3">
					<div class="card">
						<ul class="list-group">
				{%- endif -%}
							<li class="list-group-item">
								<a href="{{- path('home', {'system': system}) -}}">{{- config_str('system.name', schema) -}}</a>
							</li>
				{% if loop.last or not (loop.index % systems_per_col) -%}
						</ul>
					</div>
				</div>
				{%- endif -%}
			{%- endfor -%}

		{%- endif -%}
		</div>

	{%- embed 'embed/card.html.twig' -%}
		{%- import 'macro/link.html.twig' as l -%}
		{%- block body -%}
			{{- 'index.hosting_explain'|trans({
				'%the_contact_form%': l.link('index_contact_form', {}, 'index.the_contact_form')
			})|raw -}}
		{%- endblock body -%}
	{%- endembed -%}

	</div>

{%- endblock page_container -%}

{%- block index_link -%}
	<p class="mb-3">
		<a href="{{- path('index_contact_form') -}}">
			{{- 'index_contact_form.title'|trans -}}
		</a>
	</p>
{%- endblock index_link -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}
