{%- extends 'base/base.html.twig' -%}

{%- block title -%}
	eLAND
{%- endblock -%}

{%- block navbar -%}{%- endblock -%}

{%- block jumbotron -%}

	<div class="row">
		<div class="col">
			<div class="jumbotron eland-index">
				<div class="container">

				<h1>eLAND Index</h1>
				<p>Server gemeenschapsmunten</p>
				</div>
			</div>
		</div>
	</div>

{%- endblock jumbotron -%}

{%- block page_container -%}

	<div class="container">
		<div class="row">

		{%- if schemas -%}
			{%- set systems_per_col = (schemas|length / 3)|round(0, 'ceil') -%}

			{%- for system, schema in schemas -%}
				{%- if not (loop.index0 % systems_per_col) -%}
				<div class="col-md-4 mb-3">
					<div class="card">
						<ul class="list-group">
				{%- endif -%}
							<li class="list-group-item">
								<a href="{{- path('home', {'system': system}) -}}">{{- config('systemname', schema) -}}</a>
							</li>
				{% if loop.last or not (loop.index % systems_per_col) -%}
						</ul>
					</div>
				</div>
				{%- endif -%}
			{%- endfor -%}

		{%- endif -%}
		</div>

	{%- embed 'embed/card.html.twig' -%}
		{%- import 'macro/link.html.twig' as l -%}
		{%- block body -%}
			{{- 'index.hosting_explain'|trans({
				'%the_contact_form%': l.link('index_contact_form', {}, 'index.the_contact_form')
			})|raw -}}
		{%- endblock body -%}
	{%- endembed -%}

	</div>

	<br><br>
{%- endblock page_container -%}

{%- block index_link -%}
	<p>
		<a href="{{- path('index_contact_form') -}}">
			Contactformulier
		</a>
	</p>
{%- endblock index_link -%}


{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}
