{%- macro add(href, title) -%}
    {%- import _self as tb -%}
    {{- tb.button(href, title, 'btn.add', 'success', 'plus') -}}&nbsp;
{%- endmacro add -%}

{%- macro edit(href, title) -%}
    {%- import _self as tb -%}
    {{- tb.button(href, title, 'btn.edit', 'info', 'pencil') -}}&nbsp;
{%- endmacro edit -%}

{%- macro del(href, title) -%}
    {%- import _self as tb -%}
    {{- tb.button(href, title, 'btn.delete', 'danger', 'times') -}}&nbsp;
{%- endmacro del -%}

{%- macro approve(form_submit, title) -%}
    {{- form_widget(form_submit, {'label': 'btn.approve',
        'fa': 'thumbs-o-up', 'span_attr': {'class': 'd-none d-md-inline'},
        'attr': {'class': 'btn-warning', 'title': title}}) -}}&nbsp;
{%- endmacro approve -%}

{%- macro button(href, title, label, class, fa) -%}
    <a href="{{- href -}}" class="btn btn-{{- class -}}" title="{{- title|trans -}}">
        <i class="fa fa-{{- fa -}}"></i>
        <span class="d-none d-md-inline">&nbsp;
            {{- label|trans -}}
        </span>
    </a>
{%- endmacro button -%}
