{%- extends 'mail/base/admin.twig' -%}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'transaction_intersystem_fail.subject'|trans -}}
{%- endblock subject_line -%}

{% block html_content %}

<h3>
    {{- 'transaction_intersystem_fail.title'|trans -}}
</h3>

<p>
    {{- 'transaction_intersystem_fail.message'|trans({
        '%remote_system_name%': remote_system_name,
        '%trans_id%': transaction.transid
    }) -}}
</p>

<p>
    {{- 'label.from'|trans -}}
    <br />
    <strong>
        {{- account(from_user_id, schema) -}}
    </strong>
</p>

<p>
    {{- 'label.to'|trans -}}
    <br />
    <strong>
        {{- account(to_user_id, schema) -}}
    </strong>
</p>

<p>
    {{- 'label.destination'|trans -}}
    <br />
    <strong>
    {{- transaction.real_to -}}
    </strong>
</p>

<p>
    {{- 'label.amount'|trans -}}
    <br />
    <strong>
        {{- transaction.amount }} {{ config('currency', schema) }}
    </strong>
</p>

<p>
    {{- 'label.description'|trans -}}
    <br />
    <strong>
        {{- transaction.description -}}
    </strong>
</p>

{%- endblock html_content -%}

{% block text_content %}

{{ 'transaction_intersystem_fail.title'|trans|underline|raw }}

{{ 'transaction_intersystem_fail.message'|trans({
    '%remote_system_name%': remote_system_name,
    '%trans_id%': transaction.transid
})|raw }}

{{ 'label.from'|trans|raw }}
{{ account(from_user_id, schema)|raw }}

{{ 'label.to'|trans|raw }}
{{ account(to_user_id, schema)|raw }}

{{ 'label.destination'|trans|raw }}
{{ transaction.real_to|raw }}

{{ 'label.amount'|trans|raw }}
{{ transaction.amount|raw }} {{ config('currency', schema)|raw }}

{{ 'label.description'|trans|raw }}
{{ transaction.description|raw }}

{% endblock text_content %}
