{%- extends 'mail/base.twig' -%}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'transaction_intersystem_fail.subject'|trans -}}
{%- endblock subject_line -%}

{% block html_content %}

<h3>
    {{- 'transaction_intersystem_fail.title'|trans -}}
</h3>

<p>
    {{- 'transaction_intersystem_fail.message'|trans({
        '%remote_system_name%': remote_system_name,
        '%trans_id%': transaction.transid
    }) -}}
</p>

<p>
    {{- 'label.from'|trans -}}
    <br />
    <strong>
        {{- account(from_user_id, schema) -}}
    </strong>
</p>

<p>
    {{- 'label.to'|trans -}}
    <br />
    <strong>
        {{- account(to_user_id, schema) -}}
    </strong>
</p>

<p>
    {{- 'label.destination'|trans -}}
    <br />
    <strong>
    {{- transaction.real_to -}}
    </strong>
</p>

<p>
    {{- 'label.amount'|trans -}}
    <br />
    <strong>
        {{- transaction.amount }} {{ config('currency', schema) }}
    </strong>
</p>

<p>
    {{- 'label.description'|trans -}}
    <br />
    <strong>
        {{- transaction.description -}}
    </strong>
</p>

{%- endblock html_content -%}

{% block text_content %}

{{ 'transaction_intersystem_fail.title'|trans|underline }}

{{ 'transaction_intersystem_fail.message'|trans({
    '%remote_system_name%': remote_system_name,
    '%trans_id%': transaction.transid
}) }}

{{ 'label.from'|trans }}
{{ account(from_user_id, schema) }}

{{ 'label.to'|trans }}
{{ account(to_user_id, schema) }}

{{ 'label.destination'|trans }}
{{ transaction.real_to }}

{{ 'label.amount'|trans }}
{{ transaction.amount }} {{ config('currency', schema) }}

{{ 'label.description'|trans }}
{{ transaction.description }}

{% endblock text_content %}

{% block html_unsubscribe -%}
{%- include 'mail/unsubscribe/admin.html.twig' -%}
{%- endblock html_unsubscribe %}

{% block text_unsubscribe %}
{% include 'mail/unsubscribe/admin.text.twig' %}
{% endblock text_unsubscribe %}
