{%- extends 'mail/base/base.twig' -%}
{%- trans_default_domain 'mail' -%}

{%- block subject_line -%}
    {{- 'register_confirm.subject'|trans({
        '%system_name%': config_str('system.name', schema)}) -}}
{%- endblock subject_line %}

{%- block bgcolor_system_name -%}009900{%- endblock -%}
{%- block bgcolor_sub_header -%}99ff99{%- endblock -%}
{%- block sub_header -%}register.sub_header{%- endblock -%}

{%- block html_content -%}
    {%- set info -%}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        {%- include 'mail/include/row_spacer20.html.twig' -%}
        <tr>
            <td align="center">
                {%- include 'mail/include/btn.html.twig' with {
                    'bgcolor': '008800',
                    'label': 'register_confirm.btn_label'|trans,
                    'href': context_url('register_token', mpp_anon_ary(schema), {'token': token})
                } -%}
            </td>
        </tr>
        {%- include 'mail/include/row_spacer20.html.twig' -%}
        <tr>
            <td>
                {{- 'register_confirm.html_msg'|trans -}}
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                {{- 'expiration.1_week'|trans -}}
            </td>
        </tr>
        {%- include 'mail/include/row_spacer20.html.twig' -%}
        <tr>
            <td>
                {{- 'register_confirm.explain'|trans({
                    '%system_name%': config_str('system.name', schema),
                    '%link_open%': context_url_open('register', mpp_anon_ary(schema), {}),
                    '%link_close%': '</a>'
                })|raw -}}
            </td>
        </tr>
    </table>
    {%- include 'mail/include/row_spacer20.html.twig' -%}
    {%- endset -%}

    {%- include 'mail/include/spacer20.html.twig' -%}

    {%- include 'mail/include/info_panel.html.twig' with {
        'info': info|raw
    } -%}

    {%- include 'mail/include/spacer20.html.twig' -%}
    {%- include 'mail/include/bgspacer40.html.twig' -%}
{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}

{{ 'register_confirm.text_msg'|trans }}

{{ context_url('register_confirm', mpp_anon_ary(schema), {'token': token}) }}

{{ 'expiration.1_week'|trans }}

{{ 'register_confirm.explain'|trans({
    '%system_name%': config_str('system.name', schema),
    '%link_open%': '',
    '%link_close%': ''
}) }}

{{ context_url('register', mpp_anon_ary(schema), {}) }}

{% endautoescape %}
{% endblock text_content %}
