{% extends 'mail/base/user.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'password_reset_user.subject'|trans -}}
{%- endblock %}

{%- block html_content -%}
<h3>
    {{- 'password_reset_user.title'|trans -}}
</h3>

<p>
    {{- 'password_reset_user.message'|trans -}}
</p>

<p>
    {{- 'label.password'|trans -}}: <strong>{{- password -}}</strong>
</p>
{%- endblock html_content -%}

{% block text_content %}

{{ 'password_reset_user.title'|trans|underline }}

{{ 'password_reset_user.message'|trans }}

{{ 'label.password'|trans }}: {{ password }}

{% endblock text_content %}
