{%- apply inky_to_html|inline_css(source('@style/foundation-emails.css')) -%}
<container>
    <callout class="primary">
        <h1>eLAND</h1>
        <p>Bericht van het contactformulier</p>
    </callout>
    <row>
        <columns>
            <p>
                {{- message -}}
            </p>
        </columns>
    </row>
    <callout class="secondary">
        <p>
            Email verzender: {{ email_address }}
        </p>
        <p>
            IP: {{ ip }}
        </p>
        <p>
            Agent: {{ agent }}
        </p>
    </callout>
    <row>
        <columns>
            <a href="{{- url('index') -}}">eLAND</a>
        </columns>
    </row>
</container>
{%- endapply -%}