
<div class="card card-default printview mb-2">
    <div class="card-body">
        {%- block post_content_prepend -%}{{- post_content_prepend|default('') -}}{%- endblock -%}
        {%- block post_content -%}{{- post_content|default('') -}}{%- endblock -%}
        {%- block post_content_append -%}{{- post_content_append|default('') -}}{%- endblock -%}
    </div>
    <div class="card-footer">
        {%- block post_footer_prepend -%}{{- post_footer_prepend|default('') -}}{%- endblock -%}
        {%- block post_footer -%}
            <p>
                {%- block post_info -%}{%- endblock -%}
                {%- block post_buttons -%}{%- endblock -%}
            </p>
        {%- endblock post_footer -%}
        {%- block post_footer_append -%}{{- post_footer_append|default('') -}}{%- endblock -%}
    </div>
</div>
