{% extends 'mail/base/no_reply.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'mollie.is_paid.subject'|trans -}}
{%- endblock -%}

{%- block bgcolor_system_name -%}007700{%- endblock -%}
{%- block bgcolor_sub_header -%}bbffbb{%- endblock -%}
{%- block sub_header -%}mollie.is_paid.subject{%- endblock -%}

{% block html_content -%}
    {%- include 'mail/include/spacer20.html.twig' -%}

    {%- set info -%}
        {%- include 'mail/include/row_spacer20.html.twig' -%}

        <tr>
            <td>
                {{- 'mollie.is_paid.message'|trans -}}
            </td>
        </tr>

        {%- include 'mail/include/row_spacer20.html.twig' -%}

        {%- include 'mail/mollie/include/payment_info.html.twig' -%}
    {%- endset -%}

	{%- include 'mail/include/spacer20.html.twig' -%}
    {%- include 'mail/include/info_panel.html.twig' with {
        'info': info|raw
    } -%}
	{%- include 'mail/include/spacer20.html.twig' -%}
	{%- include 'mail/include/spacer20.html.twig' -%}
	{%- include 'mail/include/spacer20.html.twig' -%}
	{%- include 'mail/include/bgspacer40.html.twig' -%}

{%- endblock html_content %}

{% block text_content %}
{% autoescape false %}

{{ 'mollie.is_paid.message'|trans }}

{{ 'label.amount'|trans }}: {{ amount }} EUR

{{ 'label.description'|trans }}: {{ description }}

{% endautoescape %}
{% endblock -%}
