{% extends 'mail/base/base.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- subject|raw -}}
{%- endblock -%}

{%- block bgcolor_system_name -%}
    {%- if is_paid -%}
        009900
    {%- elseif is_canceled -%}
        444444
    {%- else -%}
        330077
    {%- endif -%}
{%- endblock -%}

{%- block bgcolor_sub_header -%}
    {%- if is_paid -%}
        eeffee
    {%- elseif is_canceled -%}
        eeeeee
    {%- else -%}
        eeccff
    {%- endif -%}
{%- endblock -%}

{%- block sub_header -%}
    {%- if is_paid -%}
        mollie.payment_request.sub_header_is_paid
    {%- elseif is_canceled -%}
        mollie.payment_request.sub_header_is_canceled
    {%- else -%}
        mollie.payment_request.sub_header
    {%- endif -%}
{%- endblock -%}

{%  block html_content -%}
    {%- set info -%}
        {%- include 'mail/mollie/include/payment_info.html.twig' -%}
        <table cellpadding="0" cellspacing="0" width="100%"></table>
        {%- if not is_paid and not is_canceled -%}
            <tr>
                <td align="center">
                    {%- include 'mail/include/btn.html.twig' with {
                        'bgcolor': '220099',
                        'label': 'mollie.payment_request.btn_label'|trans,
                        'href': context_url('mollie_checkout', mpp_anon_ary(schema), {'token': token})
                    } -%}
                </td>
            </tr>
        {%- endif -%}

        {%- include 'mail/include/row_spacer20.html.twig' -%}
        {%- include 'mail/include/row_spacer20.html.twig' -%}
        <tr>
            <td>
                {{- html|raw -}}
            </td>
        </tr>
        </table>
        {%- include 'mail/include/spacer20.html.twig' -%}
        {%- include 'mail/include/spacer40.html.twig' -%}
    {%- endset -%}

	{%- include 'mail/include/spacer20.html.twig' -%}
    {%- include 'mail/include/info_panel.html.twig' with {
        'info': info|raw
    } -%}
	{%- include 'mail/include/spacer40.html.twig' -%}
	{%- include 'mail/include/bgspacer40.html.twig' -%}
{%- endblock html_content -%}

{%- block text_content %}
{{ 'mollie.payment_request.link'|trans }}
{{ context_url('mollie_checkout', mpp_anon_ary(schema), {'token': token}) }}

{{ 'label.amount'|trans }}
{{ amount }}

{{ 'label.description'|trans }}
{{ description }}

{{ text|raw }}
{% endblock -%}