{%- extends 'config/base/config_base.html.twig' -%}

{%- if form is defined -%}
    {%- form_theme form 'form_3.html.twig' -%}
{%- endif -%}

{%- set config_menu = {
    'config_name': 'config_name.title',
    'config_logo': 'config_logo.title',
    'config_modules': 'config_modules.title',
    'config_mail': 'config_mail.title',
    'config_mail_addr': 'config_mail_addr.title',
    'config_landing_page': 'config_landing_page.title',
    'config_ext_url': 'config_ext_url.title',
    'config_date_format': 'config_date_format.title',
    'config_maintenance': 'config_maintenance.title'
} -%}

{%- block content -%}

<ul class="nav nav-pills">
    {%- for rt, lbl in config_menu -%}
        <li role="presentation"{%- if app.request.get('_route') == rt %} class="active"{%- endif -%}>
            <a href="{{- path(rt, pp_ary()) -}}">
                {{- lbl|trans -}}
            </a>
        </li>
    {%- endfor -%}
</ul>

<div class="panel panel-info">
    <div class="panel-heading">
        {%- block config_heading -%}
        <h4>
            {%- block config_title -%}
                {{- config_menu[app.request.attributes.get('_route')]|trans -}}
            {%- endblock -%}
        </h4>
        {%- endblock config_heading -%}
    </div>
    <div class="panel-heading">

    {%- block pane_content -%}

    {{- form_start(form) -}}
    {{- form_errors(form) -}}
    <div class="custom-checkbox">

    {%- block form_content -%}
    {%- endblock -%}

    {%- block cancel_btn -%}
        <a href="{{- path(app.request.attributes.get('_route'), pp_ary()) -}}" class="btn btn-lg btn-default">
            {{- 'btn.cancel'|trans -}}
        </a>
        &nbsp;
    {%- endblock -%}

    {%- block submit_btn -%}
        {{- form_widget(form.submit, {
            'label': 'btn.edit',
            'attr': {'class': 'btn-primary btn-lg'},
        }) -}}
    {%- endblock submit_btn -%}

    </div>
    {{- form_end(form) -}}

    {%- endblock pane_content -%}

    </div>
</div>
{%- endblock content -%}
