{%- extends 'base/navbar.html.twig' -%}

{%- set active_menu = 'config' -%}
{%- set active_admin_menu = 'config' -%}

{%- block heading_title -%}
    {{- 'config.title'|trans -}}
{%- endblock heading_title -%}

{%- block heading_fa -%}
    cogs
{%- endblock heading_fa -%}

{%- set config_tab_menu = {
    'config_name': 'config_name.title',
    'config_logo': 'config_logo.title',
    'config_modules': 'config_modules.title'
} -%}

{%- block content -%}
    <ul class="nav nav-pills mb-2">
    {%- for rt, lbl in config_tab_menu -%}
        <li class="nav-item">
            <a class="nav-link{%- if app.request.attributes.get('_route') == rt %} active{%- endif -%}" href="{{- path(rt, pp_ary()) -}}">
                {{- lbl|trans -}}
            </a>
        </li>
    {%- endfor -%}
    </ul>

    {%- block form -%}
        {%- embed 'form/form_embed.html.twig' -%}
            {%- block form_header -%}
                {%- include 'config/include/config_form_header.html.twig' -%}
            {%- endblock form_header -%}

            {%- block form_submit_btn -%}
                {{- form_widget(form.submit,{
                    'label': 'btn.edit',
                    'attr': {'class': 'btn-primary'}
                }) -}}
            {%- endblock form_submit_btn -%}
        {%- endembed -%}
    {%- endblock form -%}

{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}