{%- extends 'base/sidebar.html.twig' -%}


{%- block content -%}
    {%- embed 'embed/card.html.twig' -%}
        {%- import 'macro/btn_link.html.twig' as bl -%}
        {%- block card_type -%}danger{%- endblock -%}
        {%- block body -%}
            <h2>
                {{- 'register_confirm_fail.title'|trans -}}
            </h2>
            <p>
                {{- 'error.token_not_valid'|trans({}, 'alert') -}}
            </p>

            {{- bl.info('register', {}, 'btn.try_again') -}}
        {%- endblock body -%}
    {%- endembed -%}

{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}