{%- extends 'transactions/base/transactions_base.html.twig' -%}

{%- block content -%}

<div class="panel panel-info">
    <div class="panel-heading">

    {{- form_start(form) -}}
    {{- form_errors(form) -}}
    <div class="custom-checkbox">

    {%- block form_content -%}
    {%- endblock -%}

    {%- block cancel_btn -%}
        <a href="{{- path(route, pp_ary()) -}}" class="btn btn-lg btn-default">
            {{- 'btn.cancel'|trans -}}
        </a>
        &nbsp;
    {%- endblock -%}

    {%- block submit_btn -%}
        {{- form_widget(form.submit, {
            'label': 'Aanpassen',
            'attr': {'class': 'btn-primary btn-lg'},
            'translation_domain': false
        }) -}}
    {%- endblock submit_btn -%}

    </div>
    {{- form_end(form) -}}

    </div>
</div>

{%- endblock content -%}
