{%- extends 'mail/base/user_no_reply_auto.twig' -%}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'periodic_overview.subject'|trans|raw -}}
{%- endblock subject_line -%}

{%- block sub_header -%}periodic_overview.subject{%- endblock -%}

{% block html_content -%}

{%- import 'mail/periodic_overview/macro/messages.twig' as i_messages -%}
{%- import 'mail/periodic_overview/macro/messages_self.twig' as i_messages_self -%}
{%- import 'mail/periodic_overview/macro/intersystem.twig' as i_intersystem -%}
{%- import 'mail/periodic_overview/macro/forum.twig' as i_forum -%}
{%- import 'mail/periodic_overview/macro/news.twig' as i_news -%}
{%- import 'mail/periodic_overview/macro/docs.twig' as i_docs -%}
{%- import 'mail/periodic_overview/macro/new_users.twig' as i_new_users -%}
{%- import 'mail/periodic_overview/macro/leaving_users.twig' as i_leaving_users -%}
{%- import 'mail/periodic_overview/macro/transactions.twig' as i_transactions -%}
{%- import 'mail/periodic_overview/macro/mollie.twig' as i_mollie -%}

{%- include 'mail/include/bgspacer40.html.twig' -%}

{%- for b in blocks_sorted -%}
    {%- if b == 'messages' -%}
        {{- i_messages.html(_context) -}}
    {%- elseif b == 'messages_self' -%}
        {{- i_messages_self.html(_context) -}}
    {%- elseif b == 'intersystem' -%}
        {{- i_intersystem.html(_context) -}}
    {%- elseif b == 'forum' -%}
        {{- i_forum.html(_context) -}}
    {%- elseif b == 'news' -%}
        {{- i_news.html(_context) -}}
    {%- elseif b == 'docs' -%}
        {{- i_docs.html(_context) -}}
    {%- elseif b == 'new_users' -%}
        {{- i_new_users.html(_context) -}}
    {%- elseif b == 'leaving_users' -%}
        {{- i_leaving_users.html(_context) -}}
    {%- elseif b == 'transactions' -%}
        {{- i_transactions.html(_context) -}}
    {%- elseif b == 'mollie' and mollie|length -%}
        {{- i_mollie.html(_context) -}}
    {%- endif -%}

    {%- if b != 'mollie' or mollie|length -%}
        {%- include 'mail/include/spacer20.html.twig' -%}
        {%- include 'mail/include/bgspacer40.html.twig' -%}
    {%- endif -%}
{%- endfor -%}

{%- endblock html_content -%}

{%- block html_unsubscribe -%}

    {%- include 'mail/include/info_panel.html.twig' with {
        'info': 'periodic_overview.unsubscribe'|trans({
            'ao': context_url_open(
                'users_show',
                mpp_ary(user_id, schema),
                {'id': user_id}),
            'ac': '</a>'
        })|raw
    } -%}

    {%- include 'mail/include/bgspacer40.html.twig' -%}

{%- endblock html_unsubscribe -%}

{% block text_content %}
{% import 'mail/periodic_overview/macro/messages.twig' as i_messages %}
{% import 'mail/periodic_overview/macro/messages_self.twig' as i_messages_self %}
{% import 'mail/periodic_overview/macro/intersystem.twig' as i_intersystem %}
{% import 'mail/periodic_overview/macro/forum.twig' as i_forum %}
{% import 'mail/periodic_overview/macro/news.twig' as i_news %}
{% import 'mail/periodic_overview/macro/docs.twig' as i_docs %}
{%- import 'mail/periodic_overview/macro/new_users.twig' as i_new_users -%}
{%- import 'mail/periodic_overview/macro/leaving_users.twig' as i_leaving_users -%}
{% import 'mail/periodic_overview/macro/transactions.twig' as i_transactions %}
{% import 'mail/periodic_overview/macro/mollie.twig' as i_mollie %}
{% for b in blocks_sorted %}
{% if b == 'messages' %}
{{ i_messages.text(_context) }}
{% elseif b == 'messages_self' %}
{{ i_messages_self.text(_context) }}
{% elseif b == 'intersystem' %}
{{ i_intersystem.text(_context) }}
{% elseif b == 'forum' %}
{{ i_forum.text(_context) }}
{% elseif b == 'news' %}
{{ i_news.text(_context) }}
{% elseif b == 'docs' %}
{{ i_docs.text(_context) }}
{% elseif b == 'new_users' %}
{{ i_new_users.text(_context) }}
{% elseif b == 'leaving_users' %}
{{ i_leaving_users.text(_context) }}
{% elseif b == 'transactions' %}
{{ i_transactions.text(_context) }}
{% elseif b == 'mollie' and mollie|length %}
{{ i_mollie.text(_context) }}
{% endif %}
{% endfor %}
{% endblock text_content %}

{% block text_unsubscribe %}
{% autoescape false %}

{{ 'periodic_overview.unsubscribe'|trans({
    'ao': '',
    'ac': ''
}) }}

{{ context_url('users_show', mpp_ary(user_id, schema), {'id': user_id}) }}
{% endautoescape %}
{% endblock text_unsubscribe %}
