{%- extends 'mail/base/user_no_reply_auto.twig' -%}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'periodic_overview.subject'|trans|raw -}}
{%- endblock subject_line -%}

{%- block sub_header -%}periodic_overview.subject{%- endblock -%}

{% block html_content -%}

{%- import 'mail/periodic_overview/macro/messages.twig' as m -%}
{%- import 'mail/periodic_overview/macro/messages_self.twig' as ms -%}
{%- import 'mail/periodic_overview/macro/intersystem.twig' as i -%}
{%- import 'mail/periodic_overview/macro/forum.twig' as f -%}
{%- import 'mail/periodic_overview/macro/news.twig' as n -%}
{%- import 'mail/periodic_overview/macro/docs.twig' as d -%}
{%- import 'mail/periodic_overview/macro/new_users.twig' as nu -%}
{%- import 'mail/periodic_overview/macro/leaving_users.twig' as lu -%}
{%- import 'mail/periodic_overview/macro/transactions.twig' as t -%}

{%- include 'mail/include/bgspacer40.html.twig' -%}

{%- for b in blocks_sorted -%}
    {%- if b == 'messages' -%}
        {{- m.html(_context) -}}
    {%- elseif b == 'messages_self' -%}
        {{- ms.html(_context) -}}
    {%- elseif b == 'intersystem' -%}
        {{- i.html(_context) -}}
    {%- elseif b == 'forum' -%}
        {{- f.html(_context) -}}
    {%- elseif b == 'news' -%}
        {{- n.html(_context) -}}
    {%- elseif b == 'docs' -%}
        {{- d.html(_context) -}}
    {%- elseif b == 'new_users' -%}
        {{- nu.html(_context) -}}
    {%- elseif b == 'leaving_users' -%}
        {{- lu.html(_context) -}}
    {%- elseif b == 'transactions' -%}
        {{- t.html(_context) -}}
    {%- endif -%}
	{%- include 'mail/include/spacer20.html.twig' -%}
	{%- include 'mail/include/bgspacer40.html.twig' -%}
{%- endfor -%}

{%- endblock html_content -%}

{%- block html_unsubscribe -%}

    {%- include 'mail/include/info_panel.html.twig' with {
        'info': 'periodic_overview.unsubscribe'|trans({
            '%link_open%': context_url_open(
                'users_show',
                mpp_ary(user_id, schema),
                {'id': user_id}),
            '%link_close%': '</a>'
        })|raw
    } -%}

    {%- include 'mail/include/bgspacer40.html.twig' -%}

{%- endblock html_unsubscribe -%}

{% block text_content %}
{% import 'mail/periodic_overview/macro/messages.twig' as m %}
{% import 'mail/periodic_overview/macro/messages_self.twig' as ms %}
{% import 'mail/periodic_overview/macro/intersystem.twig' as i %}
{% import 'mail/periodic_overview/macro/forum.twig' as f %}
{% import 'mail/periodic_overview/macro/news.twig' as n %}
{% import 'mail/periodic_overview/macro/docs.twig' as d %}
{%- import 'mail/periodic_overview/macro/new_users.twig' as nu -%}
{%- import 'mail/periodic_overview/macro/leaving_users.twig' as lu -%}
{% import 'mail/periodic_overview/macro/transactions.twig' as t %}
{% for b in blocks_sorted %}
{% if b == 'messages' %}
{{ m.text(_context) }}
{% elseif b == 'messages_self' %}
{{ ms.text(_context) }}
{% elseif b == 'intersystem' %}
{{ i.text(_context) }}
{% elseif b == 'forum' %}
{{ f.text(_context) }}
{% elseif b == 'news' %}
{{ n.text(_context) }}
{% elseif b == 'docs' %}
{{ d.text(_context) }}
{% elseif b == 'new_users' %}
{{ nu.text(_context) }}
{% elseif b == 'leaving_users' %}
{{ lu.text(_context) }}
{% elseif b == 'transactions' %}
{{ t.text(_context) }}
{% endif %}
{% endfor %}
{% endblock text_content %}

{% block text_unsubscribe %}
{% autoescape false %}

{{ 'periodic_overview.unsubscribe'|trans({
    '%link_open%': '',
    '%link_close%': ''
}) }}

{{ context_url('users_show', mpp_ary(user_id, schema), {'id': user_id}) }}
{% endautoescape %}
{% endblock text_unsubscribe %}
