{%- extends 'mail/base/user_no_reply_auto.twig' -%}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'periodic_overview.subject'|trans|raw -}}
{%- endblock subject_line -%}

{% block html_content -%}
{%- import 'mail/periodic_overview/macro/messages.twig' as m -%}
{%- import 'mail/periodic_overview/macro/messages_self.twig' as ms -%}
{%- import 'mail/periodic_overview/macro/intersystem.twig' as i -%}
{%- import 'mail/periodic_overview/macro/forum.twig' as f -%}
{%- import 'mail/periodic_overview/macro/news.twig' as n -%}
{%- import 'mail/periodic_overview/macro/docs.twig' as d -%}
{%- import 'mail/periodic_overview/macro/users.twig' as u -%}
{%- import 'mail/periodic_overview/macro/transactions.twig' as t -%}

{%- for b in blocks_sorted -%}
    {%- if b == 'messages' -%}
        {{- m.html(_context) -}}
    {%- elseif b == 'messages_self' -%}
        {{- ms.html(_context) -}}
    {%- elseif b == 'intersystem' -%}
        {{- i.html(_context) -}}
    {%- elseif b == 'forum' -%}
        {{- f.html(_context) -}}
    {%- elseif b == 'news' -%}
        {{- n.html(_context) -}}
    {%- elseif b == 'docs' -%}
        {{- d.html(_context) -}}
    {%- elseif b == 'new_users' -%}
        {{- u.html(_context, 'new') -}}
    {%- elseif b == 'leaving_users' -%}
        {{- u.html(_context, 'leaving') -}}
    {%- elseif b == 'transactions' -%}
        {{- t.html(_context) -}}
    {%- endif -%}
{%- endfor -%}

{%- endblock html_content -%}

{% block text_content %}
{% import 'mail/periodic_overview/macro/messages.twig' as m %}
{% import 'mail/periodic_overview/macro/messages_self.twig' as ms %}
{% import 'mail/periodic_overview/macro/intersystem.twig' as i %}
{% import 'mail/periodic_overview/macro/forum.twig' as f %}
{% import 'mail/periodic_overview/macro/news.twig' as n %}
{% import 'mail/periodic_overview/macro/docs.twig' as d %}
{% import 'mail/periodic_overview/macro/users.twig' as u %}
{% import 'mail/periodic_overview/macro/transactions.twig' as t %}
{% for b in blocks_sorted %}
{% if b == 'messages' %}
{{ m.text(_context) }}
{% elseif b == 'messages_self' %}
{{ ms.text(_context) }}
{% elseif b == 'intersystem' %}
{{ i.text(_context) }}
{% elseif b == 'forum' %}
{{ f.text(_context) }}
{% elseif b == 'news' %}
{{ n.text(_context) }}
{% elseif b == 'docs' %}
{{ d.text(_context) }}
{% elseif b == 'new_users' %}
{{ u.text(_context, 'new') }}
{% elseif b == 'leaving_users' %}
{{ u.text(_context, 'leaving') }}
{% elseif b == 'transactions' %}
{{ t.text(_context) }}
{% endif %}
{% endfor %}
{% endblock text_content %}

{%- block html_unsubscribe -%}
<p>
{{- 'periodic_overview.unsubscribe'|trans({
    '%link_open%': context_url_open(
        'users_show',
        mpp_ary(user_id, schema),
        {'id': user_id}),
    '%link_close%': '</a>'
})|raw -}}
</p>
{%- endblock html_unsubscribe -%}

{% block text_unsubscribe %}
{% autoescape false %}

{{ 'periodic_overview.unsubscribe'|trans({
    '%link_open%': '',
    '%link_close%': ''
}) }}

{{ context_url('users_show', mpp_ary(user_id, schema), {'id': user_id}) }}
{% endautoescape %}
{% endblock text_unsubscribe %}
