{% extends 'mail/base/base.twig' %}
{%- trans_default_domain 'mail' -%}

{% block html_content -%}
<p>
    {%- block html_explain -%}{%- endblock -%}
    {%- block html_reply -%}&nbsp;
        {{- 'reply.user'|trans({
            '%from_account%': account(from_user.id, from_schema),
            '%link_open%': mail_link_open('users', {'id': from_user.id}, from_schema, email_token),
            '%link_close%': '</a>'
        })|raw -}}
    {%- endblock html_reply -%}
</p>
<hr />
<p>
    {{- msg_content -}}
</p>
    {%- block html_from_contacts -%}
    <hr />
    <h4>
        {{- 'private_msg.from_contacts'|trans({
            '%from_account%': account(from_user.id, from_schema)
        }) -}}
    </h4>

    {%- for c in from_contacts -%}

    <p>
        {{- c.abbrev -}}
        <br>
        <strong>
            {{- c.value -}}
        </strong>
    </p>

    {%- endfor -%}
    {%- endblock html_from_contacts -%}
<hr />
{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}
{% block text_explain %}{% endblock %}
{% block text_reply %}
{{ 'reply.user'|trans({
    '%from_account%': account(from_user.id, from_schema),
    '%link_open%': '',
    '%link_close%': ''
}) }}
{% endblock %}

- - - - - -

{{ msg_content }}

- - - - - -

{% block text_from_contacts %}
{{ 'private_msg.from_contacts'|trans({
    '%from_account%': account(from_user.id, from_schema)
})|underline }}

{% for c in from_contacts %}
{{ c.abbrev }}
{{ c.value }}

{% endfor %}
- - - - - -

{% endblock text_from_contacts %}
{% endautoescape %}
{% endblock text_content %}
