{%- trans_default_domain 'mail' -%}

{%- macro html(forum, schema, email_token) -%}

	<h3>
		{{- mail_link_open('forum', {'ev': email_token}, schema) -}}
		{{- 'periodic_overview.forum.title'|trans -}}
		</a>
	</h3>

	{%- if forum -%}
	<ul>
	{%- for f in forum -%}
	<li>
	{{- mail_link_open('forum', {'id': f.id, 'ev': email_token}, schema) -}}
	{{- f.subject -}}
	</a>
	{#	&nbsp;[{{ msg.new_reply_count }}]  #}
	</li>
	{%- endfor -%}
	</ul>
	{%- else -%}
	<p>
	{{- 'periodic_overview.forum.none'|trans({
		'%link_open%': mail_link(
			'forum',
			{'id': f.id, 'ev': email_token},
			schema),
		'%link_close%': '</a>'
	})|raw -}}
	</p>
	{%- endif -%}

{%- endmacro html -%}

{% macro text(forum, schema, email_token) %}

{{ 'periodic_overview.forum.title'|trans|underline }}

{% for f in forum %}
* {{ f.subject }} {{ mail_link('forum', {'id': f.id, 'ev': email_token}, schema) }}
{% else %}
{{ 'periodic_overview.forum.none'|trans({
	'%link_open%' : '',
	'%link_close%' : ''
}) }}
{% endfor %}

{% endmacro text %}
