{%- trans_default_domain 'mail' -%}

{% macro html(messages, user_id, schema) -%}
<h3>
{{- 'periodic_overview.ads.title'|trans -}}
</h3>
{% if messages %}
<p>
{{- 'periodic_overview.ads.explain'|trans({
	'%link_open%': context_url_open('messages_extended', mpp_ary(user_id, schema), {}),
	'%link_close%': '</a>',
	'%days%': config('saldofreqdays', schema)
})|raw -}}
</p>
<ul>
{% for msg in messages %}
<li>
	<strong>
		{{- context_url_open('messages_show', mpp_ary(user_id, schema), {'id': msg.id})|raw -}}
			{%- if msg.offer -%}
				{{- 'label.offer'|trans -}}
			{%- else -%}
				{{- 'label.want'|trans -}}
			{%- endif -%}:&nbsp;
			{{ msg.content -}}
		</a>
	</strong>
<br />
{%- if msg.images|length -%}
	<br/>
	<img src="{{- s3_url(msg.images.0) -}}" height="200" alt="afbeelding">
	<br />
{%- endif -%}
{{- msg.description -}}
<br />
{{- mail_link_open('users',
	{'id': msg.id_user},
	schema, email_token)|raw -}}
{{- account(msg.id_user, schema) -}}
</a>
{#-
{%- if msg.postcode -%}
	{{- 'label.postcode'|trans -}}:&nbsp;
		{{- msg.postcode -}}&nbsp;
		|&nbsp;
{%- endif -%}
-#}
{%- for mail in msg.mail -%}
	{%- if not loop.last -%}|{%- endif -%}&nbsp;
	<a href="mailto:{{- mail -}}?subject={{- msg.content|url_encode -}}">
	{{- 'label.email'|trans -}}
	</a>
{%- endfor -%}
</li>
<br />
{%- endfor -%}
</ul>

{%- else -%}
<p>
{{- 'periodic_overview.ads.none'|trans({
	'%link_open%': context_url_open('messages_extended',
		mpp_ary(user_id, schema), {}),
	'%link_close%': '</a>'
})|raw -}}
</p>
{%- endif -%}

<p>
{{- 'periodic_overview.ads.add'|trans({
	'%link_open%': mail_link_open('messages', {'add': '1'}, schema, email_token),
	'%link_close%': '</a>'
})|raw -}}
</p>

{%- endmacro html -%}

{% macro text(messages, user_id, schema) %}
{% autoescape false %}

{{ 'periodic_overview.ads.title'|trans|underline }}

{% if messages %}
{{ 'periodic_overview.ads.explain'|trans({
	'%link_open%': '',
	'%link_close%': '',
	'%days%': config('saldofreqdays', schema)
}) }}
{% for msg in messages %}

{% if msg.offer -%}
	{{- 'label.offer'|trans -}}
{%- else -%}
	{{- 'label.want'|trans -}}
{%- endif -%}: {{ msg.content }}
{{ context_url('messages_show', mpp_ary(user_id, schema), {'id': msg.id}) }}
{{ account(msg.id_user, schema) }}

{% endfor %}
{% else %}
{{ 'periodic_overview.ads.none'|trans({
	'%link_open%': '',
	'%link_close%': '',
	'%days%': config('saldofreqdays', schema)
}) }}
{% endif %}

{{- 'periodic_overview.ads.add'|trans({
	'%link_open%': '',
	'%link_close%': ''
}) }}
{{ context_url('messages_add', mpp_ary(user_id, schema), {}) }}
{% endautoescape %}
{% endmacro text %}
