{%- trans_default_domain 'mail' -%}

{%- macro html(new_users, option, schema, email_token) -%}
<h3>
	{{- 'periodic_overview.new_users.title'|trans -}}
</h3>
{%- if new_users -%}
<ul>
	{%- for u in new_users -%}
		<li>
		{{- mail_link_open('users', {'id': u.id}, schema, email_token)|raw -}}
			{{- account(u.id, schema) -}}
		</a>
		{%- if u.postcode %} | postcode: {{ u.postcode }}
		{%- endif -%}
		</li>
	{%- endfor -%}
</ul>
{%- else -%}
	{%- if option == 'recent' -%}
		<p>
			{{- 'periodic_overview.new_users.no_recent'|trans -}}
		</p>
	{%- else -%}
		<p>
			{{- 'periodic_overview.new_users.none'|trans -}}
		</p>
	{%- endif -%}
{%- endif -%}

{%- endmacro html -%}

{% macro text(new_users, option, schema, email_token) %}

{{ 'periodic_overview.new_users.title'|trans|underline }}

{% for u in new_users %}
* {{ account(u.id, schema) }}{% if u.postcode %} | postcode: {{ u.postcode }}{% endif %}

{% else %}

{% if option == 'recent' %}
{{ 'periodic_overview.new_users.no_recent'|trans }}
{% else %}
{{ 'periodic_overview.new_users.none'|trans }}
{% endif %}

{% endfor %}

{% endmacro text %}
