{%- trans_default_domain 'mail' -%}

{%- macro html(transactions, schema, email_token) -%}

	<h3>
		{{- mail_link_open('transactions', {}, schema, email_token)|raw -}}
		{{- 'periodic_overview.transactions.title'|trans -}}
		</a>
	</h3>

	{%- if transactions -%}
	<ul>
	{%- for tr in transactions -%}
		<li>
		{{- 'periodic_overview.transactions.amount_from_to'|trans({
			'%amount%': tr.amount,
			'%currency%': config('currency', schema),
			'%from%': tr.real_from ? 'periodic_overview.transactions.intersystem_account'|trans({
				'%account%': tr.real_from,
				'%system_name%': account(tr.id_from, schema)
			}) : mail_link_open('users', {'id': tr.id_from}, schema, email_token)
				~ account(tr.id_from, schema)
				~ '</a>',
			'%to%': tr.real_to ? 'periodic_overview.transactions.intersystem_account'|trans({
				'%account%': tr.real_to,
				'%system_name%': account(tr.id_to, schema)
			}) : mail_link_open('users', {'id': tr.id_to}, schema, email_token)
				~ account(tr.id_to, schema)
				~ '</a>',
		})|raw -}}
		<br>
		{{- tr.description -}}
		</li>
	{%- endfor -%}
	</ul>
	{%- else -%}
	<p>
	{{- 'periodic_overview.transactions.none'|trans -}}
	</p>
	{%- endif -%}

{%- endmacro html -%}

{% macro text(transactions, schema, email_token) %}
{% autoescape false %}

{{ 'periodic_overview.transactions.title'|trans|underline }}

{% if transactions %}
{% for tr in transactions %}

* {{ 'periodic_overview.transactions.amount_from_to'|trans({
	'%amount%': tr.amount,
	'%currency%': config('currency', schema),
	'%from%': tr.real_from ? 'periodic_overview.transactions.intersystem_account'|trans({
		'%account%': tr.real_from,
		'%system_name%': account(tr.id_from, schema)
	}) : account(tr.id_from, schema),
	'%to%': tr.real_to ? 'periodic_overview.transactions.intersystem_account'|trans({
		'%account%': tr.real_to,
		'%system_name%': account(tr.id_to, schema)
	}) : account(tr.id_to, schema),
}) }}
	{{ tr.description }}
{% endfor %}
{% else %}
{{ 'periodic_overview.transactions.none'|trans }}
{% endif %}
{% endautoescape %}
{% endmacro text %}
