{%- trans_default_domain 'mail' -%}

{%- macro html_list(users, user_id, schema) -%}
<ul>
	{%- for uid in users -%}
		<li>
		{{- context_url_open('users_show', mpp_ary(user_id, schema), {'id': uid})|raw -}}
			{{- account(uid, schema) -}}
		</a>
		</li>
	{%- endfor -%}
</ul>
{%- endmacro html_list -%}

{% macro text_list(users, user_id, schema) %}
{% autoescape false %}
{% for uid in users %}
* {{ account(uid, schema) }} {{ context_url('users_show', mpp_ary(user_id, schema), {'id': uid}) }}
{% endfor %}
{% endautoescape %}
{% endmacro text_list %}

{%- macro html(users, type, option, user_id, schema) -%}
{%- import _self as u -%}
<h3>
	{{- ('periodic_overview.'~type~'_users.title')|trans -}}
</h3>
{%- if users -%}
	{{- u.html_list(users, user_id, schema) -}}
{%- else -%}
	{%- if option == 'recent' -%}
		<p>
			{{- ('periodic_overview.'~type~'_users.no_recent')|trans -}}
		</p>
	{%- else -%}
		<p>
			{{- ('periodic_overview.'~type~'_users.none')|trans -}}
		</p>
	{%- endif -%}
{%- endif -%}
{%- endmacro html -%}

{% macro text(users, type, option, user_id, schema) %}
{% import _self as u %}
{% autoescape false %}

{{ ('periodic_overview.'~type~'_users.title')|trans|underline }}

{% if users %}
{{ u.text_list(users, user_id, schema) }}
{% else %}
{% if option == 'recent' %}
{{ ('periodic_overview.'~type~'_users.no_recent')|trans }}
{% else %}
{{ ('periodic_overview.'~type~'_users.none')|trans }}
{% endif %}
{% endif %}
{% endautoescape %}
{% endmacro text %}
