{% extends 'mail/base/user.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
{{- 'account_activation.subject'|trans({
    '%system_name%': config('systemname', schema)
}) -}}
{%- endblock subject_line %}

{% block html_content -%}
<p>
{{- 'account_activation.welcome'|trans({
    '%link_open%': mail_link_open('home', {}, schema, email_token),
    '%link_close%': '</a>',
    '%system_name%': config('systemname', schema)
})|raw -}}
</p>
<p>
{{- 'account_activation.login'|trans({
    '%base_url%': mail_link_open('home', {}, schema, email_token) ~ mail_url('home', {}, schema, '') ~ '</a>',
})|raw -}}
</p>
<p>
{{- 'label.login'|trans -}}:&nbsp;<strong>{{- account_code(user_id, schema) -}}</strong>
</p>
<p>
{{- 'label.password'|trans -}}:&nbsp;<strong>{{- password -}}</strong>
</p>
<p>
{{- 'account_activation.change_profile'|trans -}}
</p>
{%- endblock html_content -%}

{% block text_content %}
{{ 'account_activation.welcome'|trans({
    '%link_open%': '',
    '%link_close%': '',
    '%system_name%': config('systemname', schema)
}) }}

{{ base_url(schema) }}

{{ 'account_activation.login'|trans({
    '%base_url%': mail_url('home', {}, schema, '')
}) }}

{{ 'label.login'|trans }}: {{ account_code(user_id, schema) }}

{{ 'label.password'|trans }}: {{ password }}

{{ 'account_activation.change_profile'|trans }}
{% endblock text_content %}

{%- block html_account_info -%}{%- endblock -%}
{% block text_account_info %}{% endblock %}
