{%- block subject -%}
    {%- if schema is defined -%}[{{- config('systemtag', schema) }}] {% endif -%}
    {%- block subject_line -%}{%- endblock -%}
{%- endblock subject -%}

{%- block text_body -%}
    {%- block text_noreply_pretext -%}
        {%- if no_reply is defined -%}
        ** {{- 'mail.no_reply'|trans -}} **
        {%- endif -%}
    {%- endblock text_noreply_pretext -%}
    {%- block text_content -%}{%- endblock -%}
    {%- block text_account_info -%}{%- endblock -%}
    {%- block text_support -%}{%- endblock -%}
    {%- block text_unsubscribe -%}{%- endblock -%}
    {%- block text_footer -%}
        {%- if schema is defined %}

{{ 'mail.footer'|trans({'%systemname%': config('systemname', schema)}) -}}
        {%- endif -%}
    {%- endblock text_footer -%}
{%- endblock text_body -%}

{%- block html_body -%}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
    {%- block html_noreply_pretext -%}
        {%- if no_reply is defined -%}
        <p><i>{{-'mail.no_reply'|trans -}}</i></p>
        {%- endif -%}
    {%- endblock html_noreply_pretext -%}
    {%- block html_content -%}{%- endblock -%}
    {%- block html_account_info -%}{%- endblock -%}
    {%- block html_support -%}{%- endblock -%}
    {%- block html_unsubscribe -%}{%- endblock -%}
    {%- block html_footer -%}
        {%- if schema is defined %}
        <br/>
        <p>{{- 'mail.footer'|trans({'%systemname%': config('systemname', schema)}) -}}</p>
        {%- endif -%}
    {%- endblock html_footer -%}
    </body>
{%- endblock html_body -%}
