{% extends 'mail/base/support.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'support.subject'|trans -}}
{%- endblock -%}

{% block html_content -%}
<p>
    {{- 'support.explain'|trans({
        '%link_open%': context_url_open('home',
            mpp_anon_ary(schema), {}),
        '%link_close%': '</a>',
        '%system_name%': config('systemname', schema),
        '%account%':  context_url_open('users_show',
                mpp_ary(user_id, schema), {'id': user_id})
            ~ account(user_id, schema)
            ~ '</a>'
    })|raw -}}
</p>
<p>
{%- if can_reply -%}
    {{- 'support.explain_reply'|trans -}}
{%- else -%}
    {{- 'support.explain_no_reply'|trans({
        '%link_open%': context_url_open('users_show', mpp_ary(user_id, schema),
            {'id': user_id}),
        '%link_close%': '</a>'
    })|raw -}}
{%- endif -%}
</p>
<hr />
<p>
    {{- message -}}
</p>
<hr />
{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}

{{ 'support.explain'|trans({
    '%link_open%': '',
    '%link_close%': '',
    '%system_name%': config('systemname', schema),
    '%account%': account(user_id, schema)
}) }}
{% if can_reply %}
{{ 'support.explain_reply'|trans }}
{% else %}
{{ 'support.explain_no_reply'|trans({
    '%link_open%': '',
    '%link_close%': ''
}) }}
{{ context_url('users_show', mpp_ary(user_id, schema), {'id': user_id}) }}
{% endif %}

- - - - - -

{{ message }}

- - - - - -
{% endautoescape %}
{% endblock text_content %}
