{%- extends 'mail/base/no_reply_auto.twig' -%}
{%- trans_default_domain 'mail' -%}

{%- block html_content -%}

<h3>
    {%- block html_title -%}{%- endblock -%}
</h3>

{%- block html_before_many -%}{%- endblock -%}

<ul>
{%- for t in transactions -%}
    <li>
    {%- block html_account_many -%}
    {{- context_url_open('users_show', mpp_admin_ary(schema), {'id': t.id_from})|raw -}}
    {{- account(t.id_from, schema) -}}
    {%- endblock -%}
    </a>:&nbsp;
    <strong>{{- t.amount -}}</strong>
    &nbsp;
    {{- config_str('transactions.currency.name', schema) -}}
    </li>
{%- endfor -%}
</ul>

{%- block html_after_many -%}{%- endblock -%}

<p>
{{- 'label.total'|trans -}}<br />
<strong>{{- total_amount -}}</strong>&nbsp;
{{- config_str('transactions.currency.name', schema) -}}
</p>

<p>
{{- 'label.description'|trans -}}<br />
<strong>{{- description -}}</strong>
</p>
{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}

{% block text_title %}{% endblock %}

{% block text_before_many %}{% endblock %}

{% for t in transactions %}
{% block text_account_many %}{% endblock %}: {{ t.amount|raw }} {{ config_str('transactions.currency.name', schema)|raw }}
{% endfor %}

{% block text_after_many %}{% endblock %}

{{ 'label.total'|trans }}
{{ total_amount }} {{ config_str('transactions.currency.name', schema) }}

{{ 'label.description'|trans }}
{{ description }}

{% endautoescape %}
{% endblock text_content %}
