{%- extends 'mail/base/no_reply_auto.twig' -%}
{%- trans_default_domain 'mail' -%}

{%- block bgcolor_system_name -%}36a59d{%- endblock -%}
{%- block bgcolor_sub_header -%}c2fffb{%- endblock -%}
{%- block bgcolor -%}e8eeff{%- endblock -%}

{%- block html_content -%}
    {#- replaced by sub headeer #}
    {%- block html_title -%}{%- endblock -%}


    {%- block html_before_many -%}{%- endblock -%}

<ul>
{%- for t in transactions -%}
    <li>
    {%- block html_account_many -%}
    {{- context_url_open('users_show_admin', mpp_admin_ary(schema), {'id': t.id_from})|raw -}}
    {{- account(t.id_from, schema) -}}
    {%- endblock -%}
    </a>:&nbsp;
    <strong>{{- t.amount -}}</strong>
    &nbsp;
    {{- config_str('transactions.currency.name', schema) -}}
    </li>
{%- endfor -%}
</ul>

{%- block html_after_many -%}{%- endblock -%}




    {%- set info -%}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        {%- include 'mail/include/row_spacer20.html.twig' -%}
        <tr>
            <td>
                {{- 'label.from'|trans -}}
            </td>
        </tr>

        <tr>
            <td style="font-weight: bold;">
                {{- html_from|raw -}}
            </td>
        </tr>
        {%- include 'mail/include/row_spacer20.html.twig' -%}
        <tr>
            <td>
                {{- 'label.to'|trans -}}
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                {{- html_to|raw -}}
            </td>
        </tr>

        {%- include 'mail/include/row_spacer20.html.twig' -%}
        <tr>
            <td>
                {{- 'label.total'|trans -}}
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                {{- total_amount -}}&nbsp;
                {{- config_str('transactions.currency.name', schema) -}}
            </td>
        </tr>
        {%- include 'mail/include/row_spacer20.html.twig' -%}
        <tr>
            <td>
                {{- 'label.description'|trans -}}
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                {{- description -}}&nbsp;
            </td>
        </tr>
        {%- include 'mail/include/row_spacer20.html.twig' -%}
    </table>
    {%- endset -%}

    {%- include 'mail/include/info_panel.html.twig' with {
        'info': info|raw
    } -%}

    {%- include 'mail/include/bgspacer40.html.twig' -%}
{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}

{% block text_title %}{% endblock %}

{% block text_before_many %}{% endblock %}

{% for t in transactions %}
{% block text_account_many %}{% endblock %}: {{ t.amount|raw }} {{ config_str('transactions.currency.name', schema)|raw }}
{% endfor %}

{% block text_after_many %}{% endblock %}

{{ 'label.total'|trans }}
{{ total_amount }} {{ config_str('transactions.currency.name', schema) }}

{{ 'label.description'|trans }}
{{ description }}

{% endautoescape %}
{% endblock text_content %}
