{%- extends 'mail/base/no_reply_auto.twig' -%}
{%- trans_default_domain 'mail' -%}

{%- block bgcolor_system_name -%}000000{%- endblock -%}
{%- block bgcolor_sub_header -%}c2fffb{%- endblock -%}
{%- block bgcolor -%}e8eeff{%- endblock -%}

{%- block html_content -%}

    {%- set html_before_many -%}
        {%- block html_before_many -%}{%- endblock -%}
    {%- endset -%}

    {%- set html_many_rows -%}
        {%- block html_many_rows -%}{%- endblock -%}
    {%- endset -%}

    {%- set html_after_many -%}
        {%- block html_after_many -%}{%- endblock -%}
    {%- endset -%}

    {%- set info -%}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        {%- include 'mail/include/row_spacer20.html.twig' -%}
        <tr>
            <td>
                {{- 'label.from'|trans -}}
            </td>
        </tr>

        {{- html_before_many|raw -}}

        <tr>
            <td>
                <table border="1" bgcolor="#eeeeee" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                    {{- html_many_rows|raw -}}
                </table>
            </td>
        </tr>
        {%- include 'mail/include/row_spacer20.html.twig' -%}

        {{- html_after_many|raw -}}

        <tr>
            <td>
                {{- 'label.total'|trans -}}
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                {{- total_amount -}}&nbsp;
                {{- config_str('transactions.currency.name', schema) -}}
            </td>
        </tr>
        {%- include 'mail/include/row_spacer20.html.twig' -%}
        <tr>
            <td>
                {{- 'label.description'|trans -}}
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                {{- description -}}&nbsp;
            </td>
        </tr>
        {%- include 'mail/include/row_spacer20.html.twig' -%}
    </table>
    {%- endset -%}

    {%- include 'mail/include/info_panel.html.twig' with {
        'info': info|raw
    } -%}

    {%- include 'mail/include/bgspacer40.html.twig' -%}
{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}

{% block text_title %}{% endblock %}

{% block text_before_many %}{% endblock %}

{% for t in transactions %}
{% block text_account_many %}{% endblock %}: {{ t.amount|raw }} {{ config_str('transactions.currency.name', schema)|raw }}
{% endfor %}

{% block text_after_many %}{% endblock %}

{{ 'label.total'|trans }}
{{ total_amount }} {{ config_str('transactions.currency.name', schema) }}

{{ 'label.description'|trans }}
{{ description }}

{% endautoescape %}
{% endblock text_content %}
