{%- extends 'mail/mass_transaction/base.twig' -%}
{%- trans_default_domain 'mail' -%}

{%- block subject_line -%}
    {{- 'mass_transaction_many_to_one.subject'|trans -}}
{%- endblock subject_line %}

{%- block sub_header -%}mass_transaction_many_to_one.title{%- endblock -%}

{%- block html_many_rows -%}
    {%- for t in transactions -%}
    <tr>
        <td style="padding-left: 10px" width="400">
            {{- context_url_open('users_show_admin', mpp_admin_ary(schema), {'id': t.id_from})|raw -}}
            {{- account(t.id_from, schema) -}}
            </a>
        </td>
        <td style="font-weight: bold; padding-left: 10px;">
            {{- t.amount -}}
        </td>
    </tr>
    {%- endfor -%}
{%- endblock html_many_rows -%}

{%- block html_after_many -%}
    <tr>
        <td>
            {{- 'label.to'|trans -}}
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold;">
            {{- context_url_open('users_show_admin', mpp_admin_ary(schema), {'id': to_user_id})|raw -}}
            {{- account(to_user_id, schema) -}}
            </a>
        </td>
    </tr>
    {%- include 'mail/include/row_spacer20.html.twig' -%}
{%- endblock html_after_many -%}

{% block text_title %}
{{ 'mass_transaction_many_to_one.title'|trans|underline|raw }}
{% endblock text_title %}

{% block text_before_many %}
{{ 'label.from'|trans|raw }}
{% endblock text_before_many %}

{% block text_account_many %}{{ account(t.id_from, schema)|raw }}{% endblock %}

{% block text_after_many %}
{{ 'label.to'|trans|raw }}
{{ account(to_user_id, schema)|raw }}
{% endblock text_after_many %}
