{%- extends 'mail/mass_transaction/base.twig' -%}
{%- trans_default_domain 'mail' -%}

{%- block subject_line -%}
    {{- 'mass_transaction_one_to_many.subject'|trans -}}
{%- endblock subject_line %}

{%- block sub_header -%}mass_transaction_one_to_many.title{%- endblock -%}

{%- block html_before_many -%}
    <tr>
        <td style="font-weight: bold;">
            {{- context_url_open('users_show_admin', mpp_admin_ary(schema), {'id': from_user_id})|raw -}}
            {{- account(from_user_id, schema) -}}
            </a>
        </td>
    </tr>
    {%- include 'mail/include/row_spacer20.html.twig' -%}
    <tr>
        <td>
            {{- 'label.to'|trans -}}
        </td>
    </tr>
{%- endblock html_before_many -%}

{%- block html_many_rows -%}
    {%- for t in transactions -%}
    <tr>
        <td style="padding-left: 10px" width="400">
            {{- context_url_open('users_show_admin', mpp_admin_ary(schema), {'id': t.id_to})|raw -}}
            {{- account(t.id_to, schema) -}}
            </a>
        </td>
        <td style="font-weight: bold; padding-left: 10px;">
            {{- t.amount -}}
        </td>
    </tr>
    {%- endfor -%}
{%- endblock html_many_rows -%}

{% block text_title %}
{{ 'mass_transaction_many_to_one.title'|trans|underline|raw }}
{% endblock text_title %}

{% block text_before_many %}
{% autoescape false %}
{{ 'label.from'|trans }}
{{ account(from_user_id, schema) }}

{{ 'label.to'|trans }}
{% endautoescape %}
{% endblock text_before_many %}

{% block text_account_many %}{{ account(t.id_to, schema)|raw }}{% endblock %}
