{%- embed 'embed/post.html.twig' -%}
    {%- import 'macro/lbl.html.twig' as lbl -%}
    {%- block media_heading -%}
        {%- if show_subject -%}
            <h2 class="media-heading">
                {{- post.subject|link('news_show', {'id': post.id})|raw -}}
            </h2>
        {%- endif -%}
    {%- endblock media_heading -%}
    {%- block footer_top -%}
        <dl>
            {%- if post.event_at is defined and post.event_at is not empty -%}
                <dt>
                    {{- 'label.event_date'|trans -}}
                </dt>
                <dd>
                    {{- post.event_at|date_format('day', schema) -}}
                </dd>
            {%- endif -%}
            {%- if post.location is defined and post.location is not empty -%}
                <dt>
                    {{- 'label.location'|trans -}}
                </dt>
                <dd>
                    {{- post.location -}}
                </dd>
            {%- endif -%}
            {%- if show_access -%}
                <dt>
                    {{- 'access.visible_for'|trans -}}
                </dt>
                <dd>
                    {{- lbl.btn(post.access) -}}
                </dd>
            {%- endif -%}
        </dl>
    {%- endblock footer_top -%}
    {%- block edit_btn -%}
        {%- if pp_is_admin() -%}
            {%- include 'include/btn/edit.html.twig' with {
                'btn_route': 'news_edit',
                'btn_route_params': {'id': post.id},
                'btn_title': 'news_edit.title',
                'btn_title_trans_params': {
                    'subject': post.subject
                }
            } -%}
        {%- endif -%}
    {%- endblock edit_btn -%}
    {%- block del_btn -%}
        {%- if pp_is_admin() -%}
            {%- include 'include/btn/del.html.twig' with {
                'btn_route': 'news_del',
                'btn_route_params': {'id': post.id},
                'btn_title': 'news_del.title',
                'btn_title_trans_params': {
                    'subject': post.subject
                }
            } -%}
        {%- endif -%}
    {%- endblock del_btn -%}
{%- endembed -%}
