{%- embed 'embed/post.html.twig' -%}
    {%- import 'macro/object_info.html.twig' as io -%}
    {%- import 'macro/btn_link.html.twig' as bl -%}
    {%- import 'macro/lbl.html.twig' as lbl -%}

    {%- block post_content -%}
        {{- item.content|raw -}}
    {%- endblock post_content -%}

    {%- block post_footer_prepend -%}
        <dl>
        {%- if item.event_at -%}
            <dt>{{- 'label.event_date'|trans -}}</dt>
            <dd>
                {{- item.event_at|date_format('day', schema) -}}
            </dd>
        {%- endif -%}
        {%- if item.location -%}
            <dt>{{- 'label.location'|trans -}}</dt>
            <dd>
                {{- item.location -}}
            </dd>
        {%- endif -%}
        {%- if show_access -%}
            <dt>{{- 'access.visible_for'|trans -}}</dt>
            <dd>
                {{- lbl.lbl(item.access) -}}
            </dd>
        {%- endif -%}
        </dl>
    {%- endblock post_footer_prepend -%}

    {%- block post_info -%}
        {{- io.post_info(item, schema) -}}
    {%- endblock post_info -%}

    {%- block post_buttons -%}
        {%- if pp_role('admin') -%}
            <span class="pull-right">
                {{- bl.edit('news_edit', {'id': item.id}) -}}
                {{- bl.del('news_del', {'id': item.id}) -}}
            </span>
        {%- endif -%}
    {%- endblock post_buttons -%}

{%- endembed -%}
