{%- extends 'bootstrap_3_layout.html.twig' -%}

{% block checkbox_radio_label -%}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {%- if widget is defined -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) -%}
        {%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
            {%- if label_format is not empty -%}
                {%- set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) -%}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
            {{- widget|raw }} <span class="label-text"></span>{{ label is not same as(false) ? (translation_domain is same as(false) ? (label_html is same as(false) ? label : label|raw) : (label_html is same as(false) ? label|trans(label_translation_parameters, translation_domain) : label|trans(label_translation_parameters, translation_domain)|raw)) -}}
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}

{% block form_widget_simple -%}
    {%- if pre_addon is defined or post_addon is defined -%}
        <div class="input-group{{ group_class|default('') }}">
            {%- if pre_addon is defined -%}
                <span class="input-group-addon">
                    {%- if pre_addon.fa is defined -%}
                        <i class="fa fa-{{- pre_addon.fa -}}"></i>
                        {%- if pre_addon.text is defined -%}
                            &nbsp;
                        {%- endif -%}
                    {%- endif -%}
                    {%- if pre_addon.text is defined -%}
                        {{- pre_addon.text -}}
                    {%- endif -%}
                </span>
            {% endif %}
            {{- parent() -}}
            {%- if post_addon is defined -%}
                <span class="input-group-addon">
                {%- if post_addon.text is defined -%}
                    {{- post_addon.text -}}
                {%- endif -%}
                </span>
            {%- endif -%}
        </div>
    {%- else -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_widget_simple %}
