{%- embed 'embed/list_item.html.twig' -%}
    {%- import 'macro/lbl.html.twig' as l -%}
    {%- block class %} p-0{% endblock class -%}
    {%- block item -%}
        <table class="table table-bordered mb-0">
            <thead>
                <tr>
                    <th>
                        {{- 'label.account_code'|trans -}}
                    </th>
                    <th>
                        {{- 'label.balance'|trans -}}
                    </th>
                    {%- if config_bool('accounts.limits.enabled', schema) -%}
                        <th>
                            {{- 'label.min'|trans -}}
                        </th>
                        <th>
                            {{- 'label.max'|trans -}}
                        </th>
                    {%- endif -%}

                    <th>
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                {%- if user.is_leaving %} class="bg-danger"
                {%- elseif is_new %} class="bg-success"
                {%- endif -%}>
                    <td>
                        <em>
                            <b>
                                {{- user.code -}}
                            </b>
                        </em>
                    </td>
                    <td title="{{- 'balance.title'|trans({
                        'currency': config_str('transactions.currency.name', schema)
                    }) -}}">
                        {{- l.txt_label(balance, 'info') -}}
                    </td>
                    {%- if config_bool('accounts.limits.enabled', schema) -%}

                        {%- if min_limit is not null -%}
                            <td title="{{- 'balance.min'|trans -}}">
                                {{- l.txt_label(min_limit, 'danger') -}}
                            </td>
                        {%- elseif config_int('accounts.limits.global.min', schema) is not null -%}
                            <td title="{{- 'balance.min_system'|trans -}}">
                                {{- l.txt_label(config_int('accounts.limits.global.min', schema)) -}}
                            </td>
                        {%- else -%}
                            <td title="{{- 'balance.no_min'|trans -}}">
                                {{- null|no_content -}}
                            </td>
                        {%- endif -%}

                        {%- if max_limit is not null -%}
                            <td title="{{- 'balance.max'|trans -}}">
                                {{- l.txt_label(max_limit, 'success') -}}
                            </td>
                        {%- elseif config_int('accounts.limits.global.max', schema) is not null -%}
                            <td title="{{- 'balance.max_system'|trans -}}">
                                {{- l.txt_label(config_int('accounts.limits.global.max', schema)) -}}
                            </td>
                        {%- else -%}
                            <td title="{{- 'balance.no_max'|trans -}}">
                                {{- null|no_content -}}
                            </td>
                        {%- endif -%}

                    {%- endif -%}

                    <td>
                        <div class="pull-right">
                        {%- if config_bool('transactions.enabled', su_schema())
                            and (pp_is_admin() or not su_is_owner(id))  -%}
                            {%- include 'include/btn_top/transaction.html.twig' with {
                                'btn_route': 'transactions_add',
                                'btn_route_params': su_ary()|merge({'tuid': id, 'tus': schema}),
                                'btn_title': 'btn.transaction_to',
                                'btn_title_trans_params': {
                                    'user': account(id, schema)
                                }
                            } -%}
                        {%- endif -%}
                        </div>
                    </td>
                </tr>
                {%- if pp_is_admin() -%}
                <tr class="bg-info">
                    <td>
                        {%- include 'include/btn/edit.html.twig' with {
                            'btn_route': 'users_account_code_edit' ~ (is_self ? '_self' : ''),
                            'btn_route_params': is_self ? {} : {'id': id},
                            'btn_title': 'users_account_code_edit.title',
                            'btn_title_trans_params': {
                                'user': account(id, schema),
                                'self': is_self ? 'self' : 'some_user',
                                'mode': 'edit',
                            },
                            'btn_label_hidden': 'sm',
                            'btn_lg': true,
                        } -%}
                    </td>
                    <td>
                        {%- if config_bool('users.leaving.enabled', schema) -%}
                        {%- include 'include/btn/btn.html.twig' with {
                            'btn_route': 'users_account_leaving_edit' ~ (is_self ? '_self' : ''),
                            'btn_route_params': is_self ? {} : {'id': id},
                            'btn_title': 'users_account_leaving_edit.title',
                            'btn_title_trans_params': {
                                'user': account(id, schema),
                                'code': user.code,
                                'self': is_self ? 'self' : 'some_user',
                                'leaving': user.is_leaving ? 'yes' : 'no',
                            },
                            'btn_label': 'btn.leaving',
                            'btn_label_hidden': 'sm',
                            'btn_lg': true,
                            'btn_class': ' btn-danger',
                            'fa': 'sign-out',
                        } -%}
                        {%- else -%}
                            &nbsp;
                        {%- endif -%}
                    </td>
                    {%- if config_bool('accounts.limits.enabled', schema) -%}
                    <td colspan="2">
                        {%- include 'include/btn/edit.html.twig' with {
                            'btn_route': 'users_account_limits_edit' ~ (is_self ? '_self' : ''),
                            'btn_route_params': is_self ? {} : {'id': id},
                            'btn_title': 'users_account_limits_edit.title',
                            'btn_title_trans_params': {
                                'user': account(id, schema),
                                'self': is_self ? 'self' : 'some_user',
                            },
                            'btn_label_hidden': 'sm',
                            'btn_lg': true,
                        } -%}
                    </td>
                    {%- endif -%}
                    <td>
                        &nbsp;
                    </td>
                </tr>
                {%- endif -%}
            </tbody>
        </table>
    {%- endblock item -%}
{%- endembed -%}
