<!DOCTYPE html>
<html lang="nl">
<head>

	<title>{%- block title -%}{%- endblock -%}</title>

	{%- for c in assets_ary('css') -%}
		<link type="text/css" rel="stylesheet" href="{{- c -}}" media="screen">
	{%- endfor -%}

	{%- for c in assets_ary('css_print') -%}
		<link type="text/css" rel="stylesheet" href="{{- c -}}" media="print">
	{%- endfor -%}

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d55b5b">
	<meta name="theme-color" content="#ffffff">

</head>
<body{%- block body_attr -%}{%- endblock -%}>

<img src="{{- assets('loading.gif') -}}" class="ajax-loader" alt="waiting">

{%- block navbar -%}
	<div class="navbar navbar-default navbar-fixed-top{%- if pp_role('admin') %} bg-info{%- elseif pp_role('guest') %} bg-warning{%- endif -%}">
		<div class="container-fluid">
			<div class="navbar-header">

			{%- block navbar_toggle_button -%}{%- endblock -%}

			<a href="{%- block system_link -%}#{%- endblock -%}" class="pull-left hidden-xs">
				<div class="logo"></div>
			</a>

			<a href="{{- block('system_link') -}}" class="navbar-brand">
			{{- block('title') -}}
			</a>
			</div>

		{%- block navbar_collapse -%}{%- endblock -%}

		</div>
	</div>
{%- endblock navbar -%}

{%- block page_container -%}{%- endblock -%}

<footer class="footer">
	<p><a href="https://eland.letsa.net">eLAND</a> web app voor gemeenschapsmunten</p>
	{%- block index_link -%}
		<p><a href="{{- path('index') -}}">Index</a></p>
	{%- endblock index_link -%}
</footer>


{%- for j in assets_ary('js') -%}
	<script src="{{- j -}}"></script>
{%- endfor -%}

</body>
</html>
