{%- extends 'base/base.html.twig' -%}
{%- import 'macro/alert.html.twig' as a -%}

{%- block title -%}{{- config('systemname', schema) -}}{%- endblock -%}
{%- block system_name -%}{{- config('systemname', schema) -}}{%- endblock -%}

{%- block system_link -%}
	{%- if config('homepage_url', schema) -%}
		{{- config('homepage_url', schema) -}}
	{%- elseif role('anonymous') -%}
		{{- context_url('login', pp_ary()) -}}
	{%- else -%}
		{{- context_url(config('default_landing_page', schema), pp_ary()) -}}
	{%- endif -%}
{%- endblock -%}

{%- block page_container -%}

	<div class="swiper-container">
	<div class="row-offcanvas row-offcanvas-left">
	<div id="sidebar" class="sidebar-offcanvas">

	<br>
	<ul class="nav nav-pills nav-stacked">

	{%- block sidebar_menu -%}
		{%- for m in anon_menu() -%}
			<li{%- if m.active %} class="active"{%- endif -%}>
				{{- m.menu_item -}}
			</li>
		{%- endfor -%}
	{%- endblock sidebar_manu -%}

	</ul>

	</div>

	<div id="wrap">
	<div id="main" class="container-fluid clear-top{%- if role('admin') %} admin{%- endif -%}">

	{{- a.alert(alert_ary()) -}}

	<div class="row">
	<div class="col-md-12 top-buttons">

	<div class="visible-xs pull-left button-offcanvas menu-button">
		<button type="button" class="btn btn-primary" data-toggle="offcanvas" title="Menu">
			<i class="fa fa-chevron-left"></i>
		</button>
	</div>

	{{- btn_top() -}}
	{{- btn_nav() -}}

	</div>
	</div>

	{{- heading() -}}
	{{- heading_sub() -}}

	{%- block content -%}{%- endblock -%}

	</div>
	</div>
	</div>
{%- endblock page_container -%}
