{%- extends 'messages/messages_base.html.twig' -%}

{%- block heading_fa -%}newspaper-o{%- endblock -%}
{%- block heading_title -%}
    {%- if message.is_offer -%}
        {%- if s_is_owner(message.user_id) -%}
            {{ 'messages_del.title.offer.personal'|trans -}}
        {%- else -%}
            {{ 'messages_del.title.offer.admin'|trans({
                '%user%': account(message.user_id, schema)
            }) -}}
        {%- endif -%}
    {%- else -%}
        {%- if s_is_owner(message.user_id) -%}
            {{ 'messages_del.title.want.personal'|trans -}}
        {%- else -%}
            {{ 'messages_del.title.want.admin'|trans({
                '%user%': account(message.user_id, schema)
            }) -}}
        {%- endif -%}
    {%- endif -%}
{%- endblock -%}

{%- block heading -%}
    <h1>
    <i class="fa fa-newspaper-o"></i>&nbsp;
    {%- if message.is_offer -%}
        {%- if s_is_owner(message.user_id) -%}
            {{ 'messages_del.title.offer.personal'|trans -}}
        {%- else -%}
            {{ 'messages_del.title.offer.admin'|trans({
                '%user%': account(message.user_id, schema)
            }) -}}
        {%- endif -%}
    {%- else -%}
        {%- if s_is_owner(message.user_id) -%}
            {{ 'messages_del.title.want.personal'|trans -}}
        {%- else -%}
            {{ 'messages_del.title.want.admin'|trans({
                '%user%': account(message.user_id, schema)
            }) -}}
        {%- endif -%}
    {%- endif -%}
    </h1>
{%- endblock heading -%}

{%- block content -%}

{%- embed 'form/embed.html.twig' -%}
    {%- import 'macro/btn_link.html.twig' as bl -%}
    {%- import 'macro/object_info.html.twig' as oi -%}

    {%- block form_content -%}

    <h2>
        {%- if message.is_offer %}
            {{- 'label.offer'|trans -}}
        {%- else -%}
            {{- 'label.want'|trans -}}
        {%- endif -%}:&nbsp;
        {{- message.subject -}}
    </h2>

    {{- message.content|raw -}}

    <p>
        {{- oi.object_info(message.user_id, message.created_at, null, schema) -}}
    </p>

    {{- bl.cancel('messages_show', {'id': message.id}) -}}

    {{- form_widget(form.submit,{
        'label': 'btn.delete',
        'attr': {'class': 'btn-danger'}
    }) -}}

    {%- endblock form_content -%}
{%- endembed -%}

{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}