{%- extends 'messages/base/messages_base.html.twig' -%}

{%- block assets_add -%}
    {{- parent() -}}
    {{- assets_add(['messages_images_del.js']) -}}
{%- endblock assets_add -%}

{%- block heading_title -%}
    {{- 'messages_images_del.title'|trans({
        'offer_want': message.offer_want,
        'subject': message.subject
    }) -}}
{%- endblock heading_title -%}

{%- block heading_sub -%}
    <h2>
    {{- 'messages_images_del.user'|trans({
        'user': account(message.user_id, schema)|link('users_show', {'id': message.user_id})
    })|raw -}}
    </h2>
{%- endblock heading_sub -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}