{%- extends 'messages/base/messages_base.html.twig' -%}

{%- block assets_add -%}
    {{- parent() -}}
    {{- assets_add(['leaflet', 'contacts_user_map.js',]) -}}
    {{- assets_add(['jssor', 'messages_show_images_slider.js',]) -}}
    {%- if pp_has_role('admin') or su_is_owner(message.user_id) -%}
        {{- assets_add(['fileupload', 'messages_show_images_upload.js',]) -}}
    {%- endif -%}
{%- endblock assets_add -%}

{%- block btn_top_edit -%}
    {%- if pp_has_role('admin') or su_is_owner(message.user_id) -%}
        {%- include 'include/btn_top/edit.html.twig' with {
            'btn_route': 'messages_edit',
            'btn_title': 'messages_edit.title',
            'btn_title_trans_params': {
                'offer_want': message.offer_want,
                'self': su_is_owner(message.user_id) ? 'self': 'some_user',
                'user': account(message.user_id, schema),
                'subject': message.subject
            }
        } -%}
    {%- endif -%}
{%- endblock btn_top_edit -%}

{%- block btn_top_del -%}
    {%- if pp_has_role('admin') or su_is_owner(message.user_id) -%}
        {%- include 'include/btn_top/del.html.twig' with {
            'btn_route': 'messages_del',
            'btn_title': 'messages_del.title',
            'btn_title_trans_params': {
                'offer_want': message.offer_want,
                'self': su_is_owner(message.user_id) ? 'self' : 'some_user',
                'user': account(message.user_id, schema)
            }
        } -%}
    {%- endif -%}
{%- endblock btn_top_del -%}

{%- block btn_top_transaction -%}
    {%- if message.offer_want is same as 'offer'
        and config_bool('transactions.enabled', schema)
        and config_bool('transactions.enabled', su_schema())
        and (pp_has_role('admin') or not su_is_owner(message.user_id))  -%}
        {%- include 'include/btn_top/transaction.html.twig' with {
            'btn_route': 'transactions_add',
            'btn_route_params': su_ary()|merge({'mid': id, 'tus': schema}),
            'btn_title': 'btn.transaction_to',
            'btn_title_trans_params': {
                'user': account(message.user_id, schema)
            }
        } -%}
    {%- endif -%}
{%- endblock btn_top_transaction -%}

{%- block btn_item_nav -%}
    {%- include 'include/nav/nav_btn_group.html.twig' with {
        'nav_route': 'messages_show',
        'overview_route': 'messages',
        'fa': 'newspaper-o',
        'nav_route_params': pp_ary(),
    } -%}
{%- endblock btn_item_nav -%}

{%- block heading_title -%}
    {{- 'messages_show.title'|trans({
        'offer_want': message.offer_want,
        'subject': message.subject
    }) -}}
{%- endblock heading_title -%}

{%- block heading_append -%}
    {%- if message.is_expired -%}
        &nbsp;
        {%- include 'messages/include/messages_heading_expired.html.twig' -%}
    {%- endif -%}
{%- endblock heading_append -%}

{%- block sub_heading -%}
    {{- category_info_raw|raw -}}
{%- endblock sub_heading -%}

{%- block content -%}
    <div class="row">
        <div class="col-sm-5">
            {%- block images_panel -%}
                {{- images_panel_raw|raw -}}
            {%- endblock images_panel -%}
        </div>
        <div class="col-sm-7">
            {%- block message_info_panel -%}
                {{- message_info_panel_raw|raw -}}
            {%- endblock message_info_panel -%}
        </div>
    </div>

    {%- block mail_contact_form_panel -%}
        <h3>
            <span class="fa fa-envelope-o"></span>&nbsp;
            {{- 'messages_show.mail_contact.title'|trans({
                'to_user': account(message.user_id, schema)
            }) -}}
        </h3>
        {%- embed 'embed/mail_contact_form.html.twig' -%}
        {%- endembed -%}
    {%- endblock mail_contact_form_panel -%}

    {%- block user_contacts_table -%}
        {{- user_contacts_table_raw|raw -}}
    {%- endblock user_contacts_table -%}

{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
    {{- encore_entry_link_tags('fileupload') -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
	{{- encore_entry_script_tags('jssor') -}}
	{{- encore_entry_script_tags('fileupload') -}}
{%- endblock js -%}
