{%- extends 'messages/base/messages_base.html.twig' -%}
{%- import 'macro/lbl.html.twig' as l -%}

{%- block assets_add -%}
    {{- parent() -}}
    {#
    {{- assets_add(['leaflet', 'contacts_user_map.js',]) -}}
    #}
    {{- assets_add(['jssor', 'messages_show_images_slider.js',]) -}}
    {%- if pp_is_admin() or su_is_owner(message.user_id) -%}
        {{- assets_add(['fileupload', 'messages_show_images_upload.js',]) -}}
    {%- endif -%}
{%- endblock assets_add -%}

{%- block btn_top_edit -%}
    {%- if pp_is_admin() or su_is_owner(message.user_id) -%}
        {%- include 'include/btn_top/edit.html.twig' with {
            'btn_route': 'messages_edit',
            'btn_title': 'messages_edit.title',
            'btn_title_trans_params': {
                'offer_want': message.offer_want,
                'self': su_is_owner(message.user_id) ? 'self': 'some_user',
                'user': account(message.user_id, schema),
                'subject': message.subject
            }
        } -%}
    {%- endif -%}
{%- endblock btn_top_edit -%}

{%- block btn_top_del -%}
    {%- if pp_is_admin() or su_is_owner(message.user_id) -%}
        {%- include 'include/btn_top/del.html.twig' with {
            'btn_route': 'messages_del',
            'btn_title': 'messages_del.title',
            'btn_title_trans_params': {
                'offer_want': message.offer_want,
                'self': su_is_owner(message.user_id) ? 'self' : 'some_user',
                'user': account(message.user_id, schema)
            }
        } -%}
    {%- endif -%}
{%- endblock btn_top_del -%}

{%- block btn_top_transaction -%}
    {%- if message.offer_want is same as 'offer'
        and config_bool('transactions.enabled', schema)
        and config_bool('transactions.enabled', su_schema())
        and (pp_is_admin() or not su_is_owner(message.user_id))  -%}
        {%- include 'include/btn_top/transaction.html.twig' with {
            'btn_route': 'transactions_add',
            'btn_route_params': su_ary()|merge({'mid': id, 'tus': schema}),
            'btn_title': 'btn.transaction_to',
            'btn_title_trans_params': {
                'user': account(message.user_id, schema)
            }
        } -%}
    {%- endif -%}
{%- endblock btn_top_transaction -%}

{%- block btn_item_nav -%}
    {%- include 'include/nav/nav_btn_group.html.twig' with {
        'nav_route': 'messages_show',
        'overview_route': 'messages',
        'fa': 'newspaper-o',
        'nav_route_params': pp_ary(),
    } -%}
{%- endblock btn_item_nav -%}

{%- block heading_title -%}
    {{- l.label(message.offer_want) -}}
    &nbsp;
    {{- message.subject -}}
{%- endblock heading_title -%}

{%- block heading_append -%}
    {%- if is_expired -%}
        &nbsp;
        {%- include 'messages/include/messages_heading_expired.html.twig' -%}
    {%- endif -%}
{%- endblock heading_append -%}

{%- block heading_sub -%}
    {%- if config_bool('messages.fields.category.enabled', schema) -%}
        {%- include 'messages/messages_show/category_info.html.twig' -%}
    {%- endif -%}
{%- endblock heading_sub -%}

{%- block content -%}
    <div class="row">
        <div class="col-sm-5">
            {%- include 'messages/messages_show/images_panel.html.twig' -%}
        </div>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <ul class="list-group">
                    {%- include 'messages/messages_show/content.html.twig' -%}
                    {%- include 'messages/messages_show/service_stuff.html.twig' -%}
                    {%- include 'messages/messages_show/suggested_price.html.twig' -%}
                    {%- include 'messages/messages_show/expires_at.html.twig' -%}
                    {%- include 'messages/messages_show/posted_by.html.twig' -%}
                    {%- include 'messages/messages_show/access.html.twig' -%}
                </ul>
            </div>
        </div>
    </div>

    {%- block mail_contact_form_panel -%}
        <h3>
            <span class="fa fa-envelope-o"></span>&nbsp;
            {{- 'messages_show.mail_contact.title'|trans({
                'to_user': account(user.id, schema)|link('users_show', {'id': user.id})
            })|raw -}}
        </h3>
        {%- embed 'embed/mail_contact_form.html.twig' -%}
        {%- endembed -%}
    {%- endblock mail_contact_form_panel -%}

{%- endblock content -%}
