{%- extends 'messages/base/messages_base.html.twig' -%}
{%- import 'macro/link.html.twig' as l -%}
{%- import 'macro/btn_link.html.twig' as bl -%}

{%- block heading_title -%}
    {%- set heading_title_trans_key = 'messages_show.title.'
        ~ (message.is_offer ? 'offer' : 'want') -%}

    {{- heading_title_trans_key|trans({
        '%subject%': message.subject
    }) -}}
{%- endblock heading_title -%}

{%- block heading_append -%}
    {%- if message.is_expired -%}
        &nbsp;
        {%- include 'include/heading_expired.html.twig' -%}
    {%- endif -%}
{%- endblock heading_append -%}

{%- block content -%}
    {%- if message.category_id -%}
        <p>
            {{- 'messages_show.category'|trans({
                '%category%': l.pp_link_label('messages'|var_route, {'f':{'cid': message.category_id}}, message.category_name)
            })|raw -}}
        </p>
    {%- endif -%}

    <div class="row">
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-img-top">
                    <div id="no_images" class="text-center center-body"{%- if image_files %} hidden{%- endif -%}>
                        <i class="fa fa-image fa-5x"></i>
                        <p>
                            {%- if message.is_offer -%}
                                {{- 'messages_show.no_images.offer'|trans -}}
                            {%- else -%}
                                {{- 'messages_show.no_images.want'|trans -}}
                            {%- endif -%}
                        </p>
                    </div>
                    <div id="jssor_1" class="jssor-container position-relative overflow-hidden" data-no-touchswipe>
                        <div data-u="slides" class="jssor-slides position-absolute overflow-hidden">
                            {%- for i in image_files -%}
                                <div>
                                    <img data-u="image" data-src="{{- s3_url(i) -}}">
                                </div>
                            {%- endfor -%}
                        </div>
                        {# skin bullet 31 #}
                        <div data-u="navigator" class="jssorb031" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                            <div data-u="prototype" class="i">
                                <svg viewBox="0 0 16000 16000">
                                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                                </svg>
                            </div>
                        </div>
                        {# /skin bullet #}
                        {# skin arrow 55 #}
                        <div data-u="arrowleft" class="jssora055 jssora055-left" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                            <svg viewBox="0 0 16000 16000">
                                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                            </svg>
                        </div>
                        <div data-u="arrowright" class="jssora055 jssora055-right" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                            <svg viewBox="0 0 16000 16000">
                                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                            </svg>
                        </div>
                        {# / skin arrow 55 #}
                    </div>
                </div>
                <div class="card-footer">
                    <span class="btn btn-success btn-lg btn-block fileinput-button" data-fileupload-btn>
                        <i class="fa fa-plus" id="img_plus"></i>&nbsp;
                        {{- 'label.image_upload'|trans -}}
                        <input id="fileupload" type="file" name="images[]"
                        data-url="{{- l.pp_path('messages_images_upload', {'id': message.id}) -}}"
                        data-data-type="json" data-auto-upload="true"
                        data-accept-file-types="/(\.|\/)(jpe?g|png|gif)$/i"
                        data-max-file-size="999000"
                        multiple>
                    </span>
                    <p>
                        {{- 'help.images_upload'|trans -}}
                    </p>
                    <a href="{{- l.pp_path('messages_images_del', {'id': message.id}) -}}" class="btn btn-danger btn-lg btn-block">
                        <i class="fa fa-times"></i>&nbsp;
                        {{- 'label.images_remove'|trans -}}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>

{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
    {{- encore_entry_link_tags('fileupload') -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
	{{- encore_entry_script_tags('jssor') -}}
	{{- encore_entry_script_tags('fileupload') -}}
{%- endblock js -%}
