{%- extends 'messages/base/messages_base.html.twig' -%}
{%- import 'macro/link.html.twig' as l -%}
{%- import 'macro/btn_link.html.twig' as bl -%}

{%- block heading_title -%}
    {%- set heading_title_trans_key = 'messages_show.title.'
        ~ (message.is_offer ? 'offer' : 'want') -%}

    {{- heading_title_trans_key|trans({
        '%subject%': message.subject
    }) -}}
{%- endblock heading_title -%}

{%- block heading_append -%}
    {%- if message.is_expired -%}
        &nbsp;
        {%- include 'include/heading_expired.html.twig' -%}
    {%- endif -%}
{%- endblock heading_append -%}

{%- block content -%}
    {%- if config_bool('messages.fields.category.enabled', schema) -%}
        <p>
        <strong>
        {%- if category -%}
            {%- set cat_name = category.name -%}
            {%- if category.parent_name -%}
                {%- set cat_name = category.parent_name ~ ' > ' ~ cat_name -%}
            {%- endif -%}
            {{- 'messages_show.category'|trans({
                '%category%': l.pp_link_label('messages'|var_route, {'f':{'cid': message.category_id}}, cat_name)
            })|raw -}}
        {%- else -%}
            {{- 'messages_show.category'|trans({
                '%category%': l.pp_link_label('messages'|var_route, {'f':{'cid': 'null'}}, '*** ' ~ ('messages.without_category'|trans) ~ ' ***')
            })|raw -}}
        {%- endif -%}
        </strong>
        </p>
    {%- endif -%}

    <div class="row">
        {%- embed 'messages/embed/images_carousel.html.twig' -%}
        {%- endembed -%}

        {%- embed 'messages/embed/message_info.html.twig' -%}
        {%- endembed -%}
    </div>

{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
    {{- encore_entry_link_tags('fileupload') -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
	{{- encore_entry_script_tags('jssor') -}}
	{{- encore_entry_script_tags('fileupload') -}}
{%- endblock js -%}
