<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
{% block pretext %}
<p><i>Dit is een automatische mail. Niet beantwoorden a.u.b.</i></p>
{% endblock pretext %}

{% block body %}
{% endblock body %}

{% block accountinfo %}

<h4>Je account</h4>

<ul>
<li>Je code: <strong>{{ user.letscode }}</strong></li>
<li>Je gebruikersnaam: <strong>{{ user.name }}</strong></li>
<li>Je saldo bedraagt momenteel <strong>{{ user.saldo }}</strong> {{ group.currency }}</li>
{% if user.minlimit != '' and user.minlimit != -999999999 %}
<li>Minimum limiet: <strong>{{ user.minlimit }}</strong> {{ group.currency }}</li>
{% endif %}
{% if user.maxlimit != '' and user.maxlimit != 999999999 %}
<li>Maximum limiet: <strong>{{ user.maxlimit }}</strong> {{ group.currency }}</li>
{% endif %}
<li>Status: <strong>{% if user.status == 1 %}Actief{% elseif user.status == 2 %}Uitstapper{% endif %}</strong></li>
<li><a href="{{ url_login }}">Login</a></li>

</ul>
{% endblock accountinfo %}
{% block support %}

<h4>Support</h4>
<p>Als je een vraag of probleem hebt, kan je mailen naar
<ul></ul>
{% for mail in group.support %}
<li><a href="mailto:{{ mail }}?subject=Support">{{ mail }}</a></li>
{% endfor %}
</p>
{% endblock support %}
{% block unsubscribe %}{% endblock unsubscribe %}
{% block footer %}{% endblock footer %}
