{% extends 'mail/confirm.twig' %}

{%- block subject_line -%}{{- 'mail.confirm_password_reset.subject'|trans -}}{%- endblock -%}

{%- block text_content -%}
{{- 'mail.confirm_password_reset.explain'|trans }}

{{ confirm_link }}

{{ 'mail.confirm_password_reset.expiration'|trans -}}
{%- endblock text_content -%}

{%- block html_content -%}
<p>{{- 'mail.confirm_password_reset.explain'|trans -}}</p>
<br/>
<p><a href="{{- confirm_link -}}">{{- confirm_link -}}</a></p>
<br/>
<p>{{- 'mail.confirm_password_reset.expiration'|trans -}}</p>
{%- endblock html_content -%}

