{% extends 'mail/base.twig' %}

{%- block subject_line -%}{{- 'mail.confirm.subject'|trans -}}{%- endblock -%}

{%- block text_noreply_pretext -%}{%- endblock -%}

{%- block text_content -%}
{{- 'mail.confirm.explain'|trans }}

{{ confirm_link }}

{{ 'mail.confirm.expiration'|trans -}}
{%- endblock text_content -%}

{%- block html_noreply_pretext -%}{%- endblock -%}

{%- block html_content -%}
<p>{{- 'mail.confirm.explain'|trans -}}</p>
<br/>
<p><a href="{{- confirm_link -}}">{{- confirm_link -}}</a></p>
<br/>
<p>{{- 'mail.confirm.expiration'|trans -}}</p>
{%- endblock html_content -%}
