{% extends 'mail/base.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'contact.subject'|trans -}}
{%- endblock -%}

{% block html_content -%}
<p>
    {{- message -}}
</p>
<hr />
<p>
    {{- 'contact.explain'|trans({
        '%link_open%': '<a href="' ~ base_url(schema) ~ '">',
        '%link_close%': '</a>',
        '%system_name%': config('systemname', schema)
    })|raw -}}
</p>
{%- include 'mail/include/sender_info.html.twig' -%}
{%- endblock html_content -%}

{% block text_content %}

{{ message }}

- - - - - -
{{ 'contact.explain'|trans({
    '%link_open%': '',
    '%link_close%': '',
    '%system_name%': config('systemname', schema)
})|raw }}

{{ base_url(schema) }}
{% include 'mail/include/sender_info.text.twig' %}
{% endblock text_content %}

{% block html_unsubscribe -%}
{%- include 'mail/unsubscribe/support.html.twig' -%}
{%- endblock html_unsubscribe %}

{% block text_unsubscribe %}
{% include 'mail/unsubscribe/support.text.twig' %}
{% endblock text_unsubscribe %}
