{% macro messages(messages, group, new_message_url, messages_url, s3_img, validate_param) %}
<h3><a href="{{ messages_url }}{{ validate_param }}">Vraag en aanbod</a></h3>
{% if messages %}
<p>Deze lijst bevat vraag en aanbod dat de afgelopen {{ group.saldofreqdays }} dagen online is geplaatst.</p>
<ul>
{% for msg in messages %}
<li><strong><a href="{{ msg.url }}{{ validate_param }}">{% if msg.offer %}Aanbod{% else %}Vraag{% endif %}: {{ msg.content }}</a></strong>
<br>
{% if msg.images|length %}<br><img src="{{ s3_img }}{{ msg.images.0 }}" height="200" alt="afbeelding"><br>{% endif %}
{{ msg.description }}
{% if msg.amount %}<br>(Richt-)prijs: {{ msg.amount }} {{ group.currency }}{% if msg.units %} per {{ msg.units }}{% endif %}{% endif %}
<br>Ingegeven door: <a href="{{ msg.user_url }}{{ validate_param }}">{{ msg.user }}</a>
{% if msg.addr %}<a href="https://www.google.be/maps/place/{{ msg.addr }}">adres</a>
{% if msg.geo is defined and user.geo is defined %}{{ distance_p(user.geo, msg.geo) }}{% endif %} | {% endif %}
{% if msg.postcode %}postcode: {{ msg.postcode }} | {% endif %}
{% for mail in msg.mail %}<a href="mailto:{{ mail }}?subject={{ msg.content|url_encode }}">E-mail</a>
{% if not loop.last %}|{% endif %} {% endfor %}
</li><br>

{% endfor %}
</ul>

{% else %}
<p>Er werd geen nieuw vraag of aanbod online geplaatst.</p>
{% endif %}

<p><a href="{{ new_message_url }}{{ validate_param }}">Geef zelf je eigen vraag of aanbod in.</a></p>

{% endmacro messages %}

{% macro interlets(interlets, url_login, validate_param) %}

{% if interlets %}
<h4>Recent interSysteem vraag en aanbod</h4>

<p><a href="{{ url_login }}{{ validate_param }}">Log in</a> en ga via 'Systeem' in de navigatiebalk naar het betreffende interSysteem voor meer informatie.</p>

{% for grp in interlets %}
<h5>Systeem: {{ grp.group }}</h5>
<ul>
	{% for msg in grp.messages %}
		<li>{% if msg.offer %}Aanbod{% else %}Vraag{% endif %}: {{ msg.content }} <br>
		Ingegeven door: {{ msg.user }} [{{ grp.group }}]</li><br>
	{% endfor %}
</ul>
{% endfor %}

{% endif %}

{% endmacro interlets %}

{% macro forum(forum, forum_url, validate_param) %}

<h3><a href="{{ forum_url }}{{ validate_param }}">Forum</a></h3>

	{% if forum %}
	<ul>
	{% for f in forum %}
	<li><a href="{{ f.url }}{{ validate_param }}">{{ f.subject }}</a>
{#	&nbsp;[{{ msg.new_reply_count }}]  #}
	</li>
	{% endfor %}
	</ul>
	{% else %}
	<p>Er zijn geen nieuwe forumberichten.</p>
	{% endif %}

{% endmacro forum %}

{% macro news(news, option, news_url, validate_param) %}

<h3><a href="{{ news_url }}{{ validate_param }}">Nieuws</a></h3>

{% if news %}
<ul>
{% for n in news %}
<li><a href="{{ n.url }}{{ validate_param }}">{{ n.headline }}</a><br><br>
{{ n.newsitem }}<br><br>
{% if n.location %}Plaats: <strong>{{ n.location }}</strong><br>{% endif %}
{% if n.itemdate %}Datum: <strong>{{ n.itemdate_formatted }}</strong><br>{% endif %}

Ingegeven door: <a href="{{ n.user_url }}{{ validate_param }}">{{ n.user }}</a>
</li><br><br>
{% endfor %}
</ul>
{% else %}
	{% if option == 'recent' %}
	<p>Er zijn geen recente nieuwsberichten.</p>
	{% else %}
	<p>Er zijn geen nieuwe nieuwsberichten.</p>
	{% endif %}
{% endif %}

{% endmacro news %}

{% macro docs(docs, validate_param) %}

<h3>Nieuwe Documenten</h3>

{% if docs %}
<ul>
{% for d in docs %}
<li><a href="{{ d.url }}">{{ d.name }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>Er zijn geen nieuwe documenten.</p>
{% endif %}

{% endmacro docs %}

{% macro new_users(new_users, option, validate_param) %}

<h3>Nieuwe leden</h3>

{% if new_users %}
<ul>
	{% for u in new_users %}
<li><a href="{{ u.url }}{{ validate_param }}">{{ u.text }}</a>{% if u.postcode %} | postcode: {{ u.postcode }}{% endif %}</li>
	{% endfor %}
</ul>
{% else %}
	{% if option == 'recent' %}
		<p>Er zijn geen nieuwe leden bijgekomen.</p>
	{% else %}
		<p>Momenteel zijn er geen nieuwe leden.</p>
	{% endif %}
{% endif %}

{% endmacro new_users %}

{% macro leaving_users(leaving_users, option, validate_param) %}

	<h3>Uitstappende leden</h3>

	{% if leaving_users %}
	<ul>
		{% for u in leaving_users %}
	<li><a href="{{ u.url }}{{ validate_param }}">{{ u.text }}</a>{% if u.postcode %} | postcode: {{ u.postcode }}{% endif %}</li>
		{% endfor %}
	</ul>
	{% else %}
		{% if option == 'recent' %}
			<p>Er zijn geen extra uitstappende leden.</p>
		{% else %}
			<p>Momenteel zijn er geen uitstappende leden.</p>
		{% endif %}
	{% endif %}

{% endmacro leaving_users %}

{% macro transactions(transactions, group, new_transaction_url, transactions_url, validate_param) %}

<h3><a href="{{ transactions_url }}{{ validate_param }}">Recente transacties</a></h3>

{% if transactions %}
<ul>
{% for tr in transactions %}
<li>{{ tr.amount }} {{ group.currency }} van
{% if tr.real_from %}
{{ tr.real_from }} [ {{ tr.from_name }} ]
{% else %}
<a href="{{ tr.from_user_url }}{{ validate_param }}">{{ tr.from_user }}</a>
{% endif %}
naar
{% if tr.real_to %}
{{ tr.real_to }} [ {{ tr.to_name }} ]
{% else %}
<a href="{{ tr.to_user_url }}{{ validate_param }}">{{ tr.to_user }}</a>
{% endif %}
<br>
{{ tr.description }}
</li><br>
{% endfor %}
</ul>
{% else %}
<p>Er zijn geen recente transacties.</p>
{% endif %}

{% endmacro transactions %}

{% macro unsubscribe(account_edit_url, validate_param) %}

<p>Je ontvangt deze E-mail omdat de optie 'Periodieke Overzichts E-mail' aangevinkt staat in je instellingen.
Klik <a href="{{ account_edit_url }}{{ validate_param }}">hier</a> om aan te passen</p>
{% endmacro unsubscribe %}
