{% extends 'mail/base.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'news_admin_approve.subject'|trans -}}
{%- endblock subject_line %}

{% block html_content %}

<h3>
    {{- 'news_admin_approve.title'|trans -}}
</h3>

<p>
    {{- 'news_admin_approve.message'|trans({
        '%subject%': news.headline
    }) -}}
</p>

<p>
    <a href="{{ news_url }}">
        {{- 'news_admin_approve.action'|trans -}}
    </a>
</p>

{% endblock html_content %}

{% block text_content %}

{{ 'news_admin_approve.title'|trans|underline }}

{{ 'news_admin_approve.message'|trans({
    '%subject%': news.headline
}) }}

{{ 'news_admin_approve.action'|trans }}

{{ news_url }}

{% endblock text_content %}

{% block html_unsubscribe -%}
<p>
    {{- 'subscribed.news_admin'|trans({
        '%link_open%': '<a href="' ~ config_url ~ '">',
        '%link_close%': '</a>',
    })|raw -}}
</p>
{%- endblock html_unsubscribe %}

{% block text_unsubscribe %}
{{ 'subscribed.news_admin'|trans({
    '%link_open%': '',
    '%link_close%': '',
}) }}

{{ config_url }}
{% endblock text_unsubscribe %}
