{% extends 'mail/base.twig' %}

{% block subject_line -%}
    {{- 'mail.password_reset.subject'|trans -}}
{%- endblock %}

{%- block html_content -%}
<h3>
    {{- 'mail.password_reset.title'|trans -}}
</h3>

<p>
    {{- 'mail.password_reset.message'|trans -}}
</p>

<p>
    {{- 'label.password'|trans -}}: <strong>{{- password -}}</strong>
</p>
{%- endblock html_content -%}

{% block text_content %}

{{ 'mail.password_reset.title'|trans|underline }}

{{ 'mail.password_reset.message'|trans }}

{{ 'label.password'|trans }}: {{ password }}

{% endblock text_content %}

{% block html_account_info -%}
{%- include 'mail/include/account_info.html.twig' -%}
{% endblock -%}

{% block text_account_info %}
{% include 'mail/include/account_info.text.twig' %}
{% endblock %}