{%- extends 'mail/base.twig' -%}

{%- block subject_line -%}
    {{- 'mail.password_reset_confirm.subject'|trans -}}
{%- endblock subject_line %}

{%- block html_content -%}

<p>
    {{- 'mail.password_reset_confirm.html_msg'|trans({
        '%link_open%': '<a href="' ~ confirm_url ~ '">',
        '%link_close%': '</a>',
        '%system_name%': config('systemname', schema)
    })|raw -}}
</p>

<p>
    {{- 'mail.confirm.expiration_1_day'|trans -}}
</p>

<p>
    {{- 'mail.password_reset_confirm.explain'|trans({
        '%system_name%': config('systemname', schema),
        '%link_open%': '<a href="' ~ base_url(schema) ~ '">',
        '%link_close%': '</a>'
    })|raw -}}
</p>
{%- endblock html_content -%}

{% block text_content %}

{{ 'mail.password_reset_confirm.text_msg'|trans({
    '%system_name%': config('systemname', schema)
}) }}

{{ confirm_url }}

{{ 'mail.confirm.expiration_1_day'|trans }}

{{ 'mail.password_reset_confirm.explain'|trans({
    '%system_name%': config('systemname', schema),
    '%link_open%': '',
    '%link_close%': ''
}) }}

{{ base_url(schema) }}

{% endblock text_content %}

{%- block html_support -%}
{%- include 'mail/include/support.html.twig' -%}
{%- endblock -%}

{% block text_support %}
{% include 'mail/include/support.text.twig' %}
{% endblock %}
