{% extends 'mail/base.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'register_admin.subject'|trans({
        '%full_name%': user.fullname
    }) -}}
{% endblock subject_line %}

{% block html_content %}
<h3>
    {{- 'register_admin.title'|trans -}}
</h3>
<p>
    {{- 'register_admin.msg'|trans -}}:
<br />
<br />
    {{- 'label.full_name'|trans -}}: {{ user.fullname -}}
<br />
    {{- 'label.postcode'|trans -}}: {{ user.postcode -}}
<br />
    {{- 'label.email'|trans -}}: {{ email -}}
<br />
<a href="{{ mail_url('users', {'id': user.id}, schema}) -}}">
    {{- 'label.link'|trans -}}
</a>
</p>
{% endblock html_content %}

{% block text_content %}

{{ 'register_admin.title'|trans|underline }}

{{ 'register_admin.msg'|trans }}:

{{ 'label.full_name'|trans }}: {{ user.fullname }}
{{ 'label.postcode'|trans }}: {{ user.postcode }}
{{ 'label.email'|trans }}: {{ email }}
{{ 'label.link'|trans }}: {{ mail_url('users', {'id': user.id}, schema) }}

{% endblock text_content %}

{% block html_unsubscribe -%}
{%- include 'mail/unsubscribe/admin.html.twig' -%}
{%- endblock html_unsubscribe %}

{% block text_unsubscribe %}
{% include 'mail/unsubscribe/admin.text.twig' %}
{% endblock text_unsubscribe %}
