{% extends 'mail/base.html.twig' %}

{% block body %}

{% if interlets %}
<h3>Notificatie interlets transactie</h3>
{% else %}
<h3>Notificatie transactie</h3>
{% endif %}

<p>Van<br>
<strong>{{ from_user }}</strong></p>

<p>Aan<br>
<strong>{{ to_user }}</strong></p>

<p>Aantal<br>
<strong>{{ amount }} {{ group.currency }}</strong></p>

<p>Omschrijving<br>
<strong>{{ description }}</strong></p>

{#
<p>Transactie id<br>
<strong>{{ transid }}</strong></p>
#}

<p>Link<br>
<a href="{{ transaction_url }}">{{ transaction_url }}</a></p>

{% endblock body %}



