{%- extends 'mail/base.twig' -%}

{% block subject_line -%}
    {{- 'mail.transaction.subject'|trans({
        'from_account': account(from_user_id, schema),
        'to_account': account(to_user_id, schema)
    }) -}}
{%- endblock subject_line -%}

{% block html_content %}

<h3>
    {{- 'mail.transaction.title'|trans -}}
</h3>

<p>
    {{- 'label.from'|trans -}}
    <br>
    <strong>
        {{- account(from_user_id, schema) -}}
    </strong>
</p>

<p>
    {{- 'label.to'|trans -}}
    <br>
    <strong>
        {{- account(to_user_id, schema) -}}
    </strong>
</p>

<p>
    {{- 'label.amount'|trans -}}
    <br>
    <strong>
        {{- amount }} {{ config('currency', schema) }}
    </strong>
</p>

<p>
    {{- 'label.description'|trans -}}
    <br>
    <strong>
        {{- description -}}
    </strong>
</p>

<p>{{- 'mail.transaction.html_link'|trans({
    '%open_link%': '<a href="' ~ transaction_url ~ '">',
    '%close_link%': '</a>'
}) -}}
</p>

{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}

{{ 'mail.transaction.title'|trans|underline }}

{{ 'label.from'|trans }}
{{ account(from_user_id, schema) }}

{{ 'label.to'|trans }}
{{ account(to_user_id, schema) }}

{{ 'label.amount'|trans }}
{{ amount }} {{ config('currency', schema) }}

{{ 'label.description'|trans }}
{{ description }}

{{ 'label.link'|trans }}
{{ transaction_url }}

{% endautoescape %}
{% endblock text_content %}
