{% extends 'mail/base/support.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'contact_form_support.subject'|trans -}}
{%- endblock -%}

{% block html_content -%}
<p>
    {{- message -}}
</p>
<hr />
<p>
    {{- 'contact_form_support.explain'|trans({
        '%link_open%': context_url_open(
            'home', mpp_anon_ary(schema), {}),
        '%link_close%': '</a>',
        '%system_name%': config_str('system.name', schema)
    })|raw -}}
</p>
{%- include 'mail/include/sender_info.html.twig' -%}
{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}

{{ message }}

- - - - - -
{{ 'contact_form_support.explain'|trans({
    '%link_open%': '',
    '%link_close%': '',
    '%system_name%': config_str('system.name', schema)
}) }}

{{ context_url('home', mpp_anon_ary(schema), {}) }}
{% include 'mail/include/sender_info.text.twig' %}
{% endautoescape %}
{% endblock text_content %}
