{%- extends 'mail/base/base.twig' -%}
{%- trans_default_domain 'mail' -%}

{%- block subject_line -%}
    {{- 'contact_confirm.subject'|trans({
        '%system_name%': config('systemname', schema)}) -}}
{%- endblock subject_line %}

{%- block html_content -%}

<p>
    {{- 'contact_confirm.html_msg'|trans({
        '%link_open%': mail_link_open('contact', {'token': token}, schema),
        '%link_close%': '</a>'
    })|raw -}}
</p>

<p>
    {{- 'expiration.1_day'|trans -}}
</p>

<p>
    {{- 'contact_confirm.explain'|trans({
        '%system_name%': config('systemname', schema),
        '%link_open%': mail_link_open('contact', {}, schema),
        '%link_close%': '</a>'
    })|raw -}}
</p>
{%- endblock html_content -%}

{% block text_content %}

{{ 'contact_confirm.text_msg'|trans|raw }}

{{ mail_url('contact', {'token': token}, schema)|raw }}

{{ 'expiration.1_day'|trans|raw }}

{{ 'contact_confirm.explain'|trans({
    '%system_name%': config('systemname', schema),
    '%link_open%': '',
    '%link_close%': ''
})|raw }}

{{ mail_url('contact', {}, schema)|raw }}

{% endblock text_content %}
