{% extends 'mail/base/no_reply.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'contact_copy.subject'|trans({
        '%system_name%': config('systemname', schema)
    }) -}}
{%- endblock -%}

{% block html_content -%}
    <p>
        {{- 'contact_copy.explain'|trans({
            '%system_name%': config('systemname', schema)
        }) -}}
    </p>
    <hr />
    <p>
        {{- message -}}
    </p>
    <hr />
{%- endblock %}

{% block text_content %}

{{ 'contact_copy.explain'|trans({
    '%system_name%': config('systemname', schema)
})|raw }}
- - - - - -

{{ message|raw }}

- - - - - -
{% endblock -%}
