{%- extends 'base/sidebar.html.twig' -%}

{%- block heading_fa -%}sign-in{%- endblock -%}
{%- block heading_title -%}
    {{- 'login.title'|trans -}}
{%- endblock -%}

{%- block heading -%}
    <h1>
    <i class="fa fa-sign-in"></i>
    {{ 'login.title'|trans -}}
    </h1>
{%- endblock heading -%}

{%- block content -%}

{%- embed 'form/embed.html.twig' -%}
    {%- import 'macro/link.html.twig' as l -%}
    {%- block form_content -%}

    {{- form_row(form.login, {
        'label': 'login.login',
        'explain': 'login.login_explain',
        'addon_fa': 'user',
        'attr': {'minlength': 2, 'maxlength': 60}
    }) -}}

    {{- form_row(form.password, {
        'label': 'label.password',
        'explain_raw': l.pp_link('password_reset_request', {}, 'login.password_reset_request_link'),
        'attr': {'minlength': 5, 'maxlength': 60}
    }) -}}

    {{- form_widget(form.submit,{
        'label': 'login.btn',
        'attr': {'class': 'btn-info'}
    }) -}}

    {%- endblock form_content -%}
{%- endembed -%}
{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}