{%- extends 'users/base/users_base.html.twig' -%}
{%- form_theme form 'form_3.html.twig' -%}

{%- block heading_title -%}
    {{- 'users_modules.title'|trans -}}
{%- endblock heading_title -%}

{%- block content -%}

<div class="panel panel-info">
    <div class="panel-heading">

    {{- form_start(form) -}}
    <div class="custom-checkbox">

    {#

    {{- form_row(form.users_new_enabled, {
        'label': 'Instappers',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.users_leaving_enabled, {
        'label': 'Uitstappers',
        'translation_domain': false,
        'required': false
    }) -}}

    #}

    {{- form_row(form.users_fields_full_name_enabled, {
        'label': 'Volledige naam',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.users_fields_postcode_enabled, {
        'label': 'Postcode',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.users_fields_birthday_enabled, {
        'label': 'Geboortedatum',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.users_fields_hobbies_enabled, {
        'label': 'Hobbies',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.users_fields_comments_enabled, {
        'label': 'Commentaar',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.users_fields_admin_comments_enabled, {
        'label': 'Commentaar van de admin',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.periodic_mail_enabled, {
        'label': 'Periodiek overzicht (e-mail)',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.intersystem_enabled, {
        'label': 'InterSysteem',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.mollie_enabled, {
        'label': 'Mollie betaalverzoeken',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_widget(form.submit, {
        'label': 'Aanpassen',
        'attr': {'class': 'btn-primary btn-lg'},
        'translation_domain': false
    }) -}}

    <input type="hidden" name="form_token" value="{{ form_token }}">
    </div>
    {{- form_end(form) -}}

    </div>
</div>
{%- endblock content -%}
