{%- extends 'users/base/users_form.html.twig' -%}
{%- import 'macro/anchor.html.twig' as a -%}

{%- block heading_title -%}
    {{- 'users_config_new.title'|trans -}}
{%- endblock heading_title -%}

{%- block heading_fa -%}
    user-plus
{%- endblock heading_fa -%}

{%- block form_a -%}
    {{- form_row(form.days, {
        'label': 'users_config_new.days.label',
        'pre_addon': {
            'text': 'label.days'|trans
        },
        'attr': {'min': 1}
    }) -}}

    {%- if form.access is defined -%}
        {{- form_row(form.access, {
            'label': 'users_config_new.access.label'
        }) -}}
    {%- endif -%}

    {%- if form.access_list is defined -%}
        {{- form_row(form.access_list, {
            'label': 'users_config_new.access_list.label'
        }) -}}
    {%- endif -%}

    {%- if form.access_pane is defined -%}
        {{- form_row(form.access_pane, {
            'label': 'users_config_new.access_pane.label'
        }) -}}
    {%- endif -%}

    {%- if config_bool('periodic_mail.enabled', schema) -%}
        <p>
            {{- 'users_config_new.periodic_mail.help'|trans({
                    '%open_link%': a.open_context_path('users_periodic_mail'),
                    '%close_link%': a.close()
                })|raw
            -}}
        </p>
    {%- endif -%}
{%- endblock form_a -%}
