{%- extends 'users/users_password_base.html.twig' -%}

{%- block heading_title -%}
    {{- 'users_password_set.title'|trans -}}
{%- endblock -%}

{%- block heading -%}
    <h1>
    <i class="fa fa-key"></i>
    {{ 'users_password_set.title'|trans -}}
    </h1>
{%- endblock heading -%}

{%- block content -%}

{%- embed 'form/embed.html.twig' -%}
    {%- import 'macro/link.html.twig' as l -%}
    {%- block form_content -%}

    {{- form_row(form.password, {
        'label': 'label.new_password',
        'explain': 'explain.new_password_safety'
    }) -}}

    {{- form_row(form.notify, {
        'label': 'label.send_notification_email',
        'disabled': not notify_enabled,
        'label_attr': {'class': 'checkbox-custom'}
    }) -}}

    {{- form_widget(form.submit,{
        'label': 'btn.save_password',
        'attr': {'class': 'btn-primary'}
    }) -}}

    {%- endblock form_content -%}
{%- endembed -%}
{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
    {{- encore_entry_script_tags('generate_password') -}}
{%- endblock js -%}