{%- extends 'base/navbar.html.twig' -%}
{%- form_theme form 'form_3.html.twig' -%}

{%- block content -%}

<div class="panel panel-info">
    <div class="panel-heading">

    {{- form_start(form) -}}
    <div class="custom-checkbox">

    {{- form_row(form.users_new_enabled, {
        'label': 'Instappers',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.users_leaving_enabled, {
        'label': 'Uitstappers',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.intersystem_enabled, {
        'label': 'Intersysteem',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_row(form.mollie_enabled, {
        'label': 'Mollie betaalverzoeken',
        'translation_domain': false,
        'required': false
    }) -}}

    {{- form_widget(form.submit, {
        'label': 'Aanpassen',
        'attr': {'class': 'btn-primary btn-lg'},
        'translation_domain': false
    }) -}}

    <input type="hidden" name="form_token" value="{{ form_token }}">
    </div>
    {{- form_end(form) -}}

    </div>
</div>
{%- endblock content -%}
