{%- extends 'users/base/users_single_base.html.twig' -%}

{%- block assets_add -%}
    {{- parent() -}}
    {{- assets_add(['leaflet', 'contacts_user_map.js']) -}}
    {{- assets_add(['jqplot', 'transactions_plot_user.js']) -}}
    {%- if pp_is_admin() or su_is_owner(id) -%}
        {{- assets_add(['fileupload', 'upload_image.js']) -}}
    {%- endif -%}
    {%- if tags_form is defined and tags_form is not null -%}
        {{- assets_add(['tagsinput', 'tagsinput.js']) -}}
    {%- endif -%}
{%- endblock assets_add -%}

{%- block btn_top_edit -%}
    {%- if pp_is_admin() -%}
        {%- include 'include/btn_top/edit.html.twig' with {
            'btn_route': 'users_edit'
        } -%}
    {%- elseif su_is_owner(id) -%}
        {%- include 'include/btn_top/edit.html.twig' with {
            'btn_route': 'users_edit_self',
            'btn_title': 'users_edit_self.title'
        } -%}
    {%- endif -%}
{%- endblock btn_top_edit -%}

{%- block btn_top_del -%}
    {%- if pp_is_admin() and count_transactions is same as 0 and not su_is_owner(id) -%}
        {%- include 'include/btn_top/del.html.twig' with {
            'btn_route': 'users_del',
            'btn_title': 'users_del.title',
            'btn_title_trans_params': {
                'user': account(id, schema)
            }
        } -%}
    {%- endif -%}
{%- endblock btn_top_del -%}

{%- block btn_top_password_edit -%}
    {%- if pp_is_admin() or su_is_owner(id) -%}
        {%- include 'include/btn_top/password_edit.html.twig' with {
            'btn_route': 'users_password_edit' ~ (su_is_owner(id) ? '_self' : ''),
            'btn_title': 'users_password_edit.title',
            'btn_title_trans_params': {
                'user': account(id, schema),
                'self': is_self ? 'self' : 'some_user'
            }
        } -%}
    {%- endif -%}
{%- endblock btn_top_password_edit -%}

{%- block btn_top_transaction -%}
    {%- if config_bool('transactions.enabled', schema)
        and config_bool('transactions.enabled', su_schema())
        and (pp_is_admin() or not su_is_owner(id))  -%}
        {%- include 'include/btn_top/transaction.html.twig' with {
            'btn_route': 'transactions_add',
            'btn_route_params': su_ary()|merge({'tuid': id, 'tus': schema}),
            'btn_title': 'btn.transaction_to',
            'btn_title_trans_params': {
                'user': account(id, schema)
            }
        } -%}
    {%- endif -%}
{%- endblock btn_top_transaction -%}

{%- block btn_item_nav -%}
    {%- include 'include/nav/nav_btn_group.html.twig' with {
        'nav_route': 'users_show',
        'overview_route': 'users',
        'fa': 'users',
        'nav_route_params': pp_ary()|merge({'status': status}),
    } -%}
{%- endblock btn_item_nav -%}

{%- block heading_title -%}
    {{- 'users_show.title'|trans({
        'self': is_self ? 'self' : 'other',
        'user': account(id, schema),
    }) -}}
    {{- account_status(id, schema)|raw -}}
    {# intersystem link here #}
    {#
    {%- if pp_is_admin() -%}
        {%- if intersystem_missing -%}
            &nbsp;
            <small>
                <span class="label label-warning">
                    <i class="fa fa-exclamation-triangle"></i>
                    &nbsp;
                    {{- 'users_show.intersystem_missing'|trans -}}
                </span>
            </small>
        {%- elseif intersystem_id -%}
            &nbsp;
            <a href="{{- link('intersystems_show', {'id': intersystem_id}) -}}" class="btn btn-default">
                <i class="fa fa-share-alt"></i>
                &nbsp;
                {{- 'users_show.coupled_intersystem'|trans -}}
            </a>
        {%- endif -%}
    {%- endif -%}
    #}
{%- endblock heading_title -%}

{%- block tags -%}
    {%- include 'form/tags.html.twig' with {
        'help': 'tags_users.help.only_for_admins'
    } -%}
{%- endblock tags -%}

{%- block content -%}
    <div class="row">
        <div class="col-sm-4">
            {%- include 'users/users_show/image_panel.html.twig' -%}
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <ul class="list-group">
                    {%- include 'users/users_show/full_name.html.twig' -%}
                    {%- include 'users/users_show/role.html.twig' -%}
                    {%- include 'users/users_show/balance.html.twig' -%}
                    {%- include 'users/users_show/postcode.html.twig' -%}
                    {%- include 'users/users_show/birthdate.html.twig' -%}
                    {%- include 'users/users_show/hobbies.html.twig' -%}
                    {%- include 'users/users_show/comments.html.twig' -%}
                    {%- include 'users/users_show/admin_comments.html.twig' -%}
                    {%- include 'users/users_show/history.html.twig' -%}
                    {%- include 'users/users_show/periodic_overview.html.twig' -%}
                </ul>
            </div>
        </div>
    </div>

    {%- block mail_contact_form_panel -%}
        <h3>
            <span class="fa fa-envelope-o"></span>&nbsp;
            {{- 'users_show.mail_contact.title'|trans({
                'user': account(id, schema)
            }) -}}
        </h3>
        {%- embed 'embed/mail_contact_form.html.twig' -%}
        {%- endembed -%}
    {%- endblock mail_contact_form_panel -%}

    {%- block user_contacts_table -%}
        {{- user_contacts_table_raw|raw -}}
    {%- endblock user_contacts_table -%}

    {%- block transactions_messages_panel -%}
        {{- transactions_messages_raw|raw -}}
    {%- endblock transactions_messages_panel -%}

{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
    {{- encore_entry_link_tags('fileupload') -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
	{{- encore_entry_script_tags('fileupload') -}}
{%- endblock js -%}