{%- extends 'base/offcanvas.html.twig' -%}

{%- import 'macro/flash.html.twig' as f -%}

{%- block main -%}
	{%- block flash -%}
		{{- f.flash() -}}
	{%- endblock flash -%}

	{%- block top_buttons_before -%}{%- endblock -%}

	<div class="row">
        <div class="col-md-12 top-buttons">
            <div class="pull-left button-offcanvas">
                <button type="button" class="btn btn-outline-primary d-md-none" data-toggle="offcanvas" title="{{- 'label.menu'|trans -}}">
                    <i class="fa fa-bars"></i>
                </button>&nbsp;</div>

                {%- block top_buttons -%}{%- endblock -%}
                {%- block top_buttons_right -%}{%- endblock -%}
                {%- block columns -%}{%- endblock -%}
            </div>
        </div>

        {%- block top_buttons_after -%}{%- endblock -%}

        {%- block heading_container -%}
            <h1>
                {%- block heading_pre -%}{%- endblock -%}
                {%- block heading_fa_container -%}
                <i class="fa fa-{%- block fa -%}{{- menu_el['fa'] -}}{%- endblock -%}">
                </i> {% endblock heading_fa_container -%}
                {%- block heading -%}
                    {{- menu_el['title']|trans -}}
                {%- endblock heading -%}
                {%- if filtered is defined and filtered -%}
                    &nbsp;
                    <span class="small text-secondary">
                        {{- 'tag.filtered'|trans -}}
                    </span>
                {%- endif -%}
                {%- block heading_post -%}{%- endblock -%}
                {%- block heading_right -%}{%- endblock -%}
            </h1>
        {%- endblock heading_container -%}

        {%- block text_top -%}{%- endblock -%}

        {%- block pre_inner -%}{%- endblock -%}
        {%- block inner -%}{%- endblock -%}
        {%- block post_inner -%}{%- endblock -%}

        {%- block text_bottom -%}{%- endblock -%}

	</div>
{%- endblock main -%}
