<!DOCTYPE html>
<html>
<head>
  <title>{{ config.systemname }}</title>
{#  <link type="text/css" rel="stylesheet" href="{{css.bootstrap}}" media="screen">
  <link type="text/css" rel="stylesheet" href="{{css.fontawesome}}" media="screen">
  <link type="text/css" rel="stylesheet" href="{{css.footable}}" media="screen">
  <link type="text/css" rel="stylesheet" href="base.css" media="screen">
  <link type="text/css" rel="stylesheet" href="print.css" media="print">
  {% for css in includecss %}
    <link type="text/css" rel="stylesheet" href="{{css}}" media="screen">
  {% endfor %}
  {% if config.css %}
    <link type="text/css" rel="stylesheet" href="' . $css . '" media="screen">
  {% endif %}
#}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">

{% if not s_anonymous %}
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
	<span class="sr-only"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
{% endif %}
<a href="" class="pull-left hidden-xs"><div class="logo"></div></a>
<a href="" class="navbar-brand">{{config.systemname}}</a>
</div>

{% if not s_anonymous %}
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	<span class="fa fa-user"></span>
	{% if s_group_self %}{{s_schema}}{% endif %}
	{% if master %}master{% endif %}
	<a href="" >{{user}}</a>
	($s_group_self) ? '' : $s_schema . '.
	<span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
	{% if s_user or s_admin %}
		<li>' . aphp('users', 'id=' . $s_id, 'Mijn gegevens', false, false, 'user') . '</li>
		<li>' . aphp('messages', 'uid=' . $s_id, 'Mijn vraag en aanbod', false, false, 'newspaper-o') . '</li>
		<li>' . aphp('transactions', 'uid=' . $s_id, 'Mijn transacties', false, false, 'exchange') . '</li>
		<li class="divider"></li>
	{% endif %}
	<li>' . aphp('logout', '', 'Uitloggen', '', '', 'sign-out') . '</li>
	</ul>
	</li>
	{% if s_admin %}
	{% endif %}
	if ($s_admin)
	{
		$menu = array(
			'categories'	 				=> array('clone', 'Categorieën'),
			'apikeys'						=> array('key', 'Apikeys'),
			'type_contact'					=> array('circle-o-notch', 'Contact types'),
			'contacts'						=> array('map-marker', 'Contacten'),
			'config'						=> array('gears', 'Instellingen'),
			'export'						=> array('download', 'Export'),
			'autominlimit'					=> array('arrows-v', 'Auto min limiet'),
			'mass_transaction'				=> array('exchange', 'Massa-Transactie'),
			'logs'							=> array('list', 'Logs'),
		);

		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"
		role="button" aria-expanded="false">
		<span class="fa fa-cog"></span>
		Admin modus
		<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
		foreach ($menu as $link => $label)
		{
			$active = ($app['script_name'] == $link) ? ' class="active"' : '
			<li' . $active . '>
			 aphp($link, '', $label[1], false, false, $label[0]);
			</li>
		}
		<li class="divider"></li>
		$user_url = ($access_page == 0) ? 'messages.php' : parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH);
		$get_params = $_GET;
		$get_params['r'] = 'user
		<li>
		<a href="' . $user_url . '?' . http_build_query($get_params) . '"><i class="fa fa-times"></i>
		 Admin modus uit</a>
		</li>
		</ul>
		</li>
	}
	else if ($_SESSION['accountrole'] == 'admin')
	{
		<li class="dropdown">
		$admin_url = parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH);
		$get_params = $_GET;
		$get_params['r'] = 'admin

		<a href="' . $admin_url . '?' . http_build_query($get_params) . '"
		title="Admin modus inschakelen">
		<span class="fa fa-times text-danger"></span>
		Admin modus
		</a>
	}
	</ul>
	</div>
{% endif %}

</div>
</div>

<div class="row-offcanvas row-offcanvas-left">
<div id="sidebar" class="sidebar-offcanvas">


{% if s_anonymous %}
	$menu = array(
		'login'		=> array('sign-in', 'Login'),
		'help'		=> array('ambulance', 'Help'),
	);

	if ($app['config']->get('registration_en'))
	{
		$menu['register'] = array('check-square-o', 'Inschrijven');
	}
{% else %}
	$menu = array(
		'messages'				=> array('newspaper-o', 'Vraag & Aanbod', 'view=' . $view_messages),
		'users'					=> array('users', (($s_admin) ? 'Gebruikers' : 'Leden'), 'status=active&view=' . $view_users),
		'transactions'			=> array('exchange', 'Transacties'),
		'news'					=> array('calendar-o', 'Nieuws', 'view=' . $view_news),
	);

	if ($s_user || $s_admin)
	{
		$menu['interlets'] = array('share-alt', 'InterLETS');
	}

	$menu['docs'] = array('files-o', 'Documenten');

	if ($app['config']->get('forum_en'))
	{
		$menu['forum'] = array('comments-o', 'Forum');
	}

	if ($s_user || $s_admin)
	{
		$menu['help'] = array('ambulance', 'Probleem melden');
	}
{% endif %}

<br>
<ul class="nav nav-pills nav-stacked">

foreach ($menu as $link => $label)
{
	$active = ($app['script_name'] == $link) ? ' class="active"' : '
	<li' . $active . '>
	 aphp($link, (isset($label[2])) ? $label[2] : '',
		$label[1], false, false, $label[0]);
	</li>
}
</ul>

</div>

$class_admin = ($role == 'admin') ? ' admin' : '

<div id="wrap">
<div id="main" class="container-fluid clear-top' . $class_admin . '">

$alert->render();

<div class="row">
<div class="col-md-12 top-buttons">
<div class="visible-xs pull-left button-offcanvas">
<button type="button" class="btn btn-primary btn-md " data-toggle="offcanvas"
 title="Menu"><i class="glyphicon glyphicon-chevron-left"></i></button>
</div>
 (isset($top_buttons)) ? $top_buttons : '
</div>
</div>

if (isset($top_right))
{
	<div class="pull-right hidden-xs">
	 $top_right;
	</div>
}

if (isset($h1))
{
	<h1>
	 ($role == 'admin' || $s_admin) ? '<small><span class="label label-info">Admin</span></small> ' : '
	 (isset($fa)) ? '<i class="fa fa-' . $fa . '"></i> ' : '
	 $h1 . '</h1>
}

{% block container %}{% endblock container %}

</div>


<footer class="footer">

<p><a href="http://letsa.net">eLAND
</a>&nbsp; web app voor gemeenschapsmunten</p>

<p><b>Rapporteer bugs in de <a href="https://github.com/eeemarv/eland/issues">Github issue tracker</a>.
</b>
 (Maak eerst een <a href="https://github.com">Github</a> account aan.)</p>

</footer>


<script src="' . $cdn_jquery . '"></script>
<script src="' . $cdn_bootstrap_js . '"></script>
<script src="' . $cdn_footable_js . '"></script>
<script src="' . $cdn_footable_sort_js . '"></script>
<script src="' . $cdn_footable_filter_js . '"></script>

<script src="' . $rootpath . 'js/base.js"></script>

if (isset($includejs))
{
	echo $includejs;
}

</body>
</html>
