{%- extends 'base/navbar.html.twig' -%}

{%- block heading_fa -%}comments-o{%- endblock -%}
{%- block heading_title -%}
    {%- if s_is_owner(forum_post.user_id) -%}
        {{ 'forum_del_post.title.personal'|trans({
            '%topic_subject%': forum_topic.subject
        }) -}}
    {%- else -%}
        {{ 'forum_del_post.title.admin'|trans({
            '%topic_subject%': forum_topic.subject,
            '%user%': account(forum_post.user_id, schema)
        }) -}}
    {%- endif -%}
{%- endblock -%}

{%- block heading -%}
    <h1>
    <i class="fa fa-comments-o"></i>&nbsp;
    {%- if s_is_owner(forum_post.user_id) -%}
        {{ 'forum_del_post.title.personal'|trans({
            '%topic_subject%': forum_topic.subject
        }) -}}
    {%- else -%}
        {{ 'forum_del_post.title.admin'|trans({
            '%user%': account(forum_post.user_id, schema),
            '%topic_subject%': forum_topic.subject
        }) -}}
    {%- endif -%}
    </h1>
{%- endblock heading -%}

{%- block content -%}

{%- embed 'form/embed.html.twig' -%}
    {%- import 'macro/btn_link.html.twig' as bl -%}
    {%- import 'macro/object_info.html.twig' as oi -%}
    {%- block form_content -%}

    {{- forum_post.content|raw -}}

    <p>
        {{- oi.object_info(forum_post.user_id, forum_post.created_at, null, schema) -}}
    </p>

    {{- bl.cancel('forum_topic', {'id': forum_topic.id}) -}}

    {{- form_widget(form.submit,{
        'label': 'btn.delete',
        'attr': {'class': 'btn-danger'}
    }) -}}

    {%- endblock form_content -%}
{%- endembed -%}

{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}