{%- macro lbl(access) -%}
    {%- import _self as s -%}
    {{- s.span(access, 'lbl') -}}
{%- endmacro lbl -%}

{%- macro btn(access) -%}
    {%- import _self as s -%}
    {{- s.span(access, 'btn') -}}
{%- endmacro btn -%}

{%- macro span(access, type) -%}
    {%- set class = {
        'public': 'danger',
        'guest': 'warning',
        'user': 'default border border-secondary-li',
        'admin': 'info'
    } -%};
    <span class="{{- type }} {{ type -}}-{{- class[access] -}}" title="{{- ('access.' ~ access ~ '_explain')|trans -}}">
        {{- ('access.' ~ access)|trans -}}
    </span>
{%- endmacro span -%}

{%- macro p_lbl(access) -%}
    {%- import _self as s -%}
    <p>
        {{- 'access.visible_for_access'|trans({
            '%access%': s.lbl(access)
        })|raw -}}
    </p>
{%- endmacro p_lbl -%}

{%- macro dt_lbl(access) -%}
    {%- import _self as s -%}
    <dt>
        {{- 'access.visible_for'|trans -}}
    </dt>
    <dd>
        {{- s.lbl(access) -}}
    </dd>
{%- endmacro -%}