{%- macro cancel(route, params) -%}
    {%- import _self as b -%}
    {{- b.btn_link(route, params,
        'btn btn-lg btn-default border border-secondary-li',
        'btn.cancel') -}}
{%- endmacro cancel -%}

{%- macro primary(route, params, label) -%}
    {%- import _self as b -%}
    {{- b.btn_link(route, params,
        'btn btn-lg btn-primary text-white',
        label) -}}
{%- endmacro primary -%}

{%- macro info(route, params, label) -%}
    {%- import _self as b -%}
    {{- b.btn_link(route, params,
        'btn btn-lg btn-info',
        label) -}}
{%- endmacro info -%}

{%- macro edit(route, params) -%}
    {%- import _self as b -%}
    {{- b.btn_link_fa(route, params, 'btn btn-primary', 'btn.edit', 'pencil') -}}
{%- endmacro edit -%}

{%- macro del(route, params) -%}
    {%- import _self as b -%}
    {{- b.btn_link_fa(route, params, 'btn btn-danger', 'btn.delete', 'times') -}}
{%- endmacro del -%}

{%- macro add(route, params) -%}
    {%- import _self as b -%}
    {{- b.btn_link_fa(route, params, 'btn btn-success', 'btn.add', 'plus') -}}
{%- endmacro add -%}

{%- macro btn_link(route, params, class, label) -%}
    {%- import 'macro/link.html.twig' as l %}
    <a href="{{- l.pp_path(route, params) -}}" class="{{- class -}}">
        {{- label|trans -}}
    </a>&nbsp;
{%- endmacro btn_link -%}

{%- macro btn_link_fa(route, params, class, label, fa) -%}
    {%- import 'macro/link.html.twig' as l %}
    <a href="{{- l.pp_path(route, params) -}}" class="{{- class -}}">
        <i class="fa fa-{{- fa -}}"></i>&nbsp;
        <span class="d-none d-lg-inline">
            {{- label|trans -}}
        </span>
    </a>&nbsp;
{%- endmacro btn_link_fa -%}
