{%- macro dl(id, label) -%}
    {%- import _self as s -%}
    <dl>
        <dt>
            {{- label|trans -}}
        </dt>
        <dd>
            {{- s.btn(id) -}}
        </dd>
    </dl>
{%- endmacro dl -%}

{%- macro btn(id, count) -%}
    {%- set render = {
        'anonymous': {
            'class': 'danger',
            'title' : 'access.anonymous.title',
            'label': 'access.anonymous.label'
        },
        'guest': {
            'class': 'warning',
            'title': 'access.guest.title',
            'label': 'access.guest.label'
        },
        'user': {
            'class': 'default',
            'title': 'access.user.title',
            'label': 'access.user.label'
        },
        'admin': {
            'class': 'info',
            'title': 'access.admin.title',
            'label': 'access.admin.label',
        },
        'offer': {
            'class': 'default',
            'label': 'label.offer',
        },
        'want': {
            'class': 'default-2',
            'label': 'label.want'
        },
        'temporal': {
            'class': 'default',
            'label': 'label.temporal'
        },
        'permanent': {
            'class': 'default-2',
            'label': 'label.permanent'
        },
        'valid': {
            'class': 'default',
            'label': 'label.valid'
        },
        'expired': {
            'class': 'danger',
            'label': 'label.expired'
        },
        'service': {
            'class': 'default',
            'label': 'service_stuff.service.label'
        },
        'stuff': {
            'class': 'default-2',
            'label': 'service_stuff.stuff.label'
        },
        'null_service_stuff': {
            'class': 'danger',
            'label': 'service_stuff.null_service_stuff.label',
            'title': 'service_stuff.null_service_stuff.title'
        },
        'active': {
            'class': 'default',
            'label': 'status.active'
        },
        'new': {
            'class': 'success',
            'label': 'status.new'
        },
        'leaving': {
            'class': 'danger',
            'label': 'status.leaving'
        },
        'open': {
            'class': 'warning',
            'label': 'mollie.status.open'
        },
        'paid': {
            'class': 'success',
            'label': 'mollie.status.paid'
        },
        'canceled': {
            'class': 'default-2',
            'label': 'mollie.status.canceled'
        }
    } -%}

    <span class="btn btn-{{- render[id].class -}}"{%- if render[id].title is defined %} title="{{- render[id].title|trans -}}"{%- endif -%}>
        {{- render[id].label|trans -}}{%- if count %} ({{- count -}}){%- endif -%}
    </span>
{%- endmacro btn -%}
