{%- macro thead(columns, col_format, route, all_params, sort) -%}
    {%- for c in columns -%}
        <th{%- if col_format[c].hide is defined %} data-hide="{{- col_format[c].hide -}}"{%- endif -%}>
        {%- if sort.columns[c] is defined -%}
            {%- set order = sort.col == c ? (sort.order == 'asc' ? 'desc' : 'asc') : sort.columns[c] -%}
            <a href="{{- path(route, all_params|merge({'s':{'col': c, 'order': order}, 'p':{'start': null, 'limit': all_params.p.limit ?? null}})) -}}">
        {%- endif -%}
        {{- col_format[c]['lbl']|trans({'%var%': col_format[c].lbl_var|default('')}) -}}
        {%- if sort.columns[c] is defined %} <i class="fa fa-sort{%- if c == sort.col -%}-{{- sort.order -}}{%- endif -%}">
        </a>
        {%- endif -%}
        </th>
    {%- endfor -%}
{%- endmacro thead %}

{%- macro tbody(rows, columns, col_format, schema) -%}
    {%- import 'macro/lbl.html.twig' as lbl -%}
    {%- for row in rows -%}
    <tr{%- if row.class is defined %} class="{{- row.class -}}"{%- endif -%}>
    {%- for c in columns -%}
        <td>
        {%- if col_format[c].route is defined -%}
            <a href="{{ path(col_format[c].route.name, pp_ary()|merge({'id': row.id})) }}">
            {{- row[c] ?? '&nbsp;' -}}
            </a>
        {%- elseif col_format[c].render is defined -%}
            {%- if col_format[c].render.type == 'date_format' -%}
                {{- ((row[c]) ?? '')|date_format(col_format[c].render.precision) -}}
            {%- elseif col_format[c].render == 'user' -%}
                {{- account(row.user_id, schema)|raw -}}
            {%- elseif col_format[c].render == 'access' -%}
                {{- lbl.lbl(row[c]) -}}
            {%- elseif col_format[c].render == 'yes_no' -%}
                {%- if row[c] -%}{{- 'bool.yes'|trans -}}{%- else -%}{{- 'bool.no'|trans -}}{%- endif -%}
            {%- elseif col_format[c].render == 'input' -%}
                {{- form_widget(row[c]) -}}
            {%- endif -%}
        {%- else -%}
            {{- row[c] ?? '&nbsp;' -}}
        {%- endif -%}
        </td>
    {%- endfor -%}
    </tr>
    {%- endfor -%}
{%- endmacro tbody %}

{%- macro th(trans_key, attr) -%}
    <th{%- for k, v in attr|default({}) %} {{ k }}="{{ v }}"{%- endfor -%}>
        {{- trans_key|trans -}}
    </th>
{%- endmacro th -%}

{%- macro td(v) -%}
    <td>{{- v -}}</td>
{%- endmacro td -%}

{%- macro td_pp_link(route, params, label) -%}
    <td>
        <a href="{{- path(route, pp_ary()|merge(params)) -}}">
            {{- label -}}
        </a>
    </td>
{%- endmacro td_pp_link -%}

{%- macro td_account_pp_link(user_id, schema) -%}
    <td>
        <a href="{{- path('users_show' ~ (pp_role('admin') ? '_admin' : '') , pp_ary()|merge({'id': user_id})) -}}">
            {{- account(user_id, schema) -}}
        </a>
    </td>
{%- endmacro td_account_pp_link -%}

{%- macro td_date_format(date, precision, schema) -%}
    <td>
        {{- date|date_format(precision, schema) -}}
    </td>
{%- endmacro td_date_format -%}

{%- macro td_access(access) -%}
    {%- import 'macro/lbl.html.twig' as lbl -%}
    <td>
        {{- lbl.lbl(access) -}}
    </td>
{%- endmacro td_access -%}
